{% from "_macro/form" import categoryId, errorList %}

<br>
<label for="primaryTopic">Topic</label>
{% set primaryTopicId = entry is defined ? categoryId(entry, "primaryTopic") : 0 %}
<select id="primaryTopic" name="fields[primaryTopic][]" class="array">
  <option value=""></option>
{% for option in craft.categories.group('topics') %}
  <option value="{{ option.id }}" {%- if option.id == primaryTopicId %}selected{% endif %}>{{ option.title }}</option>
{% endfor %}
</select>
{% if entry is defined %}
  {{ errorList(entry.getErrors('primaryTopic')) }}
{% endif %}
