{% set topics = craft.categories.group('topics').find %}

{% set maxTopics = 5 %}
{% set topicsAdded = 0 %}
{% set hideAddLink = false %}

{% if entry is defined %}
  {% set topicsAdded =  entry.secondaryTopics | length %}
{% endif %}

<input type="hidden" name="fields[secondaryTopics]">

{% for i in 1..maxTopics %}
  {% set topic = false %}
  {% set topicId = false %}

  {% if topicsAdded >= i %}
    {% set topic = entry.secondaryTopics.nth(i-1) %}
    {% if topic %}
      {% set topicId = topic.id %}
    {% endif %}
  {% endif %}

  {% if not topic %}
    <a href="#" class="optional-category-field add" data-id="topic-{{ i }}" {% if hideAddLink %}style="display: none;"{% endif %}>Add another Topic</a>
    {% set hideAddLink = true %}
  {% endif %}

  <div class="optional-category-field inputs" id="topic-{{ i }}" {%- if not topicId %}style="display: none;"{% endif %}>
    <label>Other Topic</label>

    <select name="fields[secondaryTopics][]" class="array">
  <optgroup label="">
      <option value="">Select another Topic</option>
      {% for option in topics %}
        <option value="{{ option.id }}" {%- if option.id == topicId %}selected{% endif %}>{{ option.title }}</option>
      {% endfor %}
  </optgroup>
    </select>

    {% if topic %}
      {{ f.errorList(topic.allErrors) }}
    {% endif %}

    <a href="#" class="optional-category-field remove" data-id="topic-{{ i }}">Remove topic</a>
    <br>
  </div>
{% endfor %}
