{% set maxTopics = 5 %}
{% set topicsAdded = 0 %}
{% set hideAddLink = false %}

{% if entry is defined %}
  {% set topicsAdded =  entry.secondaryTopics | length %}
{% endif %}

<input type="hidden" name="fields[secondaryTopics]">
<label for="">Other Topic</label>

{% for i in 1..maxTopics %}
  {% set topic = false %}
  {% set topicId = false %}

  {% if topicsAdded >= i %}
    {% set topic = entry.secondaryTopics.nth(i-1) %}
    {% if topic %}
      {% set topicId = topic.id %}
    {% endif %}
  {% endif %}

  {% if not topic %}
    <a href="#" class="multiple-field add" id="add-topic-{{ i }}" {% if hideAddLink %}style="display: none;"{% endif %}>Add another Topic</a>
    {% set hideAddLink = true %}
  {% endif %}

  <div class="multiple-field inputs" id="input-topic-{{ i }}" {%- if not topicId %}style="display: none;"{% endif %}>
    <select name="fields[secondaryTopics][]" class="array">
      <option value="">Select another Topic</option>
    {% for option in craft.categories.group('topics') %}
      <option value="{{ option.id }}" {%- if option.id == topicId %}selected{% endif %}>{{ option.title }}</option>
    {% endfor %}
    </select>

    {% if topic %}
      {{ f.errorList(topic.allErrors) }}
    {% endif %}

    <a href="#" class="multiple-field remove" id="remove-topic-{{ i }}">Remove topic</a>
  </div>
{% endfor %}
