{% set tagGroupId = 2 %}

<input type="hidden" name="fields[topicTags]" value="">
<br>

<label>Add topic tag</label>
<input type="text" id="find-topic-tag">
<a href="#" id="add-topic-tag">Create new</a>

<div id="topic-tags">
{% if entry is defined %}
  {% for tag in entry.topicTags %}
    <label>
      <input type="checkbox" name="fields[topicTags][]" value="{{ tag.id }}" checked="checked">{{ tag.title }}
    </label>
  {% endfor %}
{% endif %}
</div>

{% set addTag %}
  $(function() {
      $('#find-topic-tag').tags();
  });
{% endset %}

{% includeJs addTag %}
