{% from "_macro/form" import errorList %}

{% set maxDocuments = 3 %}
{% set documentsAdded = 0 %}
{% set hideAddLink = false %}

{% if entry is defined %}
  {% set documentsAdded =  entry.blogDocuments | length %}
{% endif %}

<br>
<input type="hidden" name="fields[blogDocuments]">

{% for i in 1..maxDocuments %}
  {% set key = 'new'~i %}

  {% set document = false %}
  {% set documentTitle = false %}

  {% if documentsAdded >= i %}
    {% set document = entry.blogDocuments.nth(i-1) %}
    {% set documentTitle = document.documentTitle %}
  {% endif %}

  {% if not document %}
    {% set text = loop.first ? 'Add a document' : 'Add another document' %}
    <a href="#" class="multiple-field add" id="add-document-{{ i }}" {% if hideAddLink %}style="display: none;"{% endif %}>{{text }}</a>
    {% set hideAddLink = true %}
  {% endif %}

  <div class="multiple-field inputs"  id="input-document-{{ i }}"{%- if not document %}style="display: none;"{% endif %}>
    <label for="blogDocuments">document file</label>
    <input type="hidden" name="fields[blogDocuments][{{ key }}][type]" value="document">
    <input type="hidden" name="fields[blogDocuments][{{ key }}][fields][document]" value="">
    <input type="file" name="fields[blogDocuments][{{ key }}][fields][document][]">
    <br>

    <label for="document-title">Document title</label>
    <input type="text" name="fields[blogDocuments][{{ key }}][fields][documentTitle]" autocomplete="off" {%- if documentTitle %}value="{{ documentTitle }}"{% endif %}>
    <br>

    {% if document %}
      {{ errorList(document.allErrors) }}
      <br>
    {% endif %}

    <a href="#" class="multiple-field remove" id="remove-document-{{ i }}">Remove document</a>
  </div>
{% endfor %}
