{% set sourceId = 2 %}
{% set folder = craft.s3direct.s3Folder(sourceId) %}
{% set s3 = craft.s3direct.s3UploadForm(sourceId) %}

{% set documentBlock = false %}
{% set document = false %}
{% set title = false %}
{% set errors = false %}
{% set key = 'new' %}

{% if entry %}
  {% set documentBlock =  entry.blogDocuments.first %}
  {% set document = documentBlock.document.first %}
  {% set title = documentBlock.documentTitle %}
  {% set errors = documentBlock.hasErrors %}
  {% set key = documentBlock.id | default('new') %}
{% endif %}

<br>
<label>Document</label>

{% if not errors %}
  <a href="#" class="document-field open">{{ document ? 'Replace/Remove' : 'Upload/Select' }}</a>
{% endif %}

<div class="document-field inputs" {%- if not errors %}style="display: none;"{% endif %}>
  <div>
    <span class="fileinput-button">
      <span>Upload file <b>.pdf only</b></span>
      <input id="document-fileupload" type="file" name="file" accept="application/pdf">
      <img class="s3direct document" src="/img/spinner.gif" style="display: none;"/>
    </span>
    <br>
    <div>
      <div class="s3direct document progress-bar progress-bar-success" style="width: 0%; height: 18px; background: green;"></div>
    </div>
  </div>
  <br>

  <input type="hidden" name="fields[blogDocuments]">
  <input type="hidden" name="fields[blogDocuments][{{ key }}][type]" value="document">
  <input type="hidden" name="fields[blogDocuments][{{ key }}][fields][document]">
  <select class="s3direct document" name="fields[blogDocuments][{{ key }}][fields][document][]">
    <option value=""></option>
    {% if folder %}
      {% for asset in craft.assets.folderId(folder.id) %}
        <option value="{{ asset.id }}" {% if asset.id == document.id %}selected{% endif %}>{{ asset.filename }}</option>
      {% endfor %}
    {% endif %}
  </select>
  <br>

  <label for="document-title">Document title</label>
  <input type="text" name="fields[blogDocuments][{{ key }}][fields][documentTitle]" autocomplete="off" {%- if title %}value="{{ title }}"{% endif %}>
  <br>

  {% if errors %}
    {{ f.errorList(documentBlock.allErrors) }}
  {% endif %}

  <a href="#" class="document-field close">Done</a>
</div>
<br>

{% set js %}
$(function() {
  $('#document-fileupload').s3direct({
    bucket: "{{ s3.bucket }}",
    subfolder: "{{ s3.subfolder }}",
    currentUserId: "{{ currentUser.id }}",
    policy: "{{ s3.policy }}",
    signature: "{{ s3.signature }}",
    accessKey: "{{ s3.keyId }}",
    assetsSourceId: {{ sourceId }},
    acceptFileTypes: /.+\.pdf$/i,
    uploadProgressBarSelector: '.s3direct.document.progress-bar',
    updateIndexIndicatorSelector: 'img.s3direct.document',
    selectFilesSelector: 'select.s3direct.document',
    debug: true,
  });
});
{% endset %}

{% includeJs js %}
