{% from "_macro/form" import errorList %}

{% set maxDocuments = 1 %}

<input type="hidden" name="fields[noticeDocuments]">

{% for i in 1..maxDocuments %}
  {% set key = 'new'~i %}
  {% set document = false %}
  {% set documentTitle = false %}

  {% if entry is defined %}
    {% if entry.noticeDocuments | length >= i %}
      {% set document = entry.noticeDocuments.nth(i-1) %}

      {% set documentTitle = document.documentTitle %}
    {% endif %}
  {% endif %}

  <input type="checkbox" class="optional-field toggle" {%- if document %}checked="checked"{% endif %}>{% if loop.first %}Add a document{% else %}Add another{% endif %}

  <div class="optional-field inputs" {%- if not document %}style="display: none;"{% endif %}>
    <label for="noticeDocuments">document file</label>
    <input type="hidden" name="fields[noticeDocuments][{{ key }}][type]" value="document">
    <input type="hidden" name="fields[noticeDocuments][{{ key }}][fields][document]" value="">
    <input type="file" name="fields[noticeDocuments][{{ key }}][fields][document][]">
    <br>

    <label for="document-title">Document title</label>
    <input type="text" name="fields[noticeDocuments][{{ key }}][fields][documentTitle]" autocomplete="off" {%- if documentTitle %}value="{{ documentTitle }}"{% endif %}>

    {% if document %}
      {{ errorList(document.allErrors) }}
    {% endif %}
  </div>

  <br>
{% endfor %}
