{% requireLogin %}

{% set statuses = ['live', 'disabled'] %}

{% if craft.request.getPost('action') %}
  {# returning (with errors) from POST #}
  {% set entryId = craft.request.segment(2) %}
  {% if not entryId %}
    {% redirect 404 %}
  {% endif %}
  {% set entry = craft.entries.authorId(currentUser.id).status(statuses).id(entryId).first %}
  {% if not entry %}
    {% redirect 404 %}
  {% endif %}
  
  {% if entry.authorId != currentUser.id %}
    {# should never occur...but just in case #}
    {% redirect 404 %}
  {% endif %}

{% else %}
  {# initial GET request #}

  {% set entryId = craft.request.segment(2) %}

  {% if not entryId %}
    {% redirect 404 %}
  {% endif %}

  {% set entry = craft.entries.authorId(currentUser.id).status(statuses).id(entryId).first %}

  {% if not entry %}
    {% redirect 404 %}
  {% endif %}

{#
  {% if currentUser.isInGroup('guest') and entry.status != 'disabled' %}
    {% redirect 404 %}
  {% endif %}
#}
{% endif %}

{% set section = entry.section.handle %}

{% switch entry.section.handle %}
  {% case 'letters' %}
    {% set section = 'letter' %}
  {% case 'notices' %}
    {% set section = 'notice' %}
  {% case 'ad' %}
    {% set section = 'ad' %}
{% endswitch %}
{% if entry.section.handle != 'ad' %}
  {% include "submit/" ~ section %}
{% else %}
  {% include "submit/adpay" %}
{% endif %}
