{% requireLogin %}

{% if not entry %}
  {% redirect 404 %}
{% endif %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "_common/single" %}
    {% block post %}

      {% switch entry.section.handle %}
        {% case 'blog' %}
          {{ p.postTags(entry) }}
          {{ p.postTitle(entry) }}
          {{ p.postBy(entry) }}
          <img src="{{ p.primaryImage(entry) }}"/>
          <p>{{ entry.blogContent }}</p>
          {{ p.documents(entry.blogDocuments) }}

        {% case 'notices' %}
          {{ p.postTags(entry) }}
          {{ p.postTitle(entry) }}
          {{ p.postBy(entry) }}
          <img src="{{ p.primaryImage(entry) }}"/>
          <p>{{ entry.blogContent }}</p>
          {{ p.documents(entry.noticeDocuments) }}

        {% case 'letters' %}
          <h3>{{ entry.title }}</h3>
          {{ p.authorNameOrLink(entry) }} &mdash; {{ entry.author.city }}<br>
          {{ entry.postDate | date('g:i A') }} <br>
          <p>{{ entry.letterContent }}</p>

        {% default %}
          {{ p.post(entry) }}

      {% endswitch %}
    {% endblock %}
  {% endembed %}
{% endblock %}
