{% set primaryLocationId = entry is defined ? f.categoryId(entry, "primaryLocation") : 0 %}

<label for="primaryLocation" class="required">Primary Location <span class="note">* required</span></label>

<select id="primaryLocation" name="fields[primaryLocation][]" class="required array">
  <option value="">Select one - This wil be the Location associated with your post on the Home page</option>

{% set geographicGroup = false %}

{% for option in craft.categories.group('locations') %}
  {% if not (option.geographicGroup.label == geographicGroup) %}
    {% set geographicGroup = option.geographicGroup.label %}
    <option value="" disabled="disabled"></option>
    <option value="" disabled="disabled">{{ geographicGroup }}</option>
    <option value="" disabled="disabled"></option>
  {% endif %}

  <option value="{{ option.id }}" {%- if option.id == primaryLocationId %}selected{% endif %}>{{ option.title }}</option>
{% endfor %}

</select>

{% if entry is defined %}
  {{ f.errorList(entry.getErrors('primaryLocation')) }}
{% endif %}
