{% set locations = craft.categories.group('locations').find %}

{% set primaryLocationId = entry is defined ? f.categoryId(entry, "primaryLocation") : 0 %}

<label for="primaryLocation" class="required">Primary Location <span class="note">* required</span></label>

<select id="primaryLocation" name="fields[primaryLocation][]" class="required array">
  <option value="" class="first-option">Select one - This Location will be posted on the Home Page</option>

  {% set geographicGroup = false %}

  {% for option in locations %}
    {% if not (option.geographicGroup.label == geographicGroup) %}
      {% set geographicGroup = option.geographicGroup.label %}

      {% if geographicGroup != 'Outside Marin' %}
        <optgroup label="{{ geographicGroup }}">
      {% endif %}

    {% endif %}

    <option value="{{ option.id }}" {%- if option.id == primaryLocationId %}selected{% endif %}>{{ option.title }}</option>
        </optgroup>
  {% endfor %}
</select>

{% if entry is defined %}
  {{ f.errorList(entry.getErrors('primaryLocation')) }}
{% endif %}
