{% set maxLocations = 5 %}
{% set locationsAdded = 0 %}
{% set hideAddLink = false %}

{% if entry is defined %}
  {% set locationsAdded =  entry.secondaryLocations | length %}
{% endif %}

<br>
<input type="hidden" name="fields[secondaryLocations]">

{% for i in 1..maxLocations %}
  {% set location = false %}
  {% set locationId = false %}

  {% if locationsAdded >= i %}
    {% set location = entry.secondaryLocations.nth(i-1) %}
    {% if location %}
      {% set locationId = location.id %}
    {% endif %}
  {% endif %}

  {% if not location %}
    <a href="#" class="multiple-field add" id="add-location-{{ i }}" {% if hideAddLink %}style="display: none;"{% endif %}>Add another Location</a>
    {% set hideAddLink = true %}
  {% endif %}

  <div class="multiple-field inputs" id="input-location-{{ i }}" {%- if not locationId %}style="display: none;"{% endif %}>
    <select name="fields[secondaryLocations][]" class="array">
      <option value=""></option>
    {% set geographicGroup = false %}

    {% for option in craft.categories.group('locations') %}
      {% if not (option.geographicGroup.label == geographicGroup) %}
        {% set geographicGroup = option.geographicGroup.label %}
        <option value="" disabled="disabled"></option>
        <option value="" disabled="disabled">{{ geographicGroup }}</option>
        <option value="" disabled="disabled"></option>
      {% endif %}

      <option value="{{ option.id }}" {%- if option.id == locationId %}selected{% endif %}>{{ option.title }}</option>
    {% endfor %}
    </select>
    <br>

    {% if location %}
      {{ f.errorList(location.allErrors) }}
      <br>
    {% endif %}

    <a href="#" class="multiple-field remove" id="remove-location-{{ i }}">Remove location</a>
  </div>
{% endfor %}
