{% set locations = craft.categories.group('locations').find %}

{% set maxLocations = 5 %}
{% set locationsAdded = 0 %}
{% set hideAddLink = false %}

{% if entry is defined %}
  {% set locationsAdded =  entry.secondaryLocations | length %}
{% endif %}

<input type="hidden" name="fields[secondaryLocations]">

{% for i in 1..maxLocations %}
  {% set location = false %}
  {% set locationId = false %}

  {% if locationsAdded >= i %}
    {% set location = entry.secondaryLocations.nth(i-1) %}
    {% if location %}
      {% set locationId = location.id %}
    {% endif %}
  {% endif %}

  {% if not location %}
    <a href="#" class="optional-category-field add" data-id="location-{{ i }}" {% if hideAddLink %}style="display: none;"{% endif %}>Add another Location</a>
    {% set hideAddLink = true %}
  {% endif %}

  <div class="optional-category-field inputs" id="location-{{ i }}" {%- if not locationId %}style="display: none;"{% endif %}>
    <label>Other Location</label>

    <select name="fields[secondaryLocations][]" class="array">
      <option value="">Select another Location</option>
      {% set geographicGroup = false %}

      {% for option in locations %}
        {% if not (option.geographicGroup.label == geographicGroup) %}
          {% set geographicGroup = option.geographicGroup.label %}
          <option value="" disabled="disabled">{{ geographicGroup }}</option>
        {% endif %}

        <option value="{{ option.id }}" {%- if option.id == locationId %}selected{% endif %}>{{ option.title }}</option>
      {% endfor %}
    </select>

    {% if location %}
      {{ f.errorList(location.allErrors) }}
    {% endif %}

    <a href="#" class="optional-category-field remove" data-id="location-{{ i }}">Remove location</a>
    <br>
  </div>
{% endfor %}
