{% set tagGroupId = 1 %}

<br>

<input type="hidden" name="fields[locationTags]" value="">

<label>Add location tags</label>
<input type="text" id="find-location-tag">
<a href="#" id="add-location-tag">Create new</a>

<div id="location-tags">
{% if entry is defined %}
  {% for tag in entry.locationTags %}
    <label>
      <input type="checkbox" name="fields[locationTags][]" value="{{ tag.id }}" checked="checked">{{ tag.title }}
    </label>
  {% endfor %}
{% endif %}
</div>

{% set addTag %}
  $(function() {
      $('#find-location-tag').tags();
  });
{% endset %}

{% includeJs addTag %}
