{% set tagGroupId = 1 %}

<label>Location tags</label>

<input type="hidden" name="fields[locationTags]" value="">

<div id="tags">
{% if entry is defined %}
  {% for tag in entry.locationTags %}
    <label>
      <input type="checkbox" name="fields[locationTags][]" value="{{ tag.id }}" checked="checked">{{ tag.title }}
    </label>
  {% endfor %}
{% endif %}
</div>

<label>autocomplete</label>
<input type="text" id="autocomplete-location-tag">
<br>

<a href="#" id="new-location-tag">add new</a>
<br>

{% set addTag %}
$(function() {

    var tagSelect = $('#autocomplete-location-tag');
    var form = tagSelect.closest('form');
    var tags = $('#tags');

    var tagInput = function(value, label) {
            return '<label>' + '<input type="checkbox" name="fields[locationTags][]" value="' + value + '" checked="checked"/> ' + label + '</label>';
    };

    var tagSelected = function(value) {
        var values = tags.find('input').map(function(i, e) { return e.value; } );
        return $.inArray(value, values) == 0;
    };

    var tagExists = function(value) {
        return true;
    };

    var createTag = function(label) {
        var data = {
            groupId: {{ tagGroupId }},
            title: label
        };

        $.post(
            '/actions/tags/createTag',
            data,
            function(data) {
                return data.success ? data.id : 0;
            });
    };

    form.submit(function(e) {
        if (tagSelect.val().length > 0) {
            e.preventDefault();
        }
    });

    tagSelect.autocomplete({
        minlength: 2,
        source: '/locations',
        focus: function(event, ui) {
            tagSelect.val(ui.item.label);
            return false;
        },
        select: function(event, ui) {
            var id;

            if (tagSelected(ui.item.value)) {
                return false;
                id = createTag(ui.item.label);
                if (id == 0) {
                    alert('Cannot create "'+ui.item.label+'" location');
                }
            } else {
                tags.append(tagInput(ui.item.value, ui.item.label));
            }
            this.value = '';
            return false;
        }
    });

    $('#new-location-tag').click(function(e) {
        var label;

        e.preventDefault();

        label = prompt('What’s the new tag name?');

        if (!label) return;

        var data = {
            groupId: {{ tagGroupId }},
            title: label
        };

        $.post('/actions/tags/createTag', data, function(response) {
            if (response.success) {
                tags.appendTo(response.id, label); 
            } else {
                alert('Unable to create that tag.');
            }
        });
    });

});
{% endset %}

{% includeJs addTag %}
