{% extends "_common/layout" %}

{% block content %}
  {% embed "_common/unfiltered_content" with { 'mainClass': 'single' } %}
    {% block main %}
      {{ macro.postTags(entry) }}
      {{ macro.postTitle(entry) }}
      {{ macro.postBy(entry) }}
      
      <img src="{{ macro.primaryImage(entry, 'hero') }}"/>

      <p>{{ entry.noticeContent }}</p>

      {{ macro.otherImages(entry.noticeImages) }}
      {{ macro.documents(entry.noticeDocuments) }}

      {% include "_common/disqus" %}
    {% endblock %}

    {% block right %}
      {# include "_common/support" #}
    {% endblock %}
  {% endembed %}
{% endblock %}
