{% extends "_common/layout" %}

{% block content %}
  {% embed "_common/unfiltered_content" %}
    {% block main %}

      <form method="post" accept-charset="UTF-8">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/forgotPassword">
        <input type="hidden" name="redirect" value="account/password/email">

        <h3><label for="loginName">Email</label></h3>
        <input id="loginName" type="text" name="loginName" value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}" autocompete="off">

        {% if errors is defined %}
          <ul class="errors">
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <input type="submit" value="Submit">
      </form>

    {% endblock %}
  {% endembed%}
{% endblock %}
