{% requireLogin %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "account/_layout" %}
    {% block post %}

      <h2>Change My Password</h2>

      <form method="post" accept-charset="utf-8" id="update-password">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/saveUser">
        <input type="hidden" name="userId" value="{{ currentUser.id }}">
        <input type="hidden" name="redirect" value="account/password/updated">

        {% if account is defined %}
          {{ f.errorList(account.allErrors) }}
        {% endif %}

        <div class="field">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" name="newPassword" autocomplete="off" class="required">
            {% if account is defined %}
              {{ f.errorList(account.getErrors('newPassword')) }}
            {% endif %}
        </div>
        <div class="field">
            <label for="confirmPassword" class="required">Re-enter New Password</label>
            <input type="password" id="confirmPassword" autocomplete="off" class="required">
        </div>
        <div class="field">
            <label for="password" class="required">Current Password <small>for security</small></label>
            <input type="password" id="password" name="password" autocomplete="off" class="required">
            {% if account is defined %}
              {{ f.errorList(account.getErrors('password')) }}
            {% endif %}
        </div>
        <input type="submit" value="Update">
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}
