{% extends "_common/layout" %}

{% block main %}
  {% embed "_common/single" %}
    {% block post %}
      <form method="post" accept-charset="UTF-8">
          {{ getCsrfInput() }}
          <input type="hidden" name="redirect" value="">
          <input type="hidden" name="action" value="users/setPassword">
          <input type="hidden" name="code" value="{{ code }}">
          <input type="hidden" name="id" value="{{ id }}">

          <h3><label for="newPassword">New Password</label></h3>
          <input id="newPassword" type="password" name="newPassword">

          {% if errors is defined %}
            <ul class="errors">
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
            </ul>
          {% endif %}

          <input type="submit" value="Submit">
      </form>
    {% endblock %}
  {% endembed%}
{% endblock %}
