craft/config/db.php
craft/config/license.key
craft/config/stripe.php

craft/plugins/mpsubscription/vendor
craft/plugins/s3direct/vendor

craft/storage/*
!craft/storage/.keep

public/cache/*
!public/cache/.keep
public/.htaccess
