{# Called via Javascript from /blog, /media, /news and /notices #}
{% if not craft.request.isAjax %} {% exit 404 %} {% endif %}
{% spaceless %}

{% set section = craft.request.param('section') %}

{% set locations = craft.request.param('locations') | split(',') %}
{% set topics = craft.request.param('topics') | split(',') %}
{% set authors = craft.request.param('authors') | split(',') %}

{% set startDate = craft.request.param('startDate') %}
{% set endDate = craft.request.param('endDate') %}

{% set filters = { 'locations': locations, 'topics': topics, 'authors': authors, 'startDate': startDate, 'endDate': endDate, 'section': section } %}

{% set offset = craft.request.param('offset') | default(0)  %}

{% set default = siteDefaults.siteDefault.key('entriesPerPage').first %}
{% set entriesPerPage = default ? default.value : 10 %}
{% set limit = craft.request.param('limit') | default(entriesPerPage)  %}

{% set slice = { 'offset': offset, 'limit': limit } %}

{% set entries = craft.mpfilter.entries(filters, slice) %}

{% set unfiltered = craft.request.param('unfiltered') | default(false)  %}

{% import "_entry/macros" as m %}

{% for entry in entries %}
  {{ m.post(entry, unfiltered) }}
{% endfor %}

{% endspaceless %}
