{% if not craft.request.isAjax %} {% exit 404 %} {% endif %}
{# Incrementally emit more entries
 #
 # Shares the same filtering logic with _filter.html FIXME
 #}
{% spaceless %}

{% set defaultLimit = 1 %} {# TODO change to 10 #}

{% set section = craft.request.segments(2) %}

{% set locations = craft.request.getParam('locations') | split(',') %}

{% if locations|first is empty %}
    {% set locationEntries = craft.entries.section(section) %}
{% else %}
	{% set relatedTo = ['or'] %}

	{% for categoryId in locations %}
	    {% set relatedTo = relatedTo | merge([categoryId]) %}
	{% endfor %}

	{% set locationEntries = craft.entries.section(section).relatedTo(relatedTo) %}
{% endif %}

{% set topics = craft.request.getParam('topics') | split(',') %}

{% if topics|first is empty %}
	{% set topicEntries = craft.entries.section(section) %}
{% else %}
	{% set relatedTo = ['or'] %}

	{% for categoryId in topics %}
	    {% set relatedTo = relatedTo | merge([categoryId]) %}
	{% endfor %}

	{% set topicEntries = craft.entries.section(section).relatedTo(relatedTo) %}
{% endif %}

{% set authors = craft.request.getParam('authors') | split(',') %}

{% if authors|first is empty %}
    {% set authorEntries = craft.entries.section(section) %}
{% else %}
	{% set authorEntries = craft.entries.section(section).authorId(authors) %}
{% endif %}

{% set entries = [] %}
{% set topicEntryIds = topicEntries.ids %}
{% set authorEntryIds = authorEntries.ids %}

{% for entry in locationEntries %}
  {% if entry.id in topicEntryIds %}
    {% if entry.id in authorEntryIds %}
      {% set entries = entries | merge([entry]) %}
    {% endif %}
  {% endif %}
{% endfor %}

{% set offset = craft.request.getParam('offset') | default(0) %}

{% set limit = craft.request.getParam('limit') | default(defaultLimit) %}

{% set entries = entries[offset:limit] %}

{% from "_macro/post" import post %}

{% for entry in entries %}
	{{ post(entry) }}
{% endfor %}

{% endspaceless %}
