{% if not craft.request.isAjax %} {% exit 404 %} {% endif %}
{% spaceless %}

{% set sourceId = 3 %}

{% set results = craft.marinpost.updateAssetIndex(sourceId) %}

{% set folder = craft.marinpost.s3FolderForCurrentUser(sourceId) %}

{% set files = [] %}

{% for asset in craft.assets.folderId(folder.id) %}
  {% set files = files | merge([{ url: asset.url, filename: asset.filename, size: asset.size | filesize, kind: asset.kind }]) %}
{% endfor %}

{% set results = results | merge({ 'files': files }) %}

{{ results | json_encode | raw }}

{% endspaceless %}
