{% if not craft.request.isAjax %} {% exit 404 %} {% endif %}
{% spaceless %}

{% set sourceId = 3 %}

{% set filenames = craft.request.param('filenames') %}

{% set updated = craft.marinpost.updateAssetIndexForFilenames(sourceId, filenames) %}

{% set folder = craft.marinpost.s3FolderId(sourceId) %}

{% set files = [] %}

{% for asset in craft.assets.folderId(folder.id) %}
  {% set files = files | merge([{ id: asset.id, url: asset.url, filename: asset.filename, size: asset.size | filesize, kind: asset.kind }]) %}
{% endfor %}

{% set results = { 'filenames': filenames, 'updated': updated, 'files': files } %}

{{ results | json_encode | raw }}

{% endspaceless %}
