/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #333;
}

html {
    font-size: .95em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

/*
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
*/

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #C8D4E9;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: top;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #C8D4E9;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* * * * * * * * * * * * * * * * * * * * *
        jQuery UI Overrides
* * * * * * * * * * * * * * * * * * * * * */

.sub-nav .ui-datepicker {
	width: 100%
}


/* * * * * * * * * * * * * * * * * * * * *
        SHARED
* * * * * * * * * * * * * * * * * * * * * */
.em-tester {
	background-color: red;
	height: 1em;
	position: absolute;
	width: 55em;
}
body {
    font-family: Times, Georgia, serif;
    margin: 0 auto;
}
ul.tags, nav, h2 {
    font-family: Arial, sans-serif;
    font-weight: normal;
}
a, a:visited {
    color: #004eff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h2 {
    border-bottom: 1px solid #C8D4E9;
    font-size: 1.25em;
    margin: 1.25em 0 .75em;
    padding: 0.25em 0;
}
h2 span {
    float: right;
    font-size: .75em;
    line-height: 2.5em;
}
h2.date {
    background: #e5e5cd;
    border-bottom: 1px solid #c9c8ac;
    border-top: 1px solid #c9c8ac;
    font-size: 1.1em;
    margin: 0 0 1em;
    padding: 0.5em 1em 0.25em;
}

h3 {
    margin: .5em 0;
}
.posts h3.join {
    color: #38547b;
    border-bottom: 1px solid #ebebeb;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin: 2em 0 .25em;
    padding: 0 0 .5em;
    text-align: center;
}
h3 > a, h3 > a:visited, h3 > a:hover {
    color: #333;
}
h3 > a:hover {
    text-decoration: underline;
}
h4 {
    font-family: Arial, sans-serif;
    margin: 1em 0 .5em;
}
h5, h3.my-content {
    font-family: Arial, sans-serif;
    margin: 0;
}
img {
    max-width: 100%;
}

nav > ul,
ul.tags,
ul.posts,
.notices-box > ul,
#comments > ul,
fieldset > ul,
.about .sub-nav ul,
.account .sub-nav ul,
.submit .sub-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.note {
    color: red;
    font-size: .9em;
    font-weight: normal;
    margin: 1em 0;
}
.submit .comment-count,
.contact .comment-count {
    display: none;
}
.errors > li {
    color: red;
    font-weight: bold;
    font-size: 1.05em;
}

/* * * * * * * * * * * * * * * * * * * * *
        HEADER
* * * * * * * * * * * * * * * * * * * * * */
header {
    border-bottom: 4px solid #CAC8AD;
    min-height: 100px;
}

.header-wrapper {
    border-bottom: 1px solid #555;
    margin-bottom: 4px;
}

.header-wrapper a.logo-link {
    color: #000;
}

header .logo {
    border: 8px solid #fe0000;
    display: inline-block;
    float: left;
	height: 48px;
	margin: 20px;
	width: 48px;
}
header .headline-wrapper {
    display: inline-block;
    margin-top: 15px;
}
header h1 {
	font-size: 1.5em;
    margin: .5em 0 0;
    text-align: center;
}
header h2 {
    border-bottom: none;
    font-size: .85em;
    margin-top: 0;
    padding: 0;
    text-align: center;
    font-style: italic;
}

#mini-menu {
	font-size: .85em;
    padding: 3%;
}
.show-menu {
    cursor: pointer;
    font-family: Arial, sans-serif;
    position: relative;
    padding-left: 2em;
    text-transform: uppercase;
    top: 4px;
}
.show-menu:before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.5em;
    height: 0.25em;
    border-top: 0.75em double #000;
    border-bottom: 0.25em solid #000;
}
.show-search {
    background: url('../img/search-black.png') 60px 7px no-repeat;
    cursor: pointer;
    font-family: Arial, sans-serif;
    left: 40%;
    margin: 0 auto;
    padding-top: 5px;
    padding-right: 1.5em;
    position: absolute;
    text-transform: uppercase;
}
.bottom-only {
    display: none;
}

#mini-menu > ul {
    font-family: Arial, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

#mini-menu li {
    display: inline-block;
    vertical-align: top;
}

#mini-menu div li {
    border-right: 1px solid;
    margin-right: 5px;
    padding-right: 5px;
}

#mini-menu div li:first-of-type {
    border-right: none;
}

#mini-menu div {
    float: right;
}

/* * * * * * * * * * * * * * * * * * * * *
        NAV
* * * * * * * * * * * * * * * * * * * * * */
nav {
    background-color: #fff;
	box-shadow: 0 0 5px 0 #ccc;
	display: none;
	font-size: .95em;
    margin: 0 0 0 1em;
    position: absolute;
    top: 180px;
    width: 130px;
    z-index: 199;
}

nav .close {
	display: inline-block;
}

nav .desktop {
    display:none;
}

nav .mobile {
    background: url('../img/open-close.png') 120px 1px scroll no-repeat;
    display:block;
}

#support + nav {
    display: none;
}

nav li {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
nav li a, nav li a:visited {
    color: #333;
}
nav li a:hover,
nav li a.active {
    color: #333;
    font-weight: bold;
    padding: 2%;
}

nav ul li {
    border: 1px solid #c0c0c0;
    border-top: none;
    padding: 5px 0 5px 5px;
    position: static;
    text-align: left;
}

nav ul li:first-of-type {
    border-top: 1px solid #c0c0c0;
}

nav ul ul {
    background-color: #fcfeb3;
	box-shadow: 2px 0 3px -1px #ccc;
    display: none;
    position:absolute;
    text-align: left;
    top: 0;
    left: 129px;
    margin: 0;
    padding: 0;
    width: 150px;
}

nav ul ul li {
    text-transform: none;
}


#mini-menu li.account, #mini-menu li.sign-in, #mini-menu li.sign-out, #mini-menu li.sign-up {
    float: right;
}

#mini-menu li.sign-in, #mini-menu li.sign-out {
    margin-right: .5em;
}
#mini-menu #search fieldset {
    display: none;
}
#mini-menu #search {
    margin-top: 1em;
    width: 100%;
}
#mini-menu #search input {
    display: inline-block;
}
#mini-menu #search input[type="search"] {
    padding: .5em 0;
    width: 100%;
}
#mini-menu #search input[type="submit"] {
    background: #555;
    border: 1px solid #555;
    border-radius: 2px;
    color: #fff;
    margin-right: 2%;
    padding: .5em;
    text-transform: uppercase;
    width: 20%;
}

.sub-nav {
    margin-bottom: .5em;
    padding: 0;
    width: 100%;
}

.about .sub-nav, .account .sub-nav, .submit .sub-nav, .blog .sub-nav, .notices .sub-nav, .news .sub-nav, .media .sub-nav {
    margin-top: 0;
}

.sub-nav:empty {
    display: none;
}

.letters .sub-nav {
    padding-top: 0;
}
.sub-nav h3 {
    font-family: Arial, sans-serif;
    font-size: .75em;
    font-weight: normal;
    margin-bottom: 2em;
}

.sub-nav h5, .my-content > a {
    background: url('../img/right-arrow.png') no-repeat scroll 6px 8px;
    border: 1px solid #ccc;
    border-bottom: none;
    font-size: .9em;
    font-weight: normal;
    text-transform: uppercase;
}

.sub-nav h5:last-of-type, .my-content > a:last-of-type {
    border-bottom: 1px solid #ccc;
}

h3.my-content {
    font-size: .95em;
}
.sub-nav h5.active, .my-content a.active {
    background: url('../img/down-arrow.png') no-repeat scroll 6px 8px;
    font-weight: bold;
    padding: 5px 0 5px 25px;
}

.filter a, .sub-nav a, .sub-nav a:visited {
    color: #000;
}
.filter a:hover, .sub-nav a:hover {
    font-weight: bold;
}
.filter > h4, .sub-nav > h4 {
    display: none;
}
.sub-nav h5, .sub-nav .filter h5, .my-content > a {
    color: #000;
    display: block;
    padding: 5px 0 5px 25px;
}
.sub-nav h5:hover, .sub-nav .filter h5:hover, .my-content > a:hover {
    font-weight: bold;
    text-decoration: underline;
}
.sub-nav h5.active a {
    padding: 0;
}

.filter ul > li.group-label {
    border-left: none;
    border-right: none;
    border-top: none;
    font-weight: bold;
    margin-top: 2px;
}
.filter ul > li:first-of-type {
    border: none;
}
.filter li:nth-of-type(2) {
    border-top: 1px solid #d2def4;

}
.filter ul > li label {
    vertical-align: middle;
    width: 90%;
}
.my-content {
	margin: 0 0 1em;
}

.sub-nav > .filter {
    padding: 0;
}
.sub-nav > .filter h5 {
      margin: .25em 0;
}
.filter h4, .sub-nav > h4 {
    background: #f9f9f9;
    border: 1px solid #ccc;
    display: block;
    margin: 0 0 .25em;
    padding: .5em;
}
.filter > fieldset, .sub-nav .filter > h5, .sub-nav > h5, .sub-nav h2, .archive {
    display: none;
}

/* * * * * * * * * * * * * * * * * * * * *
        CONTENT
* * * * * * * * * * * * * * * * * * * * * */
#featured {
    background: #fffcd0;
}
.featured {
    padding: 3%;
}

ul.tags {
    margin-top: 0;
}

#featured ul.tags {
    margin-top: .5em;
    padding-right: 3%;
}

#featured h3 {
    padding-right: 3%;
}

#featured p {
    font-size: 1.05em;
    margin-bottom: 0;
    padding-right: 3%;
}

h3.contributor {
    margin-bottom: 0;
}
.byline, .profession, .hometown, .my-web-site {
    font-family: Arial, sans-serif;
    font-size: .924em;
}
.timestamp {
    float:right;
}

p.author-links {
  float: right;
  margin-top: 0;
}

br.author-links {
  clear: both;
}

main {
    padding: 0 1em;
}
.posts > li:not(:last-of-type) {
    border-bottom: 1px solid #DAE4F4;
    margin-bottom: 1em;
}
main.single {
    padding-bottom: 1em;
}
main.single > .post > h3 {
    font-size: 1.185em;
}
.single iframe {
    width: 100%;
}
.help {
    border-bottom: 1px solid #C8D4E9;
    color: #676158;
    font-family: Arial, sans-serif;
    margin-bottom: 1em;
}

.help p {
    text-align: justify;
}

.coming-soon {
    border-bottom: 1px solid #C8D4E9;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: .5em 0 1em 0;
    text-align: center;
    text-transform: uppercase;
}
.attachments {
    border-bottom: 1px solid #C8D4E9;
    border-top: 1px solid #C8D4E9;
    padding: 1em 0;
}
.download a {
    background: url('../img/pdf-icon.png') 50% 0 scroll no-repeat;
}
.download:hover {
    cursor: pointer;
}
.download a, .video-link a {
    color: #333;
    display: block;
    padding-top: 4em;
    text-align: center;
}
.download a > span {
    display: none;
    font-size: .8em;
    text-transform: uppercase;
}
.download, .video-link {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.video-link a {
    background: url('../img/video.png') 50% 0 scroll no-repeat;
    padding-left: .5em;
}

.whats-new {
	padding: 0 3%;
}

#comments {
    background: #f9f9f9;
    margin-bottom: 1em;
    padding: 0 20px;
}

.whats-new aside > h2 {
    border-bottom: none;
    margin: 0;
    padding: 0 1em .1em;
}


#comments li > p {
    font-size: .9em;
    margin: .5em 0;
}
#comments li > .user {
    text-align: right;
    display: block;
    margin-bottom: 1em;
}
ul.tags > li {
    display: inline-block;
    font-size: .8em;
    text-transform: uppercase;
}
#support, .notices-box, .filter {
    padding: 0 3%;
}
.filter ul {
    display: none;
    font-size: .9em;
}
.filter ul > li {
    border: 1px solid #d2def4;
    border-top: none;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 0 .25em .25em;
}
.filter fieldset > h5 {
    cursor: pointer;
}
.filter input[type="checkbox"] {
	margin: 0 .5em 0 0;
}

.date-divider {
    background-color: #e5e5cd;
    border-bottom: 0px solid #cac9ad;
    border-top: 0px solid #cac9ad;
    padding: .25em 3%;
}
.date-divider span {
    float: right;
}

a.comment-box {
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    margin: .5em 0;
    padding:  .75em .75em .55em;
}
a.comment-box:hover {
    background: #f9f9f9;
}

.notices-box {
	margin-bottom: 1em;
    text-align: center;
}
.notices-box > h2 {
    text-align: left;
}
.date-divider {
    background-color: #e5e5cd;
    border-bottom: 0px solid #cac9ad;
    border-top: 0px solid #cac9ad;
    font-family: Georgia, Times, serif;
    font-weight: bold;
    margin-bottom: 1em;
    padding: .5em 3%;
}

.revenue-opportunity {
	background-color: #e8e9f3;
	height: 100px;
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
}

input[type="checkbox"] {
    margin-right: .5em;
}
label.check {
    font-family: Arial, sans-serif;
    font-size: 0.9em;
}
.field {
/*     padding: .5em 0; */
}

.field.document, .field.document + a {
    display: inline-block;
    margin-top: .5em;
}

.field.account-profile {
    margin-bottom: 1em;
}

.field .redactor-box {
    margin-bottom: 0;
}

.image-field-wrapper {
	display: inline-block;
}
img.display-image {
	float: left;
	margin: 0 15px 15px 0;
}
.event .field.date, .field.statezip {
    display: inline-block;
    width: 48%;
    padding-right: .5em;
}
a.optional-category-field {
    float:right;
}
.legal {
    font-family: Arial, sans-serif;
    font-size: .9em;
}
.inputs label,
.field label {
	display: block;
    font-weight: bold;
}
.buttons {
    text-align: center;
}
.sidebar {
    margin: 0 2em;
}

.event-venue {
  font-weight: bold;
  color: red;
}
/* * * * * * * * * * * * * * * * * * * * *
        FORM STYLES
* * * * * * * * * * * * * * * * * * * * * */
form input, form select {
    margin-bottom: .5em;
}
#search fieldset {
    margin: 1em 0 .5em;
}
form input[type="text"], form input[type="password"],
form select, textarea {
    display: block;
    padding: .25em;
    width: 98%;
}
form input[type="text"]::-webkit-input-placeholder {
    color: #000;
    font-size: .9em;
    line-height: 1.5em;
}
form input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: #000;
    font-size: .8em;
    line-height: 1.5em;
}

form input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
    color: #000;
/*     font-size: .8em; */
/*     line-height: 1.5em; */
}

:-ms-input-placeholder {  
    color: #000;
    line-height: 1em;
}

.event .field.date input {
    background: url('../img/calendar-icon.png') .25em 45% no-repeat;
    background-color: #fff;
    padding-left: 2em;
    width: 88%;
}

form input[type="datetime"], form input[type="tel"] {
    padding: .25em;

}
form textarea {
    max-width: 100%;
}
form > label, fieldset > label {
    font-weight: bold;
}
form > label[for="rememberMe"],
form > label[for="termsOfUse"] {
    font-weight: normal;
}
form > button {
/*
    background: #CAC8AD;
    border: none;
    border-radius: 2px;
    color: #fff;
*/
    margin: 1em 0 0;
    padding: .5em;
}

input[type="checkbox"], input[type="radio"] {
    margin: 0 .25em;
}

.account main input[type="checkbox"], .account main input[type="radio"] {
    margin: 0 .25em 0 0;
}

fieldset.image, fieldset.document, .add-topic, .add-location {
    display: none;
}

.first-option {
	color: #666;	
}

.file-type {
	margin: 0;
}

.content-submission a {
	margin-left: 1em;
}
/* * * * * * * * * * * * * * * * * * * * *
        SUPPORT
* * * * * * * * * * * * * * * * * * * * * */
#support {
	text-align: center;
}

#support h4, #subscribe h4, #subscribe p {
    display: none;
}

#donate, #subscribe {
    min-width: 30%;
}

#donate {
    float: left;
}

#subscribe {
    float: right;
    padding-bottom: 1em;
}

#subscribe p {
    font-family: Arial, sans-serif;
    margin: 0;
}

button.donate, a.subscribe {
    background: #ff9669;
    border: none;
    border-radius: 25px;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: .85em;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px 30px 3px;
    text-transform: uppercase;
}

button.donate {
    background: #ff9669;
}

a.subscribe {
    background: #00BFB0;
    margin-bottom: 8em;
}

#share {
	display: inline-block;
	margin: 0 auto 1em auto;
	text-align: center;
   	width: 30%;
}

#share ul {
	list-style: none;
	margin: 0 auto;
	padding: 0 10%;
	text-align: right;
}

#share li {
	display: inline-block;
	margin-right: 3%;
	width: 12%;
}

#share li:last-of-type {
	margin-right: 0;
}

footer {
    border-top: 1px solid #c9c8ac;
    clear: both;
    padding: 1em;
    width: inherit;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Style until now are shared or for Mobile Two <27 ems */

@media only screen and (min-width: 27em) { /* Mobile One 27–39 ems */
    header .logo {
        border: 9px solid #fe0000;
    	height: 50px;
    	margin: 30px 12px 23px;
    	width: 50px;
    }

    header .headline-wrapper {
        margin-top: 15px;
    }

	header h1 {
		font-size: 2em;
	}

	header h2 {
		font-size: 1em;
	}

	#mini-menu {
		font-size: .8em;
	}

	.show-search {
	    background: url('../img/search-black.png') 71px 7px no-repeat;
	}
    #share {
          margin: 0 auto .75em;
          max-width: 280px;
          width: 70%;
          display: block;
    }
    
    .image-credit {
        margin: .25em 0;
    }
    footer {
        padding: 1em;
    }

}

@media only screen and (min-width: 39em) { /* Tablet 39–50 ems */

    header .headline-wrapper {
        margin-top: 16px;
    }

	header h1 {
		font-size: 2.4em;
		margin-bottom: -7px;
		margin-top: .6em;
	}

	header h2 {
		font-size: 1.05em;
	}

    .sub-nav {
        display: block;
  		float: left;
  		padding-top: 3em;
        width: 28%;
	}

    .about .sub-nav, .account .sub-nav, .submit .sub-nav, .blog .sub-nav, .notices .sub-nav, .news .sub-nav, .media .sub-nav {
        margin-top: 1em;
    }

    .sub-nav > .filter h5 {
          margin: 1em 0 .5em;
    }

    #mini-menu #search {
        width: 78%;
    }
    #search input[type="submit"] {
        padding: .5em;
    }

    #featured {
	    padding: 0;
    }

    #featured h3{
	    font-size: 1.4em;
    }

    .featured {
        display: inline-block;
        padding: 0;
        width: 100%;
    }

    .featured img {
        display: inline-block;
/*         float: left; */
        margin: 0;
        width: 325px;
    }

    .filter {
        padding: 0;
/*         margin-top: 29px; */
    }


    .filter h4, .sub-nav > h4 {
        display: none;
    }
    .filter > fieldset, .sub-nav .filter > h5, .sub-nav > h5, .sub-nav h2, .archive {
        display: block;
    }

    main, .notices-box {
        padding: 0 2%;
    }

	.list-wrapper,
	.form-wrapper {
    	float: right;
    	width: 68%;
	}
	
	.list-wrapper p, .post p, .list-wrapper li, .post li {
    	text-align: justify;
	}
	
	.result-message {
		font-size: 1.2em;
	}
	
	.list-wrapper ul.posts {
    	width: 100%;
	}
	
	.blog main > h2, .news main > h2, .notices main > h2,  .media main > h2,  .letters main > h2,  .about main > h2 {
/* 		margin-left: 25%; */
	}

    ul.posts li img, img.profile {
        display:inline-block;
        width: 160px;
    }

    img.profile {
        float: left;
        margin-right: 15px;
    }

    ul.posts, .single > .post, main > form  {
        display: inline-block;
        width: 95%;
        vertical-align: top;
    }
    .single > .post  {
        float: right;
        width: 68%;
    }
    .post {
        display: inline-block;
        width: 100%;
    }
    
    .post .posts {
	    width: 100%;
    }
	.whats-new {
		padding: 0;
	}

	.post .image-wrapper, .posts .image-wrapper, .featured .image-wrapper {
		float: left;
        margin-right: 15px;
        position: relative;
	}

    .post .image-wrapper img {
        width: 160px;
    }
    
	.post .image-wrapper p, .posts .image-wrapper p, .featured .image-wrapper p {
		color: #666;
		font-family: 'Arial', Arial, sans-serif;
		font-size: .75em;
        margin: 0;
        text-align: right;
	}

	.featured .image-wrapper p {
		bottom: -1.5em;
		font-size: .75em !important; 
		margin-right: 0;
		padding-right: 0 !important;
		position: absolute;
		right: 0;
	}

    .thumbs {
        padding: .5em 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: flex-start;
    }

    #support {
        display: inline-block;
        padding: 0;
        width: 100%;
    }
}


@media only screen and (min-width: 51em) { /* Laptop View >51 ems */
    body {
        padding: 0 1em;
        max-width: 1158px;
    }
    nav {
        background-color: transparent;
        box-shadow: none;
        display: block;
        height: inherit;
        min-height: inherit;
	    margin: 0;
	    padding: .75em 0;
        position: inherit;
        top: inherit;
        width: inherit;
    }

	nav > .close, nav .mobile {
        display:none;
    }
    
    nav .desktop {
        display: block;
    }
    
    nav ul li {
        border: none;
        display: inline-block;
        padding: 0 1.5% 1% 0;
        position: relative;
    }

    nav ul li:first-of-type {
        border-top:none;
    }
    
    
    nav ul li:hover ul {
        box-shadow: none;
        display: block;
        left: -19px;
        height: inherit;
        list-style: none;
        margin: 1em 0;
        padding: 0;
        position: absolute;
        top: 6px;
        width: inherit;
        z-index: 100;
    }

	nav li:hover li {
    	border: 1px solid #ccc;
    	border-top: none;
        display: block;
        font-size: 1em;
        list-style: none;
        padding: 0;
        text-align: left;
        text-transform: none;
	}
	
	nav li:hover li:first-of-type {
    	border-top: 1px solid #ccc;
	}
	
	nav li:hover li > a {
    	display: block;
        padding: 5px 0 5px 18px;
        width: 175px;
	}
	
	nav li:hover li:not(:first-of-type) > a {
	}
	
    nav li:last-of-type {
        padding-right: 0;
    }

    .bottom-only {
        display: none;
        top: .5em;
        right: .5em;
    }

    #mini-menu {
        display: none;
        float: right;
        padding: 2.5% 1% 0 0;
    }

    #mini-menu div {
        float: none;
    }

    #mini-menu .show-menu, #mini-menu .show-search {
        display: none;
    }

    #mini-menu li.sign-in, #mini-menu li.sign-up {
        display: inline-block;
        text-align: right;
    }

    #mini-menu li#search, #mini-menu li#search fieldset {
        display: inline-block;
        float: none;
        text-align: right;
    }

    #mini-menu #search {
        margin: 0;
        width: 100%
    }

    .sidebar {
        display: none;
        float: right;
        margin: 1em 0;
        line-height: 29px;
        padding: 0;
        text-align: left;
        vertical-align: top;
        width: 26%;
        z-index: 0;
    }

    #support {
        display: none;
        width: 100%;
    }

    #support div {
        width: 100%;
    }

    #share {
        border-bottom: 1px solid #c8d4e9;
        margin-bottom: 0;
        padding-bottom: 1em;
    }

    #donate {
        border-bottom: 1px solid #c8d4e9;
        float: none;
        padding-bottom: 1.5em;
    }

    .revenue-opportunity {
        border-bottom: none;
        margin-bottom: 2em;
    }

    #subscribe {
        border-bottom: 1px solid #c8d4e9;
        text-align: center;
        width: 100%;
    }

    #support h4, #subscribe h4, #subscribe p {
        display: block;
        text-align: center;
    }

    #subscribe p:first-of-type {
        margin-top: 1em;
    }

    .notices-box {
        margin-top: 1em;
    }

    #featured {
        display: block;
        margin-top: 1em;
    }

    main, aside, .notices-box {
        padding: 0;
    }
    main {
        float: left;
        width: 70%;
    }
    ul.posts {
        margin: 0;
        width: 66%;
    }

    #comments {
        display: inline-block;
        vertical-align: top;
    }

    .whats-new aside {
	    display: inline-block;
	    float: right;
		padding: 0;
        width: 30%;
    }
}

@media only screen and (min-width: 55em) { /* In case anything needs adjusting on the way to big */

 }

@media only screen and (min-width: 64em) { /* Extras for big size */
    main {
        padding-bottom: 2em;
    }
    ul.posts {
        width: 68%;
    }

}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
