{% extends "_common/layout" %}

{% block main %}
  {% embed "_common/single" %}
    {% block title %}Login{% endblock %}

    {% block post %}
      <form method="post" accept-charset="UTF-8">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/login">

        <label for="loginName">Email Address</label>
        <input id="loginName" type="text" name="loginName" value="{{ craft.session.rememberedUsername }}" maxlength="255">

        <label for="password">Password</label>
        <input id="password" type="password" name="password" maxlength="50">

        <label>
          <input type="checkbox" name="rememberMe" value="1">
          Remember me
        </label>
        <div class="note">Do not use "remember me" on a public or shared computer.</div>

        <input type="submit" value="Login">

        {% if errorMessage is defined %}
          <p class="note">{{ errorMessage }}</p>
        {% endif %}
      </form>

      <p><a href="{{ url('account/register') }}">Not yet registered? Create an account</a></p>
      <p><a href="{{ url('account/password/forgot') }}">Forget your password?</a></p>

    {% endblock %}
  {% endembed%}
{% endblock %}
