{% extends "_common/layout" %}

{% block main %}
  {% embed "_common/single" %}
    {% block post %}
      <img src="{{ p.primaryImage(entry, 'hero') }}"/>

      {{ p.postTags(entry, false, true) }}
      {{ p.postTitle(entry) }}
      {{ p.postBy(entry) }}
      
      <p>{{ entry.blogContent }}</p>

      {{ p.documents(entry.blogDocuments) }}
      {{ p.otherImages(entry.blogImages) }}

      {% include "_common/disqus_embed" with { identifier: entry.id } only %}
    {% endblock %}
  {% endembed %}
{% endblock %}
