{% macro singularSection(entry) %}
{% spaceless %}
  {% switch entry.section.handle %}
    {% case 'letters' %}
      {% set name = 'letter' %}

    {% case 'notices' %}
      {% set name = 'notice' %}

    {% default %}
      {% set name = entry.section.handle %}

  {% endswitch %}

  {{ name }}
{% endspaceless %}
{% endmacro %}

{% macro primaryImageCredit(entry, transform) %}
{% spaceless %}
  {% from _self import excerpt, singularSection %}

  {% set section = singularSection(entry) %}
  {% set fieldName = section~'Images' %}
  {% set image = attribute(entry, fieldName).first %}

  {% if image is defined %}
    {% set transform = transform | default('list') %}
    {% set maxLength = transform == 'hero' ? 65 : 49 %}

    {{ excerpt(image.credit, maxLength, true) }}
  {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro primaryImage(entry, transform) %}
{% spaceless %}
  {% from _self import singularSection %}

  {% set transform = transform | default('list') %}
  {% set section = singularSection(entry) %}
  {% set fieldName = section~'Images' %}
  {% set image = attribute(entry, fieldName).first %}

  {% if image is not null %}
    {{ image.url(transform) }}

  {% else %}
    {{ siteUrl }}img/default/{{ transform }}/{{ section }}.jpg

  {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro contributorUrl(user) %}
{% spaceless %}
  {% set slug = [user.firstName, user.lastName] | join('-') | lower | replace('/[^\\w]+/', '-') %}
  {% set base = "about/contributors" %}

  {{ url([base, user.id, slug] | join('/')) }}
{% endspaceless %}
{% endmacro %}

{% macro authorNameOrLink(entry, class) %}
  {% from _self import contributorUrl, nameCase %}

  {% set author = entry.author %}

  {% if author.isInGroup('contributor') %}
    <a href="{{ contributorUrl(author) }}" {% if class %}class="{{ class }}"{% endif %}>{{ nameCase(author.name) }}</a>

  {% else %}
    {{ nameCase(author.name) }}

  {% endif %}
{% endmacro %}

{% macro mainContent(entry) %}
  {% set mainContent = null %}

  {% switch entry.section.handle %}
    {% case 'blog' %}
      {% set mainContent = entry.blogContent %}

    {% case 'letters' %}
      {% set mainContent = entry.letterContent %}

    {% case 'media' %}
      {% set mainContent = entry.linkComments %}

    {% case 'news' %}
      {% set mainContent = entry.linkComments %}

    {% case 'notices' %}
      {% set mainContent = entry.noticeContent %}

  {% endswitch %}

  {{- mainContent -}}
{% endmacro %}

{% macro fileInfo(file) %}
  <span class="filetype">({{ file.kind }} {{ file.size | filesize }})</span>
{% endmacro %}

{%macro externalUrl(url) %}
  {{ url matches '~^https?://~' ? url : 'http://'~url }}
{% endmacro %}

{% macro webLink(url, text) %}
  {% from _self import externalUrl %}
  {% set url = externalUrl(url) %}
  {% set text = text | default(url) %}

  <a href="{{ url }}" target="_blank">{{ text }}</a>
{% endmacro %}

{% macro emailLink(emailAddress) %}
  {% set email = '<a href="mailto:'~emailAddress~'">'~emailAddress~'</a>' %}
  {{ email | rot13 }}
{% endmacro %}

{% macro phoneLink(phoneNumber) %}
  <a href="tel:{{ phoneNumber }}">{{ phoneNumber }}</a>
{% endmacro %}

{% macro mediaUrl(entry) %}
  {% from _self import externalUrl %}
{% spaceless %}

  {% set media = entry.mediaLink.first %}

  {% switch media.type %}
    {% case 'video' %}
      {% set mediaUrl = externalUrl(media.videoUrl) %}

    {% case 'audio' %}
      {% set mediaUrl = externalUrl(media.audioUrl) %}

    {% case 'document' %}
      {% set mediaUrl = externalUrl(media.documentUrl) %}

    {% case 'upload' %}
      {% set file = media.document.first %}
      {% set mediaUrl = file.url %}

  {% endswitch %}

  {{ mediaUrl }}
{% endspaceless %}
{% endmacro %}

{% macro postImage(entry, transform) %}
  {% from _self import externalUrl, mediaUrl, primaryImage, primaryImageCredit %}

  {% set transform = transform | default('list') %}

  {% set image = primaryImage(entry, transform) %}

  {% switch entry.section.handle %}
    {% case 'media' %}
    <div class="image-wrapper">
      <a href="{{ mediaUrl(entry) }}" target="_blank"><span class="overlay {{ entry.mediaLink.first.type }}"></span><img src="{{ image }}"></a> <!-- please add doc/video/audio class to "overlay" span for images -->
      <p class="image-credit">{{ primaryImageCredit(entry, transform) }}</p>
    </div>

    {% case 'news' %}
    <div class="image-wrapper">
      <a href="{{ externalUrl(entry.newsLink) }}" target="_blank"><img src="{{ image }}"></a>
      <p class="image-credit">{{ primaryImageCredit(entry, transform) }}</p>
    </div>

    {% default %}
    <div class="image-wrapper">
      <a href="{{ entry.url }}" class="detail"><img src="{{ image }}"></a>
      <p class="image-credit">{{ primaryImageCredit(entry, transform) }}</p>
    </div>

  {% endswitch %}
{% endmacro %}

{% macro filterLink(section, category) %}
  <a href="/{{ section.handle }}?{{ category.group.handle }}={{ category.id }}">{{ category }}</a>
{% endmacro %}

{% macro postTags(entry, unfiltered, secondary) %}
  {% set unfiltered = unfiltered | default(false) %}
  {% set secondary = secondary | default(false) %}

  {% from _self import filterLink %}

  <ul class="tags">
    {% if unfiltered %}
      <li><a href="/{{ entry.section.handle }}">{{ entry.section.handle }}</a></li> |
    {% endif %}

    {% set location = entry.primaryLocation.first %}

    <li>{{ filterLink(entry.section, location) }}</li> |

    {% if secondary %}
      {% for location in entry.secondaryLocations %}
        <li>{{ filterLink(entry.section, location) }}</li> |
      {% endfor %}
    {% endif %}

    {% set topic = entry.primaryTopic.first %}
    <li>{{ filterLink(entry.section, topic) }}</li>

    {% if secondary %}
      {% for topic in entry.secondaryTopics %}
        | <li>{{ filterLink(entry.section, topic) }}</li>
      {% endfor %}
    {% endif %}
  </ul>
{% endmacro %}

{% macro postTitle(entry) %}
  {% from _self import externalUrl, mediaUrl, titleCase %}
  {% switch entry.section.handle %}
    {% case 'blog' %}
      <h3><a href="{{ entry.url }}" class="detail">{{ titleCase(entry.title) }}</a></h3>

    {% case 'media' %}
      <h3><a class="more" href="{{ mediaUrl(entry) }}" target="_blank">{{ titleCase(entry.title) }}</a></h3>

    {% case 'news' %}
      <h3><a class="more" href="{{ externalUrl(entry.newsLink) }}" target="_blank">{{ titleCase(entry.title) }}</a></h3>

    {% case 'notices' %}
      <h3><a href="{{ entry.url }}" class="detail">{{ titleCase(entry.title) }}</a></h3>

    {% default %}
      <h3>{{ titleCase(entry.title) }}</h3>

  {% endswitch %}
{% endmacro %}

{% macro commentCount(entry) %}
  {# TODO
  - <span class="disqus-comment-count" data-disqus-identifier="{{ entry.id }}"></span>
  #}
{% endmacro %}

{% macro authorLinks(entry) %}
  {% if craft.request.path starts with 'account' and currentUser and currentUser.id == entry.authorId %}
    <p class="author-links">
    {% if currentUser.isInGroup('contributor') %}
      <a href="/edit/{{ entry.id }}/{{ entry.slug }}">Edit</a> |

      {% if entry.status == 'disabled' %}
        <a href="{{ actionUrl('mpEntry/publishEntry', { entryId: entry.id }) }}">Publish</a> |
      {% else %}
        <a href="{{ actionUrl('mpEntry/unpublishEntry', { entryId: entry.id }) }}">Unpublish</a> |
      {% endif %}

    {% else %} {# Guest #}
      {% if entry.status == 'disabled' %}
        <a href="/edit/{{ entry.id }}/{{ entry.slug }}">Edit</a> |
        <a href="{{ actionUrl('mpEntry/publishEntry', { entryId: entry.id }) }}">Publish</a> |
      {% endif %}
    {% endif %}

      <a href="#" class="delete-entry" data-url="{{ actionUrl('mpEntry/deleteEntry', { entryId: entry.id }) }}">Delete</a>
    </p>
    <br class="author-links">
  {% endif %}
{% endmacro %}

{% macro postBy(entry) %}
  {% from _self import authorNameOrLink, commentCount, formatDateTime, nameCase %}

  {% switch entry.section.handle %}
    {% case 'letters' %}
      <div class="byline">
        Posted by: {{ authorNameOrLink(entry) }} - {% if craft.request.segment(1) == 'letters' %}{{ nameCase(entry.author.city) }}{% else %}{{ formatDateTime(entry.postDate) }}{% endif %}
      </div>

    {% case 'news' %}
      <div class="byline">Posted by: {{ authorNameOrLink(entry) }} - {{ formatDateTime(entry.postDate) }}</div>

    {% default %}
      <div class="byline">Posted by: {{ authorNameOrLink(entry) }} - {{ formatDateTime(entry.postDate) }} {{ commentCount(entry) }}</div>

  {% endswitch %}
{% endmacro %}

{% macro formatDateTime(date) %}
  {{ date | date('F j, Y') }} - {{ date | date('g:ia') }}
{% endmacro %}

{% macro letterUrl(entry) %}
  {{- '/letters/' ~ entry.postDate | date('Y/m/d') -}}
{% endmacro %}

{% macro noticeEvent(notice, displayAddress) %}
  {% set displayAddress = displayAddress | default(false) %}

  {% if notice.venue %}
    <div class="event"><span class="event-venue">{{ notice.venue }}</span><br>

    {% if displayAddress %}
      {% if notice.streetAddress %}
        {{ notice.streetAddress }}<br>
      {% endif %}

      {% if (notice.city is not empty) and (notice.state is not empty) %}
        {{ [notice.city, notice.state] | join(', ') }}
      {% else %}
        {{ notice.city }}
        {{ notice.state }}
      {% endif %}

      {{ notice.zipCode }}
    {% endif %}
    </div>
  {% endif %}

  {% if notice.startDate %}
    <div class="event">
      {{ notice.startDate | date('F j, Y') }}

    {% if notice.endDate and (notice.endDate | date('Ymd')) != (notice.startDate | date('Ymd')) %}

      to {{ notice.endDate | date('F j, Y') }}

    {% endif %}

    {% if notice.startTime %}
      <br>
      {{ notice.startTime | date('g:i a') }}

      {% if notice.endTime %}

        - {{ notice.endTime | date('g:i a') }}

      {% endif %}
    {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% macro postSummary(entry) %}
  {% from _self import excerpt, externalUrl, letterUrl, mainContent, mediaUrl, noticeEvent, postBy, postTitle %}

  {% set content = mainContent(entry) %}
  {% set maxChars = 180 %}

  {% switch entry.section.handle %}
    {% case 'letters' %}
      <p>{{ excerpt(content, maxChars) }} &hellip; <a class="more" href="{{ letterUrl(entry) }}">more »</a></p>

    {% case 'media' %}
      {{ postTitle(entry) }}
      {{ postBy(entry) }}
      <p>{{ content }} &hellip; <a class="more" href="{{ mediaUrl(entry) }}" target="_blank">view media »</a></p>

    {% case 'news' %}
      {{ postTitle(entry) }}
      {{ postBy(entry) }}
      <p>{{ content }} &hellip; <a class="more" href="{{ externalUrl(entry.newsLink) }}" target="_blank">more »</a></p>

    {% case 'notices' %}
      {{ postTitle(entry) }}
      {{ noticeEvent(entry) }}
      {{ postBy(entry) }}
      <p><a class="more detail" href="{{ entry.url }}">more »</a></p>

    {% default %}
      {{ postTitle(entry) }}
      {{ postBy(entry) }}
      <p>{{ excerpt(content, maxChars) }} &hellip; <a class="more detail" href="{{ entry.url }}">more »</a></p>

  {% endswitch %}
{% endmacro %}

{% macro featuredPost(entry) %}
  {% from _self import postImage, postSummary, postTags %}

  <div class="{% if entry.section.handle == "notices" %}notice {% endif %} featured">
    {{ postImage(entry, 'hero') }}
    {{ postTags(entry, true) }}
    {{ postSummary(entry) }}
  </div>
{% endmacro %}

{% macro post(entry, unfiltered) %}
  {% from _self import authorLinks, postBy, postImage, postSummary, postTags, postTitle %}

  {% set unfiltered = unfiltered | default(false) %}

  {% switch entry.section.handle %}
    {% case 'letters' %}
      <li class="listing">
        <div>
            {{ postTitle(entry) }}
          {% if craft.request.segment(1) == 'letters' %}
            <p>{{ entry.letterContent }}</p>
          {% else %}
            {{ postBy(entry) }}
            {{ postSummary(entry) }}
          {% endif %}
          {{ authorLinks(entry) }}
        </div>
      </li>

    {% default %}
      <li class="listing{% if entry.section.handle == 'notices' %} notices{% endif %}">
        <div class="post">
          {{ postImage(entry) }}
          {{ postTags(entry, unfiltered) }}
          {{ postSummary(entry) }}
          {{ authorLinks(entry) }}
        </div>
      </li>

  {% endswitch %}
{% endmacro %}

{% macro titleCase(title) %}
  {{ craft.mpentry.titleCase(title) }}
{% endmacro %}

{% macro nameCase(name) %}
  {{ craft.mpentry.nameCase(name) }}
{% endmacro %}

{% macro documents(documents) %}
  {% from _self import documentDownload %}

  {% for file in documents %}
    <div class="download"><a href="{{ file.url }}" target="_blank">{{ file.title }} <span class="filetype">({{ file.kind }} {{ file.size | filesize }})</span></a></div>
  {% endfor %}
{% endmacro %}

{% macro excerpt(text, maxLength, omitEllipsis) %}
  {% set text = text | striptags %}
  {% set maxLength = maxLength | default(25) %}
  {% set omitEllipsis = omitEllipsis | default(false) %}

  {% if (text | length) > maxLength %}
    {{ text | slice(0, maxLength) }}{{ omitEllipsis ? '' : '...' }}
  {% else %}
    {{ text }}
  {% endif %}
{% endmacro %}

{% macro genericTags(entry) %}
  {% for tag in entry.genericTags %}
    <span>{{ tag }}</span>{% if not loop.last %}, {% endif %}
  {% endfor %}
{% endmacro %}

{% macro fieldMaxLength(fieldHandle) %}
{% spaceless %}
  {% set field = craft.fields.getFieldByHandle(fieldHandle) %}

  {{ field ? field.settings.maxLength : 255 }}
{% endspaceless %}
{% endmacro %}

{% macro matrixFieldMaxLength(fieldHandle, blockHandle, blockFieldHandle) %}
{% spaceless %}
  {% set field = craft.fields.getFieldByHandle(fieldHandle) %}
  {% set block = null %}
  {% set blockField = null %}

  {% for blockType in field.fieldType.settings.blockTypes %}
    {% if blockType.handle == blockHandle %}
      {% set block = blockType %}
    {% endif %}
  {% endfor %}

  {% if blockType %}
    {% for field in blockType.fields %}
      {% if field.handle == blockFieldHandle %}
        {% set blockField = field %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {{ blockField ? blockField.settings.maxLength : 255 }}
{% endspaceless %}
{% endmacro %}
