{% macro primaryImageCredit(entry) %}
{% spaceless %}
  {% set credit = null %}

  {% switch entry.section.handle %}
    {% case 'blog' %}
      {% set fieldName = 'blogImages' %}

    {% case 'media' %}
      {% set fieldName = 'mediaImages' %}

    {% case 'news' %}
      {% set fieldName = 'newsImages' %}

    {% case 'notices' %}
      {% set fieldName = 'noticeImages' %}

    {% default %}
      {% set fieldName = null %}

  {% endswitch %}

  {% if fieldName is not null %}
    {% set images = attribute(entry, fieldName) %}

    {% if images is defined %}
      {% for block in images.order('sortOrder asc').limit(1) %}
        {{ block.credit }}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro primaryImage(entry, transform) %}
{% spaceless %}
  {% set image = null %}
  {% set transform = transform | default('list') %}

  {% switch entry.section.handle %}
    {% case 'blog' %}
      {% set fieldName = 'blogImages' %}

    {% case 'media' %}
      {% set fieldName = 'mediaImages' %}

    {% case 'news' %}
      {% set fieldName = 'newsImages' %}

    {% case 'notices' %}
      {% set fieldName = 'noticeImages' %}

    {% default %}
      {% set fieldName = null %}

  {% endswitch %}

  {% if fieldName is not null %}
    {% set images = attribute(entry, fieldName) %}

    {% if images is defined %}
      {% for block in images.order('sortOrder asc').limit(1) %}
        {% set image = block.image.first %}
      {% endfor %}
    {% endif %}

    {% if image is not null %}
      {{ image.url(transform) }}

    {% else %}
      /img/default-{{ transform }}.png

    {% endif %}
  {% else %}
    /img/default-{{ transform }}.png

  {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro contributorUrl(user) %}
{% spaceless %}
  {% set slug = [user.firstName, user.lastName] | join('-') | lower | replace('/[^\\w]+/', '-') %}
  {% set base = "about/contributors" %}

  {{ url([base, user.id, slug] | join('/')) }}
{% endspaceless %}
{% endmacro %}

{% macro authorNameOrLink(entry, class) %}
  {% from _self import contributorUrl, nameCase %}

  {% set author = entry.author %}

  {% if author.isInGroup('contributor') %}
    <a href="{{ contributorUrl(author) }}" {% if class %}class="{{ class }}"{% endif %}>{{ nameCase(author.name) }}</a>

  {% else %}
    {{ nameCase(author.name) }}

  {% endif %}
{% endmacro %}

{% macro mainContent(entry) %}
  {% set mainContent = null %}

  {% switch entry.section.handle %}
    {% case 'blog' %}
      {% set mainContent = entry.blogContent %}

    {% case 'letters' %}
      {% set mainContent = entry.letterContent %}

    {% case 'media' %}
      {% set mainContent = entry.linkComments %}

    {% case 'news' %}
      {% set mainContent = entry.linkComments %}

    {% case 'notices' %}
      {% set mainContent = entry.noticeContent %}

  {% endswitch %}

  {{- mainContent -}}
{% endmacro %}

{% macro fileInfo(file) %}
  <span class="filetype">({{ file.kind }} {{ file.size | filesize }})</span>
{% endmacro %}

{%macro externalUrl(url) %}
  {{ url matches '~^https?://~' ? url : 'http://'~url }}
{% endmacro %}

{% macro mediaUrl(entry) %}
  {% from _self import externalUrl %}
{% spaceless %}

  {% set media = entry.mediaLink.first %}

  {% switch media.type %}
    {% case 'video' %}
      {% set mediaUrl = externalUrl(media.videoUrl) %}

    {% case 'document' %}
      {% set mediaUrl = externalUrl(media.documentUrl) %}

    {% case 'upload' %}
      {% set file = media.document.first %}
      {% set mediaUrl = file.url %}

  {% endswitch %}

  {{ mediaUrl }}
{% endspaceless %}
{% endmacro %}

{% macro postImage(entry, transform) %}
  {% from _self import externalUrl, mediaUrl, primaryImage, primaryImageCredit %}

  {% set transform = transform | default('list') %}

  {% set image = primaryImage(entry, transform) %}

  {% switch entry.section.handle %}
    {% case 'media' %}
    <div class="image-wrapper">
      <a href="{{ mediaUrl(entry) }}" target="_blank"><img src="{{ image }}"></a>
      <p class="image-credit">{{ primaryImageCredit(entry) }}</p>
    </div>

    {% case 'news' %}
    <div class="image-wrapper">
      <a href="{{ externalUrl(entry.newsLink) }}" target="_blank"><img src="{{ image }}"></a>
      <p class="image-credit">{{ primaryImageCredit(entry) }}</p>
    </div>

    {% default %}
    <div class="image-wrapper">
      <a href="{{ entry.url }}"><img src="{{ image }}"></a>
      <p class="image-credit">{{ primaryImageCredit(entry) }}</p>
    </div>

  {% endswitch %}
{% endmacro %}

{% macro filterLink(section, category) %}
  <a href="/{{ section.handle }}?filter={{ category.group.handle }}&id={{ category.id }}">{{ category }}</a>
{% endmacro %}

{% macro postTags(entry, unfiltered, secondary) %}
  {% set unfiltered = unfiltered | default(false) %}
  {% set secondary = secondary | default(false) %}

  {% from _self import filterLink %}

  <ul class="tags">
    {% if unfiltered %}
      <li><a href="/{{ entry.section.handle }}">{{ entry.section.handle }}</a></li> |
    {% endif %}

    {% set location = entry.primaryLocation.first %}

    <li>{{ filterLink(entry.section, location) }}</li> |

    {% if secondary %}
      {% for location in entry.secondaryLocations %}
        <li>{{ filterLink(entry.section, location) }}</li> |
      {% endfor %}
    {% endif %}

    {% set topic = entry.primaryTopic.first %}
    <li>{{ filterLink(entry.section, topic) }}</li>

    {% if secondary %}
      {% for topic in entry.secondaryTopics %}
        | <li>{{ filterLink(entry.section, topic) }}</li>
      {% endfor %}
    {% endif %}
  </ul>
{% endmacro %}

{% macro postTitle(entry) %}
  {% from _self import externalUrl, mediaUrl, titleCase %}
  {% switch entry.section.handle %}
    {% case 'blog' %}
      <h3><a href="{{ entry.url }}">{{ titleCase(entry.title) }}</a></h3>

    {% case 'media' %}
      <h3><a class="more" href="{{ mediaUrl(entry) }}" target="_blank">{{ titleCase(entry.title) }}</a></h3>

    {% case 'news' %}
      <h3><a class="more" href="{{ externalUrl(entry.newsLink) }}" target="_blank">{{ titleCase(entry.title) }}</a></h3>

    {% case 'notices' %}
      <h3><a href="{{ entry.url }}">{{ titleCase(entry.title) }}</a></h3>

    {% default %}
      <h3>{{ titleCase(entry.title) }}</h3>

  {% endswitch %}
{% endmacro %}

{% macro commentCount(entry) %}
  <span class="disqus-comment-count" data-disqus-identifier="{{ entry.id }}"></span>
{% endmacro %}

{% macro authorLinks(entry) %}
  {% if craft.request.path starts with 'account' and currentUser and currentUser.id == entry.authorId %}
    <p class="author-links">
    {% if currentUser.isInGroup('contributor') %}
      <a href="/edit/{{ entry.id }}/{{ entry.slug }}">Edit</a> |

      {% if entry.status == 'disabled' %}
        <a href="{{ actionUrl('mpEntry/publishEntry', { entryId: entry.id }) }}">Publish</a> |
      {% else %}
        <a href="{{ actionUrl('mpEntry/unpublishEntry', { entryId: entry.id }) }}">Unpublish</a> |
      {% endif %}

    {% else %} {# Guest #}
      {% if entry.status == 'disabled' %}
        <a href="/edit/{{ entry.id }}/{{ entry.slug }}">Edit</a> |
        <a href="{{ actionUrl('mpEntry/publishEntry', { entryId: entry.id }) }}">Publish</a> |
      {% endif %}
    {% endif %}

      <a href="#" class="delete-entry" data-url="{{ actionUrl('mpEntry/deleteEntry', { entryId: entry.id }) }}">Delete</a>
    </p>
    <br class="author-links">
  {% endif %}
{% endmacro %}

{% macro postBy(entry) %}
  {% from _self import authorNameOrLink, commentCount %}

  {% switch entry.section.handle %}
    {% case 'letters' %}
      <div class="byline">By {{ authorNameOrLink(entry) }} - {% if craft.request.segment(1) == 'letters' %}{{ entry.author.city }}{% else %}{{ entry.postDate | date('F j, Y') }}{% endif %}</div>

    {% case 'news' %}
      <div class="byline">By {{ authorNameOrLink(entry) }} - {{ entry.postDate | date('F j, Y') }}</div>

    {% default %}
      <div class="byline">By {{ authorNameOrLink(entry) }} - {{ entry.postDate | date('F j, Y') }} - {{ commentCount(entry) }}</div>

  {% endswitch %}
{% endmacro %}

{% macro letterUrl(entry) %}
  {{- '/letters/' ~ entry.postDate | date('Y/m/d') -}}
{% endmacro %}

{% macro postSummary(entry) %}
  {% from _self import externalUrl, letterUrl, mainContent, mediaUrl, postBy, postTitle %}

  {% set content = mainContent(entry) %}
  {% set maxChars = 200 %}

  {% switch entry.section.handle %}
    {% case 'letters' %}
      <p>{{ content | striptags | slice(0, maxChars) }} &hellip; <a class="more" href="{{ letterUrl(entry) }}">more »</a></p>

    {% case 'media' %}
      {{ postTitle(entry) }}
      {{ postBy(entry) }}
      <p>{{ content }} &hellip; <a class="more" href="{{ mediaUrl(entry) }}" target="_blank">view media »</a></p>

    {% case 'news' %}
      {{ postTitle(entry) }}
      {{ postBy(entry) }}
      <p>{{ content }} &hellip; <a class="more" href="{{ externalUrl(entry.newsLink) }}" target="_blank">more »</a></p>

    {% default %}
      {{ postTitle(entry) }}
      {{ postBy(entry) }}
      <p>{{ content | striptags | slice(0, maxChars) }} &hellip; <a class="more" href="{{ entry.url }}">more »</a></p>

  {% endswitch %}
{% endmacro %}

{% macro featuredPost(entry) %}
  {% from _self import postImage, postSummary, postTags %}

  <div class="featured">
    {{ postImage(entry, 'hero') }}
    {{ postTags(entry, true) }}
    {{ postSummary(entry) }}
  </div>
{% endmacro %}

{% macro post(entry, unfiltered) %}
  {% from _self import authorLinks, postBy, postImage, postSummary, postTags, postTitle %}

  {% set unfiltered = unfiltered | default(false) %}

  {% switch entry.section.handle %}
    {% case 'letters' %}
      <li class="listing">
        <div>
            {{ postTitle(entry) }}
          {% if craft.request.segment(1) == 'letters' %}
            <p>{{ entry.letterContent }}</p>
          {% else %}
            {{ postBy(entry) }}
            {{ postSummary(entry) }}
          {% endif %}
          {{ authorLinks(entry) }}
        </div>
      </li>

    {% default %}
      <li class="listing">
        <div class="post">
          {{ postImage(entry) }}
          {{ postTags(entry, unfiltered) }}
          {{ postSummary(entry) }}
          {{ authorLinks(entry) }}
        </div>
      </li>

  {% endswitch %}
{% endmacro %}

{% macro titleCase(title) %}
  {{ craft.mpentry.titleCase(title) }}
{% endmacro %}

{% macro nameCase(name) %}
  {{ craft.mpentry.nameCase(name) }}
{% endmacro %}

{% macro documentTitle(file, title) %}
  {{ title | default(file.title) }}
{% endmacro %}

{% macro documentDownload(file, title) %}
  {% from _self import documentTitle %}

  <div class="download"><a href="{{ file.url }}">{{ documentTitle(file, title) }} <span class="filetype">({{ file.kind }} {{ file.size | filesize }})</span></a></div>
{% endmacro %}

{% macro documents(documents) %}
  {% from _self import documentDownload %}

  {% if documents | length %}
    {% for block in documents %}
      {% set file = block.document.first %}
      {{ documentDownload(file, block.documentTitle) }}
    {% endfor %}

  {% endif %}
{% endmacro %}

{% macro otherImages(images) %}
  {% if images | length %}
    <div class="thumbs">
    {% for block in images.order('sortOrder asc').offset(1) %}
      {% set image = block.image.first %}
      <a href="#"><img src="{{ image.url('thumb') }}"/></a>
    {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro excerpt(text, maxLength) %}
  {% set maxLength = maxLength | default(25) %}

  {% if (text | length) < maxLength %}
    {{ text }}
  {% else %}
    {{ text | slice(0, maxLength) }}...
  {% endif %}
{% endmacro %}
