{% extends "_common/layout" %}

{% block main %}
  {% embed "_common/single" %}
    {% block title %}Create a MARIN POST Account{% endblock %}

    {% block post %}
      <div class="help">{{ n.siteMessage }}</div>

      <form method="post" accept-charset="UTF-8" id="register" class="user-form">
          {{ getCsrfInput() }}
          <input type="hidden" name="action" value="users/saveUser">
          <input type="hidden" name="redirect" value="account/register/email">

          <div class="field">
              <label for="firstName">First Name <span class="note">* required</span></label>
              <input type="text" id="firstName" name="firstName" maxlength="30" {%- if account is defined %} value="{{ account.firstName }}"{% endif %}>
              {% if account is defined %}
                {{ f.errorList(account.getErrors('firstName')) }}
              {% endif %}
          </div>
          <div class="field">
              <label for="lastName">Last Name <span class="note">* required</span></label>
              <input type="text" id="lastName" name="lastName" maxlength="30" {%- if account is defined %} value="{{ account.lastName }}"{% endif %}>
              {% if account is defined %}
                {{ f.errorList(account.getErrors('lastName')) }}
              {% endif %}
          </div>
          <div class="field">
              <label for="organization">Street Address <span class="note">* required</span></label>
              <input type="text" id="streetAddress" name="fields[streetAddress]" maxlength="128" {%- if account is defined %} value="{{ account.streetAddress }}"{% endif %}>
              {% if account is defined %}
                {{ f.errorList(account.getErrors('streetAddress')) }}
              {% endif %}
          </div>
          <div class="field">
              <label for="city">City <span class="note">* required</span></label>
              <input type="text" id="city" name="fields[city]" maxlength="30" {%- if account is defined %} value="{{ account.city }}"{% endif %}>
              {% if account is defined %}
                {{ f.errorList(account.getErrors('city')) }}
              {% endif %}
          </div>
          <div class="field">
              <label for="state">State <span class="note">* required</span></label>
              <select id="state" name="fields[state]">
              {% for option in craft.fields.getFieldbyHandle('state').settings.options %}
                <option value="{{ option.value }}" {%- if account is defined and option.value == account.state.value %}selected{% endif %}>{{ option.label }}</option>
              {% endfor %}
              </select>
              {% if account is defined %}
                {{ f.errorList(account.getErrors('state')) }}
              {% endif %}
          </div>
          <div class="field">
              <label for="zipCode">Zip Code <span class="note">* required</span></label>
              <input type="text" id="zipCode" name="fields[zipCode]" maxlength="5" {%- if account is defined %} value="{{ account.zipCode }}"{% endif %}>
              {% if account is defined %}
                {{ f.errorList(account.getErrors('zipCode')) }}
              {% endif %}
          </div>
          <div class="field">
              <label for="organization">Organization</label> (optional)
              <input type="text" id="organization" name="fields[organization]" maxlength="128" {%- if account is defined %} value="{{ account.organization }}"{% endif %}>
          </div>
          <div class="field">
              <label for="email">Email Address <span class="note">* required</span></label>
              <input id="email" type="text" name="email" maxlength="64" {%- if account is defined %} value="{{ account.email }}"{% endif %}>
              {% if account is defined %}
                {{ f.errorList(account.getErrors('email')) }}
              {% endif %}
          </div>
          <div class="field">
              <label for="confirmEmail">Re-enter Email Address <span class="note">* required</span></label>
              <input id="confirmEmail" type="text" maxlength="64" autocomplete="off">
          </div>
          <div class="field">
              <label for="password">Password <span class="note">* required</span></label>
              <input id="password" type="password" name="password" maxlength="32" autocomplete="off" placeholder="Password must be at least 8 letters, numbers or characters.">
              {% if account is defined %}
                {{ f.errorList(account.getErrors('password')) }}
              {% endif %}
          </div>
          <div class="field">
              <label for="confirmPassword">Re-enter Password <span class="note">* required</span></label>
              <input id="confirmPassword" type="password" maxlength="32" autocomplete="off">
          </div>
          <div class="field">
              <input type="hidden" id="defaultTermsOfUse" name="fields[termsOfUse]" value="">
              {% for option in craft.fields.getFieldByHandle('termsOfUse').settings.options %}
                <label for="termsOfUse">
                  <input type="checkbox" id="termsOfUse" name="fields[termsOfUse][]" value="{{ option.value }}">
                  I agree to the Marin Post <a href="/about/terms">Terms of Use</a> and <a href="/about/privacy">Privacy Policy</a>.
                </label>
              {% endfor %}
              {% if account is defined %}
                {{ f.errorList(account.getErrors('termsOfUse')) }}
              {% endif %}
          </div>
          <div class="field">
              {% set honeyPot = 'birthdate' %}
              <label for="{{ honeyPot }}">{{ honeyPot | capitalize }} <span class="note">* required</span></label>
              <input id="{{ honeyPot }}" name="{{ honeyPot }}" type="text" maxlength="32" autocomplete="off">
          </div>

          <br>
          <input type="submit" value="Create Account">
          <!--div class="g-recaptcha" data-sitekey="6LfclgYTAAAAAHEhhjtX-Go0TsLJ6RsRKcZgtLGO"></div-->
      </form>

      <p><a href="{{ loginUrl }}">Already registered?</a></p>

    {% endblock %}
  {% endembed %}
{% endblock %}

{# includeJsFile 'https://www.google.com/recaptcha/api.js' #}

{% set js %}
  $('form.user-form').userForm();
{% endset %}
{% includeJs js %}
