{% extends "_common/layout" %}

{% block main %}
  {% embed "_common/single" %}
    {% block title %}Create a MARIN POST Account{% endblock %}
    {% block post %}
      <div class="help">Your personal information will never be shared with third parties.</div>
      <form method="post" accept-charset="UTF-8" id="register">
          {{ getCsrfInput() }}
          <input type="hidden" name="action" value="users/saveUser">
          <input type="hidden" name="redirect" value="account/register/email">

          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" maxlength="30" {%- if account is defined %} value="{{ account.firstName }}"{% endif %}>
          {% if account is defined %}
            {{ f.errorList(account.getErrors('firstName')) }}
          {% endif %}
          <br>

          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" maxlength="30" {%- if account is defined %} value="{{ account.lastName }}"{% endif %}>
          {% if account is defined %}
            {{ f.errorList(account.getErrors('lastName')) }}
          {% endif %}
          <br>

          <label for="organization">Organization</label>
          <input type="text" id="organization" name="fields[organization]" maxlength="128" {%- if account is defined %} value="{{ account.organization }}"{% endif %}>
          <br>

          <label for="organization">Street Address</label>
          <input type="text" id="streetAddress" name="fields[streetAddress]" maxlength="128" {%- if account is defined %} value="{{ account.streetAddress }}"{% endif %}>
          {% if account is defined %}
            {{ f.errorList(account.getErrors('streetAddress')) }}
          {% endif %}
          <br>

          <label for="city">City</label>
          <input type="text" id="city" name="fields[city]" maxlength="30" {%- if account is defined %} value="{{ account.city }}"{% endif %}>
          {% if account is defined %}
            {{ f.errorList(account.getErrors('city')) }}
          {% endif %}
          <br>

          <label for="state">State</label>
          <select id="state" name="fields[state]">
          {% for option in craft.fields.getFieldbyHandle('state').settings.options %}
            <option value="{{ option.value }}" {%- if account is defined and option.value == account.state.value %}selected{% endif %}>{{ option.label }}</option>
          {% endfor %}
          </select>
          {% if account is defined %}
            {{ f.errorList(account.getErrors('state')) }}
          {% endif %}
          <br>

          <label for="zipCode">Zip Code</label>
          <input type="text" id="zipCode" name="fields[zipCode]" maxlength="5" {%- if account is defined %} value="{{ account.zipCode }}"{% endif %}>
          {% if account is defined %}
            {{ f.errorList(account.getErrors('zipCode')) }}
          {% endif %}
          <br>

          <label for="phoneNumber">Phone Number</label>
          <input type="text" id="phoneNumber" name="fields[phoneNumber]" maxlength="20" {%- if account is defined %} value="{{ account.phoneNumber }}"{% endif %}>
          {% if account is defined %}
            {{ f.errorList(account.getErrors('phoneNumber')) }}
          {% endif %}
          <br>

          <label for="email">Email Address</label>
          <input id="email" type="text" name="email" maxlength="64" {%- if account is defined %} value="{{ account.email }}"{% endif %}>
          {% if account is defined %}
            {{ f.errorList(account.getErrors('email')) }}
          {% endif %}
          <br>

          <label for="confirmEmail">Re-enter Email Address</label>
          <input id="confirmEmail" type="text" maxlength="64" autocomplete="off">
          <br>

          <label for="password">Password</label>
          <input id="password" type="password" name="password" maxlength="32" autocomplete="off">
          {% if account is defined %}
            {{ f.errorList(account.getErrors('password')) }}
          {% endif %}
          <br>

          <label for="termsOfUse">Terms of Use</label>
          <input type="hidden" id="defaultTermsOfUse" name="fields[termsOfUse]" value="">
        {% for option in craft.fields.getFieldByHandle('termsOfUse').settings.options %}
          <input type="checkbox" id="termsOfUse" name="fields[termsOfUse][]" value="{{ option.value }}">
        {% endfor %}
          {% if account is defined %}
            {{ f.errorList(account.getErrors('termsOfUse')) }}
          {% endif %}
          <br>

          <input type="submit" value="Register">
      </form>

      <p><a href="{{ loginUrl }}">Already registered?</a></p>

    {% endblock %}
  {% endembed %}
{% endblock %}
