{% requireLogin %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "account/_layout" %}
    {% block post %}

      <h2>My Account Information</h2>
      <div class="help">{{ n.siteMessage }}</div>

      <form method="post" accept-charset="utf-8" id="update-information" class="user-form">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/saveUser">
        <input type="hidden" name="userId" value="{{ currentUser.id }}">
        <input type="hidden" name="redirect" value="account/information/updated">

        {% if account is defined %}
          {{ f.errorList(account.allErrors) }}
        {% endif %}

        <div class="field">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" maxlength="50" value="{{ currentUser.firstName }}" maxlength="30">
            {% if account is defined %}
              {{ f.errorList(account.getErrors('firstName')) }}
            {% endif %}
        </div>
        <div class="field">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" maxlength="50" value="{{ currentUser.lastName }}" maxlength="30">
            {% if account is defined %}
              {{ f.errorList(account.getErrors('lastName')) }}
            {% endif %}
        </div>
        <div class="field">
            <label for="organization">Organization</label>
            <input type="text" id="organization" name="fields[organization]" maxlength="70" value="{{ currentUser.organization }}" maxlength="128">
        </div>
{#
        <div class="field">
            <label for="organization">Street Address</label>
            <input type="text" id="streetAddress" name="fields[streetAddress]" maxlength="70" value="{{ currentUser.streetAddress }}" maxlength="128">
            {% if account is defined %}
              {{ f.errorList(account.getErrors('streetAddress')) }}
            {% endif %}
        </div>
#}
        <div class="field">
            <label for="city">City</label>
            <input type="text" id="city" name="fields[city]" maxlength="60" value="{{ currentUser.city }}" maxlength="30">
            {% if account is defined %}
              {{ f.errorList(account.getErrors('city')) }}
            {% endif %}
        </div>
        <div class="field">
            <label for="state">State</label>
            {% set selectedState = currentUser.state %}
            {% if account is defined %}
              {% set selectedState = account.state %}
            {% endif %}
            <select id="state" name="fields[state]">
            {% for option in craft.fields.getFieldbyHandle('state').settings.options %}
              <option value="{{ option.value }}" {%- if option.value == selectedState.value %}selected{% endif %}>{{ option.label }}</option>
            {% endfor %}
            </select>
            {% if account is defined %}
              {{ f.errorList(account.getErrors('state')) }}
            {% endif %}
        </div>
        <div class="field">
            <label for="zipCode">Zip Code</label>
            <input type="text" id="zipCode" name="fields[zipCode]" value="{{ currentUser.zipCode }}" maxlength="5">
            {% if account is defined %}
              {{ f.errorList(account.getErrors('zipCode')) }}
            {% endif %}
        </div>
        <input type="submit" value="Update">
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% set js %}
  $('form.user-form').userForm();
{% endset %}
{% includeJs js %}
