{% requireLogin %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "account/_layout" %}
    {% block post %}

      <h2>My Account Information</h2>
      <div class="help">Instructions.</div>

      <form method="post" accept-charset="utf-8">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/saveUser">
        <input type="hidden" name="userId" value="{{ currentUser.id }}">
        <input type="hidden" name="redirect" value="account/information/updated">

        {% if account is defined %}
          {{ f.errorList(account.allErrors) }}
        {% endif %}

        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" value="{{ currentUser.firstName }}" maxlength="30">
        {% if account is defined %}
          {{ f.errorList(account.getErrors('firstName')) }}
        {% endif %}
        <br>

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" value="{{ currentUser.lastName }}" maxlength="30">
        {% if account is defined %}
          {{ f.errorList(account.getErrors('lastName')) }}
        {% endif %}
        <br>

        <label for="organization">Organization</label>
        <input type="text" id="organization" name="fields[organization]" value="{{ currentUser.organization }}" maxlength="128">
        <br>

        <label for="organization">Street Address</label>
        <input type="text" id="streetAddress" name="fields[streetAddress]" value="{{ currentUser.streetAddress }}" maxlength="128">
        {% if account is defined %}
          {{ f.errorList(account.getErrors('streetAddress')) }}
        {% endif %}
        <br>

        <label for="city">City</label>
        <input type="text" id="city" name="fields[city]" value="{{ currentUser.city }}" maxlength="30">
        {% if account is defined %}
          {{ f.errorList(account.getErrors('city')) }}
        {% endif %}
        <br>

        <label for="state">State</label>
        {% set selectedState = currentUser.state %}
        {% if account is defined %}
          {% set selectedState = account.state %}
        {% endif %}
        <select id="state" name="fields[state]">
        {% for option in craft.fields.getFieldbyHandle('state').settings.options %}
          <option value="{{ option.value }}" {%- if option.value == selectedState.value %}selected{% endif %}>{{ option.label }}</option>
        {% endfor %}
        </select>
        {% if account is defined %}
          {{ f.errorList(account.getErrors('state')) }}
        {% endif %}
        <br>

        <label for="zipCode">Zip Code</label>
        <input type="text" id="zipCode" name="fields[zipCode]" value="{{ currentUser.zipCode }}" maxlength="5">
        {% if account is defined %}
          {{ f.errorList(account.getErrors('zipCode')) }}
        {% endif %}
        <br>

        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" name="fields[phoneNumber]" value="{{ currentUser.phoneNumber }}" maxlength="20">
        {% if account is defined %}
          {{ f.errorList(account.getErrors('phoneNumber')) }}
        {% endif %}
        <br>

        <label for="termsOfUse">Terms of Use</label>
        <input type="hidden" id="defaultTermsOfUse" name="fields[termsOfUse]" value="">
        {% for option in craft.fields.getFieldByHandle('termsOfUse').settings.options %}
          <input type="checkbox" id="termsOfUse" name="fields[termsOfUse][]" value="{{ option.value }}" {% if option.value == currentUser.termsOfUse[0].value %}checked{% endif %}>
        {% endfor %}
        {% if account is defined %}
          {{ f.errorList(account.getErrors('termsOfUse')) }}
        {% endif %}
        <br>

        <input type="submit" value="Update">
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}
