{% set user = craft.users.id(craft.request.segments(3)).first %}

{% if not user or not user.inGroup("contributor") %}
  {% redirect "404" %}
{% endif %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "about/_layout" %}
    {% block post %}
      <h2>Contributor Profile</h2>
      {% if user.userImage.first %}
        <div class="image-wrapper profile">
	        <img src="{{ user.userImage.first.url('profile') }}" />
        </div>
      {% endif %}

      <h3 class="contributor">{{ p.nameCase(user.name) }}</h3>
      <div class="profession">
          {% if user.titleOrProfession %}
            {{ user.titleOrProfession }}<br>
          {% endif %}
    
          {{ p.nameCase(user.city) }}, {{ user.state }}
      </div>

      {% if user.webSite %}
        <p class="my-web-site"><a href="{{ p.externalUrl(user.webSite) }}" target="_blank">My Website</a></p>
      {% endif %}

      <p>{% if user.bio %}{{ user.bio }}{% endif %}</p>

      <div class="attachments">
        {{ p.documents(user.userDocuments) }}
      </div>

      <h3 class="my-content" data-section="blog"><a href="#">My Blog Posts</a></h3>
      <ul class="posts" style="display:none"></ul>
      <h3 class="my-content" data-section="news"><a href="#">My News Links</a></h3>
      <ul class="posts" style="display:none"></ul>
      <h3 class="my-content" data-section="notices"><a href="#">My Notices</a></h3>
      <ul class="posts" style="display:none"></ul>
      <h3 class="my-content" data-section="media"><a href="#">My Media Links</a></h3>
      <ul class="posts" style="display:none"></ul>
      <h3 class="my-content" data-section="letters"><a href="#">My Letters</a></h3>
      <ul class="posts" style="display:none"></ul>

      {% include "_common/disqus_count.html" %}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% set js %}
  $(function() {
    var authorId = '{{ craft.request.segment(3) }}';
    
    /**
     * offset[section] denotes number of already fetched entries for each section
     * where section is blog, news, notices, media or letters
     */ 
    var offset = {
      'blog': 0,
      'news': 0,
      'notices': 0,
      'media': 0,
      'letters': 0
    };
    
    /**
     * limit denotes how many entries to retrieve
     */ 
    const limit = 20;
    
    /**
     * list[section] denotes the dom element to which entries are appended to. 
     * where section is blog, news, notices, media or letters
     */
    var $list = {
      'blog': null,
      'news': null,
      'notices': null,
      'media': null,
      'letters': null
    }

    $('h3.my-content a').click(function(e) {
      var $link   = $(this);
      var $parent = $link.parent();      
      var section = $parent[0].dataset.section;
      $list[section]  = $parent.next('ul.posts');     

      if ($parent.hasClass('active')) {
        $list[section].hide();
      } else {
        if ($list[section].children().length == 0) {
          $link.append('<img id="spinner" src="/img/spinner.gif" style="padding-left: 8px">');

          $.get(
            '/about/contributor_entries',
            {authorId: authorId, section: section, offset: offset[section], limit: limit},
            function(result) {
              $list[section].html(result);
              $link.find('img').remove();
              if($(result).filter('.listing').length == limit){
                $list[section].append('<div style="text-align: center;"><input type="button" id="btn-load-more" value="Load More..." style="margin-bottom: .5em;" data-section="'+section+'"/></div>');
              }
              offset[section] = offset[section] + limit;
            }
          );
        }

        $list[section].show();
      }

      e.preventDefault();
    });

    /**
     * Hide sections if they do not contain any entries.
     */
    $.each( $('h3.my-content'), function( index, sectionHeadingElem ){
      var section = sectionHeadingElem.dataset.section;
      if(section){
        $.get(
          '/about/contributor_entries',
          {authorId: authorId, section: section, offset: offset[section], limit: limit},
          function(result) {
            if(!result){                  
              $(sectionHeadingElem).hide();
            }
          }
        );
      }
    });

    /**
     * Click handler for 'Load More...' button. Fetches the posts depending on the 'limit' 
     * and appends them to the specified section (blog, news, notices, media, letters).
     *
     * #btn-load-more is not created in DOM. Therefore, we attach the listener using .on().
     */
    $(document).on('click', '#btn-load-more', function(e) {
      $loadMoreBtn = $(this);
      var section = $loadMoreBtn.data('section');
      
      $list[section].append('<img id="spinner" src="/img/spinner.gif" style="padding-left: 8px">');

      $.get(
        '/about/contributor_entries',
        {authorId: authorId, section: section, offset: offset[section], limit: limit},
        function(result) {
          $list[section].append($('<div>').html(result));
          $list[section].find('#spinner').remove();
          $loadMoreBtn.parent().remove();
          if(result){
            if($(result).filter('.listing').length == limit)
              $list[section].append($loadMoreBtn.parent());
            offset[section] = offset[section] + limit;
          }
        }
      );

      e.preventDefault();
    });
  });
{% endset %}
{% includeJs js %}
