{% set user = craft.users.id(craft.request.segments(3)).first %}

{% if not user or not user.inGroup("contributor") %}
  {% redirect "404" %}
{% endif %}

{% set imageSize = 200 %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "about/_layout" %}
    {% block post %}
      <h2>Contributor Profile</h2>
      {% if user.photoUrl %}
        <img src="{{ user.photoUrl(imageSize) }}" />
      {% endif %}

      <h3>{{ user.name }}</h3>
      {% if user.titleOrProfession %}
        <p>{{ user.titleOrProfession }}</p>
      {% endif %}

      <p>{{ user.city }}, {{ user.state }}</p>

      {% if user.bio %}
        <p>{{ user.bio }}</p>
      {% endif %}

      {% set entries = craft.entries.authorId(user.id) | group('section.handle') %}

      {% import "about/_macros" as m %}

      {{ m.entries(entries['blog'], 'My Blog Posts') }}
      {{ m.entries(entries['news'], 'My News Links') }}
      {{ m.entries(entries['notices'], 'My Notices') }}
      {{ m.entries(entries['media'], 'My Media Links') }}
      {{ m.entries(entries['letters'], 'My Letters') }}

      {% include "_common/disqus_count.html" %}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% set js %}
  $(function() {
    $('h3.my-content a').click(function(e) {
      e.preventDefault();

      $(this).parent().next('ul').toggle();
    });
  });
{% endset %}
{% includeJs js %}
