{% set user = craft.users.id(craft.request.segments(3)).first %}

{% if not user or not user.inGroup("contributor") %}
  {% redirect "404" %}
{% endif %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "about/_layout" %}
    {% block post %}
      <h2>Contributor Profile</h2>
      {% if user.userImage.first %}
        <div class="image-wrapper profile">
	        <img src="{{ user.userImage.first.url('profile') }}" />
        </div>
      {% endif %}

      <h3 class="contributor">{{ p.nameCase(user.name) }}</h3>
      <div class="profession">
          {% if user.titleOrProfession %}
            {{ user.titleOrProfession }}<br>
          {% endif %}
    
          {{ p.nameCase(user.city) }}, {{ user.state }}
      </div>

      {% if user.webSite %}
        <p class="my-web-site"><a href="{{ p.externalUrl(user.webSite) }}" target="_blank">My Web Site</a></p>
      {% endif %}

      <p>{% if user.bio %}{{ user.bio }}{% endif %}</p>

      <div class="attachments">
        {{ p.documents(user.userDocuments) }}
      </div>

      <h3 class="my-content" data-section="blog"><a href="#">My Blog Posts</a></h3>
      <ul class="posts" style="display:none"></ul>
      <h3 class="my-content" data-section="news"><a href="#">My News Links</a></h3>
      <ul class="posts" style="display:none"></ul>
      <h3 class="my-content" data-section="notices"><a href="#">My Notices</a></h3>
      <ul class="posts" style="display:none"></ul>
      <h3 class="my-content" data-section="media"><a href="#">My Media Links</a></h3>
      <ul class="posts" style="display:none"></ul>
      <h3 class="my-content" data-section="letters"><a href="#">My Letters</a></h3>
      <ul class="posts" style="display:none"></ul>

      {% include "_common/disqus_count.html" %}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% set js %}
  $(function() {
    var authorId = '{{ craft.request.segment(3) }}';

    $('h3.my-content a').click(function(e) {
      var $link   = $(this);
      var $parent = $link.parent();
      var $list   = $parent.next('ul.posts');
      var section = $parent[0].dataset.section;

      console.log('authorId', authorId, 'section', section);

      if ($parent.hasClass('active')) {
        $list.hide();
      } else {
        if ($list.children().length == 0) {
          $link.append('<img src="/img/spinner.gif" style="padding-left: 8px">');

          $list.load(
            '/about/contributor_entries',
            {authorId: authorId, section: section},
            function() {
              $link.find('img').remove();
            }
          );
        }

        $list.show();
      }

      e.preventDefault();
    });
  });
{% endset %}
{% includeJs js %}
