<main class="single">
  <div class="sub-nav filter">
    {% block subNav %}
        {{ n.arrowLink('about', 'About Us') }}
        {{ n.arrowLink('about/staff', 'Staff & Volunteers') }}
        {{ n.arrowLink('about/advisors', 'Advisors') }}
          <h5 {% if craft.request.path == "about/contributors" %}class="active"{% endif %}><a href="/about/contributors">Contributors</a></h5>
          <ul class="contributors" style="display: none;">
            <li><input type="radio" name="author" value="{{ url('about/contributors') }}" checked="checked" /> All</li>
            {% for author in craft.users.group('contributor').order('lastName, firstName') %}
              <li>
                <input type="radio" name="author" id="{{ author.firstName }} {{ author.lastName }}" value="{{ p.contributorUrl(author) }}"/> <label for='{{ author.firstName }} {{ author.lastName }}'>{{ author.name }}</label>
              </li>
            {% endfor %}
          </ul>
        {{ n.arrowLink('about/terms', 'Terms of Use') }}
        {{ n.arrowLink('about/privacy', 'Privacy Policy') }}
        {{ n.arrowLink('about/subscribe', 'Subscribe') }}
        {{ n.arrowLink('about/sponsor', 'Sponsor Marin Post') }}
        {{ n.arrowLink('about/advertise', 'Advertise on Marin Post') }}
    {% endblock %}
  </div>

  <div class="list-wrapper">
    {% block post %}
    {% endblock %}
  </div>
</main>
