<main class="single clearfix">
  <div class="sub-nav">
      <div class="filter">
    {% block subNav %}
        {{ n.arrowLink('about', 'About Us') }}
        {{ n.arrowLink('about/staff', 'Staff & Volunteers') }}
        {{ n.arrowLink('about/advisors', 'Advisors') }}
          <a href="/about/contributors"><h5 {% if craft.request.path == "about/contributors" %}class="active"{% endif %}>Contributors</h5></a>
          <ul class="contributors" style="display: none;">
            <li><input type="radio" name="author" value="{{ url('about/contributors') }}" checked="checked" /> All</li>
            {% for author in craft.users.group('contributor').order('lastName, firstName') %}
              <li>
                <input type="radio" name="author" id="{{ author.firstName }} {{ author.lastName }}" value="{{ p.contributorUrl(author) }}"/> <label for='{{ author.firstName }} {{ author.lastName }}'>{{ author.name }}</label>
              </li>
            {% endfor %}
          </ul>
        {{ n.arrowLink('about/terms', 'Terms of Use') }}
        {{ n.arrowLink('about/privacy', 'Privacy Policy') }}
        {{ n.arrowLink('about/subscribe', 'Subscribe') }}
        {{ n.arrowLink('about/sponsor', 'Sponsor Us') }}
        {{ n.arrowLink('about/advertise', 'Advertise') }}
    {% endblock %}
      </div>
  </div>

  <div class="{% if craft.request.path == "about/contributors" %}list-wrapper{% else %}post{% endif %}">
    {% block post %}
    {% endblock %}
  </div>
</main>
