{% extends "_common/layout" %}

{% block main %}
  {% embed "about/_layout" %}

    {% block post %}
      {% set contributors = craft.users.group('contributor').order('lastName, firstName') %}

      <h2>Contributors</h2>

      <div class="help">{{ n.siteMessage }}</div>

      <ul class="posts">
        {% for contributor in contributors %}
          <li class="listing">
            {% if contributor.userImage.first %}
            <div class="image-wrapper profile">
              <a href="{{ p.contributorUrl(contributor) }}"><img src="{{ contributor.userImage.first.url('profile') }}" class="profile" /></a>
            </div>
            {% endif %}

            <h3 class="contributor"><a href="{{ p.contributorUrl(contributor) }}">{{ p.nameCase(contributor.name) }}</a></h3>
            <div class="profession">
              {% if contributor.titleOrProfession %}
                {{ contributor.titleOrProfession }}<br>
              {% endif %}
                
              {{ contributor.city }}, {{ contributor.state }}
            </div>

            {% if contributor.webSite %}
              <p class="my-web-site"><a href="{{ p.externalUrl(contributor.webSite) }}" target="_blank">My Web Site</a></p>
            {% endif %}
        
            {% if contributor.bio %}
              <p>{{ p.excerpt(contributor.bio, 200) }}&nbsp;<a href="{{ p.contributorUrl(contributor) }}">more »</a></p>
            {% else %}
             <p></p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
  {% endembed %}
{% endblock %}
