{# Called via Javascript from /about/contributors/id #}
{% if not craft.request.isAjax %} {% exit 404 %} {% endif %}
{% spaceless %}

{% set authorId = craft.request.param('authorId') %}
{% set section  = craft.request.param('section') %}
{% set offset  = craft.request.param('offset') %}
{% set limit  = craft.request.param('limit') %}
{% set totEntries = craft.entries.authorId(authorId).section(section) %}
{% set entries = craft.entries.authorId(authorId).section(section).offset(offset).limit(limit) %}

{% set entriesHTML = "" %}
{% import "_entry/macros" as m %}
{% for entry in entries %}
  {% set entriesHTML = entriesHTML ~ m.post(entry) %}
{% endfor %}
{
  "total_count" : {{ totEntries | length }},
  "count" : {{ entries | length }},
  "html" : "{{ entriesHTML | json_encode() }}"
}
{% endspaceless %}