{% extends "_common/layout" %}

{% block main %}
  {% embed "about/_layout" %}

    {% block post %}
      <h2>Contributors</h2>

      {% set imageSize = 200 %}

      <ul class="posts">
        {% for user in craft.users.group('contributor').order('lastName, firstName') %}
          <li class="listing">
            {% if user.photoUrl %}
              <a href="{{ p.contributorUrl(user) }}"><img src="{{ user.photoUrl(imageSize) }}" /></a>
            {% endif %}

            <h3><a href="{{ p.contributorUrl(user) }}">{{ user.name }}</a></h3>

            {% if user.titleOrProfession %}
              <p class="profession">{{ user.titleOrProfession }}</p>
            {% endif %}

            <p class="hometown">{{ user.city }}, {{ user.state }}</p>

            {% if user.bio %}
              <p>{{ user.bio }}</p>
            {% endif %}

            <p><a href="{{ p.contributorUrl(user) }}">more</a></p>
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
  {% endembed %}
{% endblock %}
