{% extends "_common/layout" %}

{% block main %}
  {% embed "about/_layout" %}

    {% block post %}
      <h2>Contributors</h2>
      <div class="help">{{ n.siteMessage }}</div>

      <ul class="posts">
        {% for user in craft.users.group('contributor').order('lastName, firstName') %}
          <li class="listing">
            {% if user.userImage.first %}
            <div class="image-wrapper profile">
              <a href="{{ p.contributorUrl(user) }}"><img src="{{ user.userImage.first.url('profile') }}" class="profile" /></a>
            </div>
            {% endif %}

            <h3 class="contributor"><a href="{{ p.contributorUrl(user) }}">{{ p.nameCase(user.name) }}</a></h3>
            <div class="profession">
                {% if user.titleOrProfession %}
                {{ user.titleOrProfession }}<br>
                {% endif %}
                
                {{ user.city }}, {{ user.state }}
            </div>

            {% if user.webSite %}
              <p class="my-web-site"><a href="{{ p.externalUrl(user.webSite) }}" target="_blank">My Web Site</a></p>
            {% endif %}
        
            {% if user.bio %}
              <p>{{ p.excerpt(user.bio, 200) }}&nbsp;<a href="{{ p.contributorUrl(user) }}">more »</a></p>
            {% else %}
              <p></p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
  {% endembed %}
{% endblock %}
