{% extends "_common/layout" %}

{% block main %}
  {% embed "about/_layout" %}

    {% block post %}
      {% set guests = craft.users.group('guest').order('lastName, firstName').find %}
      {% set entries = craft.entries.find %}
      {% set authoredEntries = entries | group('authorId') %}

      <h2>Guest Writers</h2>

      <div class="help">{{ n.siteMessage }}</div>

      <ul class="posts">
        {% for guest in guests %}
          {% if authoredEntries[guest.id] | length %}
            <li class="listing">
              <h3 class="contributor">{{ p.nameCase(guest.name) }}</h3>
              <div class="profession">
                {% if guest.titleOrProfession %}
                  {{ guest.titleOrProfession }}<br>
                {% endif %}

                {{ guest.city }}, {{ guest.state }}
              </div>
              <p></p>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endblock %}
  {% endembed %}
{% endblock %}
