{% extends "_common/layout" %}

{% block main %}
  {% embed "about/_layout" %}

    {% block post %}
      <h2>Guest Writers</h2>
      <div class="help">{{ n.siteMessage }}</div>

      <ul class="posts">
        {% for guest in craft.users.group('guest').limit(null).order('lastName, firstName') if craft.entries.authorId(guest.id).total > 0 %}
          <li class="listing">
            <h3 class="contributor"><a href="/search?query={{ p.nameCase(guest.name) }}&type=exact">{{ p.nameCase(guest.name) }}</a></h3>
            <div class="profession">
              {% if guest.titleOrProfession %}
                {{ guest.titleOrProfession }}<br>
              {% endif %}

              {{ p.nameCase(guest.city) }}, {{ guest.state }}
            </div>
            <p></p>
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
  {% endembed %}
{% endblock %}
