<main class="single">
  <div class="sub-nav account">
    {% block subNav %}
      <ul>
        {{ n.arrowLink('account/information', 'My Account') }}
        {{ n.arrowLink('account/email', 'Email Address') }}
        {{ n.arrowLink('account/password', 'Password') }}
      {% if currentUser.inGroup('contributor') %}
        {{ n.arrowLink('account/profile', 'Profile') }}
      {% endif %}
        {{ n.arrowLink('account/blog', 'My Blog') }}
        {{ n.arrowLink('account/news', 'My News') }}
        {{ n.arrowLink('account/notices', 'My Notices') }}
        {{ n.arrowLink('account/media', 'My Media') }}
        {{ n.arrowLink('account/letters', 'My Letters') }}
        {{ n.arrowLink('account/subscription', 'My Subscription') }}

      </ul>
    {% endblock %}
  </div>

  <div class="post">
    {% block post %}
      <h2 class="comment-count">{{ title }}</h2>
    {% if title == 'My Subscription' %}
      <div class="coming-soon">Coming soon!</div>
    {% else %}
      <div class="help">{{ n.siteMessage }}</div>

      <table>
        <tr>
          <th>Title</th>
          <th>Created</th>
          <th>Published</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </th>
        {% for entry in entries %}
          <tr>
            <td>{{ entry.title }}</td>
            <td>{{ entry.dateCreated | date('M d, Y') }}</td>
            <td>
              {% if entry.status != 'disabled' %}
                {{ entry.postDate | date('M d, Y') }}
              {% endif %}
            </td>
            <td><a href="/view/{{ entry.id }}/{{ entry.slug }}">View</a></td>
            <td>
              {% if currentUser.isInGroup('contributor') or entry.status == 'disabled' %}
                <a href="/edit/{{ entry.id }}/{{ entry.slug }}">Edit</a>
              {% endif %}
            </td>
            <td>
              {% if currentUser.isInGroup('contributor') and entry.status == 'live' %}
                <a href="{{ actionUrl('mpEntry/unpublishEntry', { entryId: entry.id }) }}">Unpublish</a>
              {% endif %}
            </td>
            <td>
              <a href="{{ actionUrl('mpEntry/deleteEntry', { entryId: entry.id }) }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </table>
          {% endif %}

    {% endblock %}
  </div>
</main>
