<main class="single">
  <div class="sub-nav">
    {% block subNav %}
      <ul>
        {{ n.arrowLink('/account/information', 'My Account Information') }}
        {{ n.arrowLink('/account/email', 'Email & Password') }}
        {{ n.arrowLink('/account/profile', 'Personal Profile') }}
        {{ n.arrowLink('/account/blog', 'My Blog Posts') }}
        {{ n.arrowLink('/account/news', 'My News Links') }}
        {{ n.arrowLink('/account/notices', 'My Notices') }}
        {{ n.arrowLink('/account/media', 'My Media Links') }}
        {{ n.arrowLink('/account/letters', 'My Letters') }}
      </ul>
    {% endblock %}
  </div>

  <div class="post">
    {% block post %}
    {% endblock %}
  </div>
</main>
