<main class="clearfix">
  <div class="sub-nav account">{% block subNav %}
      <h4>My Account</h4>
        {{ n.arrowLink('account/information', 'My Account') }}
        {{ n.arrowLink('account/email', 'Email Address') }}
        {{ n.arrowLink('account/password', 'Password') }}
      {% if currentUser.inGroup('contributor') %}
        {{ n.arrowLink('account/profile', 'Profile') }}
      {% endif %}
        {{ n.arrowLink('account/blog', 'My Blog') }}
        {{ n.arrowLink('account/notices', 'My Notices') }}
        {{ n.arrowLink('account/news', 'My News') }}
        {{ n.arrowLink('account/media', 'My Media') }}
        {{ n.arrowLink('account/letters', 'My Letters') }}
        {{ n.arrowLink('account/subscription', 'My Subscription') }}
        {{ n.arrowLink('account/delete', 'Delete Account') }}
      {% endblock %}
    </div>

  <div class="list-wrapper">
    {% block post %}
      <h2 class="comment-count">{{ title }}</h2>

      <ul class="posts">
        {% for entry in entries %}
          {{ p.post(entry) }}
        {% endfor %}
      </ul>
    {% endblock %}
  </div>
</main>
