{% extends "_layout" %}

{% block content %}
  {% embed "_unfiltered_content.html" %}
    {% from "_macro.html" import errorList %}

    {% block main %}
      <form method="post" accept-charset="UTF-8">
          {{ getCsrfInput() }}
          <input type="hidden" name="action" value="users/saveUser">
          <input type="hidden" name="redirect" value="">

          <h3><label for="email">Email</label></h3>
          <input id="email" type="text" name="email" {%- if account is defined %} value="{{ account.email }}"{% endif %}>
          {% if account is defined %}
            {{ errorList(account.getErrors('email')) }}
          {% endif %}

          <h3><label for="password">Password</label></h3>
          <input id="password" type="password" name="password">
          {% if account is defined %}
            {{ errorList(account.getErrors('password')) }}
          {% endif %}

          <input type="submit" value="Register">
      </form>

      <p><a href="{{ loginUrl }}">Already registered?</a></p>
    {% endblock %}
  {% endembed %}
{% endblock %}
