{% requireLogin %}

{% if not currentUser.inGroup('contributor') %}
  {% redirect 403 %}
{% endif %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "account/_layout" %}
    {% block post %}

      <h2>My Personal Profile</h2>
      <div class="help">{{ n.siteMessage }}</div>

      <form method="post" accept-charset="utf-8" enctype="multipart/form-data" class="profile-form">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/saveUser">
        <input type="hidden" name="userId" value="{{ currentUser.id }}">
        <input type="hidden" name="redirect" value="account/profile/updated">

        {% if account is defined %}
          {{ f.errorList(account.allErrors) }}
        {% endif %}

        <div class="field account-profile clearfix">
	        <label for="photoUrl">Photo</label>
	        <img src="{{ currentUser.photoUrl ? currentUser.photoUrl : url('img/user.gif') }}" class="profile"/>
	        <br>
	        <input type="file" name="userPhoto" value="{{ (currentUser.photoUrl ? 'Change Photo' : 'Upload') }}">
        </div>

        <div class="field">
	        <label for="titleOrProfession" class="required">Title or Profession</label> <span class="note">* required</span>
	        <input type="text" id="firstName" name="fields[titleOrProfession]" value="{{ currentUser.titleOrProfession }}" maxlength="64">
	        {% if account is defined %}
	          {{ f.errorList(account.getErrors('titleOrProfession')) }}
	        {% endif %}
        </div>

        <div class="field">
	        <label for="bio">Personal Bio</label> <span class="note">* required</span>
	        <textarea id="bio" name="fields[bio]" cols="60" rows="12" class="wysiwyg required" >{{ currentUser.bio }}</textarea>
        </div>

        <div class="field">
            <label for="website">My Website</label>
            <input type="text" name="fields[webSite]" autocomplete="off" placeholder="Enter website URL address" value="{{ entry.webSite }}">
        </div>

        <input type="submit" value="Update">
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% set js %}
  $('form.profile-form').formWysiwyg();
{% endset %}
{% includeJs js %}
