{% requireLogin %}

{% if not currentUser.inGroup('contributor') %}
  {% redirect 403 %}
{% endif %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "account/_layout" %}
    {% block post %}

      <h2>My Personal Profile</h2>
      <div class="help">{{ n.siteMessage }}</div>

      <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/saveUser">
        <input type="hidden" name="userId" value="{{ currentUser.id }}">
        <input type="hidden" name="redirect" value="account/profile/updated">

        {% if account is defined %}
          {{ f.errorList(account.allErrors) }}
        {% endif %}

        <label for="photoUrl">Photo</label>
        <img src="{{ currentUser.photoUrl ? currentUser.photoUrl : url('img/user.gif') }}" />
        <br>
        <input type="file" name="userPhoto" value="{{ (currentUser.photoUrl ? 'Change Photo' : 'Upload') }}">
        <br style="clear: both;">

        <label for="titleOrProfession">Title or Profession</label>
        <input type="text" id="firstName" name="fields[titleOrProfession]" value="{{ currentUser.titleOrProfession }}" maxlength="64">
        {% if account is defined %}
          {{ f.errorList(account.getErrors('titleOrProfession')) }}
        {% endif %}
        <br>

        <label for="bio">Bio</label>
        <textarea id="bio" name="fields[bio]" rows="6">{{ currentUser.bio }}</textarea>
        <br>

        <input type="submit" value="Update">
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}
