{% set sourceId = 2 %}
{% set folder = craft.s3direct.s3Folder(sourceId) %}
{% set s3 = craft.s3direct.s3UploadForm(sourceId) %}

{% set documentBlock = false %}
{% set document = false %}
{% set title = false %}
{% set errors = false %}
{% set key = 'new' %}

{% if entry %}
  {% set documentBlock = attribute(entry, documentsAttribute).first %}
  {% set document = documentBlock.document.first %}
  {% set title = documentBlock.documentTitle %}
  {% set errors = documentBlock.hasErrors %}
  {% set key = documentBlock.id | default('new') %}
{% endif %}

<div class="field">
  <label>Document</label>
  <p class="display-document">{{ document ? p.documentTitle(document, title) : '' }}</p> 

  {% if errors %}
    {{ f.errorList(documentBlock.allErrors) }}
  {% endif %}

  <input type="hidden" name="fields[{{ documentsAttribute }}]">

  <div class="document-field inputs">
    {%
      These inputs are grouped together to allow them to be removed
      from the DOM and omitted from the POST if no document is selected.
    %}
    <input type="hidden" name="fields[{{ documentsAttribute }}][{{ key }}][type]" value="document">
    <input type="hidden" name="fields[{{ documentsAttribute }}][{{ key }}][fields][document]">
    <input type="hidden" name="fields[{{ documentsAttribute }}][{{ key }}][fields][document][]" {% if document %}value="{{ document.id }}"{% endif -%}>
    <input type="hidden" name="fields[{{ documentsAttribute }}][{{ key }}][fields][documentTitle]" {% if title %}value="{{ title }}"{% endif %}>
  </div>
</div>

<div id="document-modal" title="{{ document ? 'Change' : 'Add' }} Document">
  <label for="document">
    Select a PDF document
    <select id="document-asset-id">
      <option value=""></option>
      {% if folder %}
        {% for asset in craft.assets.folderId(folder.id) %}
          <option value="{{ asset.id }}" {% if asset.id == document.id %}selected{% endif %}>{{ asset.filename }}</option>
        {% endfor %}
      {% endif %}
    </select>
  </label>

  <div>
    <span class="fileinput-button">
      <span>Upload a PDF document</span>
      <input id="document-fileupload" type="file" name="file" accept="application/pdf">
      <img class="s3direct document" src="/img/spinner.gif" style="display: none;"/>
    </span>

    <br>
    <div>
      <div class="s3direct document progress-bar progress-bar-success" style="width: 0%; height: 18px; background: green;"></div>
    </div>
  </div>

  <br class="clear">
  <label for="document-title">
    Document title
    <input type="text" id="document-title" autocomplete="off" {%- if title %}value="{{ title }}"{% endif %}>
  </label>
</div>

<a href="#" id="open-document-modal">{{ document ? 'Change' : 'Add' }}</a>
{% set js %}
$(function() {
  var openDocumentModal = $('#open-document-modal');
  var documentModal = $('#document-modal');
  var documentFileUpload = $('#document-fileupload');
  var srcDocument = $('select#document-asset-id');
  var srcDocumentTitle = $('input#document-title');
  var targetDocumentAssetId = $('input[type=hidden][name$="[fields][document][]"]');
  var targetDocumentTitle = $('input[type=hidden][name$="[fields][documentTitle]"]');
  var displayDocument = $('.display-document');

  var populateSelectOptionsFromIndex = function(files) {
    var selectedId = srcDocument.val();
    srcDocument.children().remove().end().append('<option value=""></option>');

    $.each(files, function(index, file) {
      var selected = file.id == selectedId ? 'selected' : '';
      srcDocument.append('<option value="'+file.id+'" '+selected+' data-url="'+file.url+'">'+file.filename+'</option>');
    });
  };

  var populateDocumentFromModal = function() {
    var title = srcDocumentTitle.val();

    targetDocumentAssetId.val(srcDocument.val());
    targetDocumentTitle.val(title);
    displayDocument.text(title || srcDocument.children('option:selected').text());
  };

  documentModal.dialog({
    autoOpen: false,
    modal: true,
    dialogClass: 'no-close',
    height: $(window).height() / 2,
    width: $(window).width() / 2,
    closeOnEscape: false,
    buttons: {
      OK: function() {
        populateDocumentFromModal();
        documentModal.dialog('close');
      },
      Cancel: function() {
        documentModal.dialog('close');
      }
    }
  });

  openDocumentModal.click(function(e) {
    e.preventDefault();
    documentModal.dialog('open');
  });

  documentFileUpload.s3direct({
    bucket: "{{ s3.bucket }}",
    subfolder: "{{ s3.subfolder }}",
    currentUserId: "{{ currentUser.id }}",
    policy: "{{ s3.policy }}",
    signature: "{{ s3.signature }}",
    accessKey: "{{ s3.keyId }}",
    assetsSourceId: {{ sourceId }},
    acceptFileTypes: /.+\.pdf$/i,
    uploadProgressBarSelector: '.s3direct.document.progress-bar',
    updateIndexIndicatorSelector: 'img.s3direct.document',
    onUpdateAssetsIndex: populateSelectOptionsFromIndex,
    debug: true,
  });
});
{% endset %}
{% includeJs js %}

{% set css %}
.clear {
  clear: both;
}

.no-close .ui-dialog-titlebar-close {
  visibility: hidden;
}
{% endset %}
{% includeCss css %}
