{% set sourceId = 3 %}
{% set transform = 'list' %}
{% set excerptLength = 20 %}

{% set folder = craft.s3direct.s3Folder(sourceId) %}
{% set s3 = craft.s3direct.s3UploadForm(sourceId) %}

{% set imageBlock = false %}
{% set image = false %}
{% set credit = false %}
{% set errors = false %}
{% set key = 'new' %}

{% if entry %}
  {% set imageBlock = attribute(entry, imagesAttribute).first %}
  {% set image = imageBlock.image.first %}
  {% set credit = imageBlock.credit %}
  {% set errors = imageBlock.hasErrors %}
  {% set key = imageBlock.id | default('new') %}
{% endif %}

<img src="{{ image ? image.url(transform) : '/img/default-'~transform~'.png' }}" class="display-image" />
<label>Image</label>

{% if errors %}
  {{ f.errorList(imageBlock.allErrors) }}
{% endif %}

<input type="hidden" name="fields[{{ imagesAttribute }}]">

<div class="image-field inputs">
  {#
    These inputs are grouped together to allow them to be removed
    from the DOM and omitted from the POST if no image is selected.
  #}
  <input type="hidden" name="fields[{{ imagesAttribute }}][{{ key }}][type]" value="image">
  <input type="hidden" name="fields[{{ imagesAttribute }}][{{ key }}][fields][image]">
  <input type="hidden" name="fields[{{ imagesAttribute }}][{{ key }}][fields][image][]" {% if image %}value="{{ image.id }}"{% endif -%}>
  <input type="hidden" name="fields[{{ imagesAttribute }}][{{ key }}][fields][credit]" {% if credit %}value="{{ credit }}"{% endif %}>
</div>

<a href="#" id="open-image-modal">{{ image ? 'Change' : 'Add' }}</a>

<div id="image-modal" title="{{ image ? 'Change' : 'Add' }} Image" style="display: none;">
  <div>
    <span class="fileinput-button">
      <span>Upload an image</span>
      <input id="image-fileupload" type="file" name="file" accept="image/gif,image/jpg,image/jpeg,image/png">
      <img class="s3direct image" src="/img/spinner.gif" style="display: none;"/>
    </span>

    <br class="clear">
    <br>
    <div>
      <div class="s3direct image progress-bar progress-bar-success" style="width: 0%; height: 18px; background: green;"></div>
    </div>
  </div>

  <br class="clear">
  <label for="image-credit" class="required">
    Image Credit <span class="note">* required</span>
    <br>
    <input type="text" id="image-credit" autocomplete="off" {%- if credit %}value="{{ credit }}"{% endif %}>
  </label>

  <br>
  <br>
  <label for="image" class="required">
    Select an Image <span class="note">* required</span>

    <ul id="src-images">
    {% if folder %}
      {% for asset in craft.assets.folderId(folder.id) %}
        <li data-asset-id="{{ asset.id }}"  data-asset-url="{{ asset.url(transform) }}" {% if asset.id == image.id %}class="selected"{% endif %}>
          <div><img src="{{ asset.url(transform) }}" /></div>
          <span class="title">{{ p.excerpt(asset.filename, excerptLength) }}</span>
        </li>
      {% endfor %}
    {% endif %}
    </ul>
  </label>
</div>

{% set js %}
$(function() {
  var openImageModal = $('#open-image-modal');
  var imageModal = $('#image-modal');
  var imageFileUpload = $('#image-fileupload');
  var srcImages = $('ul#src-images');
  var srcImageCredit = $('input#image-credit');
  var okButton = false;
  var targetImageId = $('input[type=hidden][name$="[fields][image][]"]');
  var targetImageCredit = $('input[type=hidden][name$="[fields][credit]"]');
  var displayImage = $('img.display-image');
  var defaultImageUrl = '/img/default-{{ transform }}.png';
  
  var selectedImage = function() {
    return srcImages.children('li.selected:first');
  }
  
  var imageCredit = function() {
    return srcImageCredit.val().trim();
  };

  var selectImage = function(li) {
    li.parent().children().removeClass('selected');
    li.addClass('selected');
  };
  
  var populateListFromIndex = function(files) {
    var selectedId = selectedImage().attr('data-asset-id');
    srcImages.children().remove();

    $.each(files, function(index, file) {
      var selected = file.id == selectedId ? 'class="selected"' : '';
      var name = file.filename.length > {{ excerptLength }} ? file.filename.slice(0, {{ excerptLength }})+'...' : file.filename;

      srcImages.append('<li data-asset-id="'+file.id+'" data-asset-url="'+file.url+'"' +selected+'><div><img src="'+file.url+'" /></div><span class="title">'+name+'</span></li>');
    });
  };

  var updateOkButton = function() {
    okButton.button((selectedImage().length == 1 && imageCredit().length > 0) ? 'enable' : 'disable');
  };

  var populateImageFromModal = function() {
    var selectedImage = srcImages.children('li.selected:first');

    if (selectedImage.length == 1) {
      targetImageId.val(selectedImage.attr('data-asset-id'));
      displayImage.prop('src', selectedImage.attr('data-asset-url'));
    } else {
      targetImageId.val('');
      displayImage.prop('src', defaultImageUrl);
    }

    targetImageCredit.val(imageCredit());
  };

  openImageModal.click(function(e) {
    e.preventDefault();
    imageModal.dialog('open');
  });

  imageModal.dialog({
    modal: true,
    autoOpen: false,
    height: $(window).height() * 0.75,
    width: $(window).width() * 0.75,
    dialogClass: 'no-close',
    buttons: {
      OK: function() {
        populateImageFromModal();
        imageModal.dialog('close');
      },
      Cancel: function() {
        imageModal.dialog('close');
      }
    },
    open: function(event, ui) {
      var widget = $(this).dialog('widget');
      okButton = widget.find('.ui-dialog-buttonpane button:contains(OK)');
      updateOkButton();
    },
    closeOnEscape: false,
  });

  srcImages.on('click', 'li', function(e) {
    selectImage($(this));
    updateOkButton();
  });

  srcImageCredit.keyup(function(e) {
    updateOkButton();
  });

  imageFileUpload.s3direct({
    bucket: "{{ s3.bucket }}",
    subfolder: "{{ s3.subfolder }}",
    currentUserId: "{{ currentUser.id }}",
    policy: "{{ s3.policy }}",
    signature: "{{ s3.signature }}",
    accessKey: "{{ s3.keyId }}",
    assetsSourceId: {{ sourceId }},
    acceptFileTypes: /.+\.(gif|jpe?g|png)$/i,
    uploadProgressBarSelector: '.s3direct.image.progress-bar',
    updateIndexIndicatorSelector: 'img.s3direct.image',
    onUpdateAssetsIndex: populateListFromIndex,
    debug: true,
  });
});
{% endset %}
{% includeJs js %}

{% set css %}
img.display-image {
  width: 160px;
}

ul#src-images {
  list-style: none;
}
ul#src-images li {
  height: 160px;
  width: 160px;
  margin: 14px 0 0 14px;
  float: left;
}
ul#src-images li .title {
  font-size: 12px;
}
ul#src-images li.selected {
  background: #d5d8dd;
}

.no-close .ui-dialog-titlebar-close {
  visibility: hidden;
}

.clear {
  clear: both;
}
{% endset %}
{% includeCss css %}
