{# NOTE: empty fields[fieldName][] MUST be removed (via Javascript) prior to form submission.
# See public/js/contentform.js and public/js/userform.js
#}

{% set sourceId = 5 %}
{% set folder = craft.s3direct.s3Folder(sourceId) %}
{% set s3 = craft.s3direct.s3UploadForm(sourceId) %}

{% set assets = false %}
{% if folder %}
    {% set assets = craft.assets.folderId(folder.id).limit(null).find %}
{% endif %}

{% set entry = userProfile ? currentUser : entry %}
{% set image = false %}
{% set errors = false %}

{% if entry %}
    {% set image = attribute(entry, imagesAttribute).first %}
    {% set errors = image.hasErrors %}
{% endif %}

{% set transform = 'adImageThumb' %}
{% set excerptLength = 20 %}

{% set defaultImage = userProfile ? 'user.gif' : singularSection~'.jpg' %}
{% set defaultImagePath = '/img/default/'~defaultImage %}
<img src="{{ image ? image.url(transform) : defaultImagePath }}" class="display-image {% if userProfile %}profile{% endif %}" style="height: 250px;width: 300px;background: #eded8b;"/>
<label>Your Ad Image / Copy</label>

{% if errors %}
    {{ f.errorList(imageBlock.allErrors) }}
{% endif %}

<input type="hidden" name="fields[{{ imagesAttribute }}]">

<div class="image-field inputs">
    <input type="hidden" name="fields[{{ imagesAttribute }}][]" {% if image %}value="{{ image.id }}"{% endif -%}>
</div>

<a href="#" id="open-image-modal">{{ image ? 'Replace Post Image' : 'Add an Image' }}</a>

<div id="image-modal" class="upload-modal image" title="My Ad Images" style="display: none;">
    <div>
    <div class="upload-wrapper clearfix">
        <span class="fileinput-button">
        <span>Upload an image</span>
        <input id="image-fileupload" type="file" name="file" accept="image/gif,image/jpg,image/jpeg,image/png">
        <img class="s3direct image" src="/img/spinner.gif" style="display: none;"/>
        </span>

        <div class="s3direct image progress-bar progress-bar-success"></div>
    </div>

    <div class="files-wrapper clearfix">
        <ul id="src-files" {% if not assets %}style="display: none;"{% endif %}>
        {% if folder %}
            {% for asset in assets %}
            <li data-asset-id="{{ asset.id }}" data-asset-url="{{ asset.url(transform) }}" title="{{ asset.title }}" {% if asset.id == image.id %}class="selected"{% endif %}>
                <div><img src="{{ asset.url(transform) }}" /></div>
                <span class="title">{{ p.excerpt(asset.title, excerptLength) }}</span>
            </li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
    </div>
</div>

{% set js %}
$(function() {
    var openModal = $('#open-image-modal');
    var modal = $('#image-modal');
    var fileInput = modal.find('#image-fileupload');
    var srcFiles = modal.find('ul#src-files');
    var okButton = false;
    var targetFileId = $('input[type=hidden][name="fields[{{ imagesAttribute }}][]"]');
    var targetImage = $('img.display-image');
    var defaultImagePath = '{{ defaultImagePath }}';
    var deleteButton = false;
    var deleteAssetUrl = '{{ actionUrl("mpEntry/deleteAsset") }}';

    var selectedImage = function() {
        return srcFiles.children('li.selected:first');
    }

    var selectImage = function(li) {
        li.parent().children().removeClass('selected');
        li.addClass('selected');
    };
    
    var populateListFromIndex = function(files) {
        var selectedId = selectedImage().attr('data-asset-id');
        srcFiles.children().remove();

        $.each(files, function(index, file) {
            var selected = file.id == selectedId ? 'class="selected"' : '';
            var title = file.title.length > {{ excerptLength }} ? file.title.slice(0, {{ excerptLength }})+'...' : file.title;
            srcFiles.append('<li data-asset-id="'+file.id+'" data-asset-url="'+file.url+'"' +selected+'><div><img src="'+file.url+'" /></div><span class="title">'+title+'</span></li>');
        });

        srcFiles.show();
    };

    var updateOkButton = function() {
        okButton.button((selectedImage().length == 1) ? 'enable' : 'disable');
    };

    var populateImageFromModal = function() {
    var selectedImage = srcFiles.children('li.selected:first');

    if (selectedImage.length == 1) {
        targetFileId.val(selectedImage.attr('data-asset-id')).trigger('change');
        targetImage.prop('src', selectedImage.attr('data-asset-url'));
    } else {
        targetFileId.val('').trigger('change');
        targetImage.prop('src', defaultImagePath);
    }
    };

    var updateDeleteButton = function() {
    deleteButton.button((selectedImage().length == 1) ? 'enable' : 'disable');
    };

    var deleteImage = function() {
    var selectedImage = srcFiles.children('li.selected:first');
    var assetId;

    if (selectedImage.length == 1) {
        assetId = selectedImage.attr('data-asset-id');

        $.post(deleteAssetUrl, { assetId: assetId }, function(data) {
        if (data.error) {
            alert(data.error);
        } else {
            selectedImage.remove();
            // delete this li from any other HTML as well
            var selectedId = selectedImage.attr('data-asset-id');
            $('[data-asset-id="'+selectedId+'"]').remove();

            updateDeleteButton();
            updateOkButton();

            // If this image was attached to the entry, detach and replace with default image
            if(targetFileId.val() == assetId){
            targetFileId.val('').trigger('change');
            targetImage.prop('src', defaultImagePath);
            }
        }
        });
    }
    };

    openModal.click(function(e) {
    e.preventDefault();
    modal.dialog('open');
    });

    modal.dialog({
    modal: true,
    autoOpen: false,
    height: window.matchMedia("(min-width: 51em)").matches ? $(window).height() * 0.75 : $(window).height(),
    width: window.matchMedia("(min-width: 51em)").matches ? $(window).width() * 0.75 : $(window).width(),
    dialogClass: 'no-close',
    buttons: {
        OK: function() {
        populateImageFromModal();
        modal.dialog('close');
        },
        Cancel: function() {
        modal.dialog('close');
        },
        Delete: function() {
        deleteImage();
        }
    },
    open: function(event, ui) {
        var widget = $(this).dialog('widget');
        okButton = widget.find('.ui-dialog-buttonpane button:contains(OK)');
        updateOkButton();
        deleteButton = widget.find('.ui-dialog-buttonpane button:contains(Delete)');
        updateDeleteButton();
    },
    closeOnEscape: false,
    });

    srcFiles.on('click', 'li', function(e) {
    selectImage($(this));
    updateOkButton();
    updateDeleteButton();
    });

    srcFiles.on('dblclick', 'li', function(e) {
    selectImage($(this));
    populateImageFromModal();
    modal.dialog('close');
    });

    fileInput.s3direct({
    bucket: "{{ s3.bucket }}",
    subfolder: "{{ s3.subfolder }}",
    currentUserId: "{{ currentUser.id }}",
    policy: "{{ s3.policy }}",
    signature: "{{ s3.signature }}",
    accessKey: "{{ s3.keyId }}",
    assetsSourceId: {{ sourceId }},
    acceptFileTypes: /.+\.(gif|jpe?g|png)$/i,
    imageTransform: '{{ transform }}',
    uploadProgressBarSelector: '#image-modal div .upload-wrapper .s3direct.image.progress-bar',
    updateIndexIndicatorSelector: '#image-modal div .upload-wrapper .fileinput-button .s3direct.image',
    onUpdateAssetsIndex: populateListFromIndex,
    requireFileCredit: false,
    debug: true,
    });
});
{% endset %}
{% includeJs js %}
