<main class="single">
  <div class="sub-nav">
    {% block subNav %}
      <ul>
        <li {{ n.classActive('blog', 2) }}>{{ n.submitLink('blog', 'Create a Blog post') }}</li>
        <li {{ n.classActive('news', 2) }}>{{ n.submitLink('news', 'Link News') }}</li>
        <li {{ n.classActive('notice', 2) }}>{{ n.submitLink('notice', 'Post a Notice') }}</li>
        <li {{ n.classActive('media', 2) }}>{{ n.submitLink('media', 'Link Media') }}</li>
        <li {{ n.classActive('letter', 2) }}>{{ n.submitLink('letter', 'Write a Letter') }}</li>
      </ul>
    {% endblock %}
  </div>

  <h2>
    {{ f.h2() }}
  </h2>

  <form method="post" accept-charset="UTF-8" class="content-submission">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="entries/saveEntry">
    <input type="hidden" name="redirect" value="{{ url('account/entries') }}">
    <input type="hidden" name="enabled" value="{{ f.inputValueEnabled(entry) }}">
    <input type="hidden" name="sectionId" value="{{ sectionId }}">
    {{ f.inputEntryId(entry) }}

    {% block formFields %}
    {% endblock %}

    {{ f.inputSubmit(entry) }}
  </form>
</main>

{% set formJs %}
  $(function() {
      $('form.content-submission').formImages();
      $('form.content-submission').formCategories();
      $('form.content-submission').formDocuments();
      $('form.content-submission').forms();
  });
{% endset %}

{% includeJs formJs %}
