<main class="single clearfix">
    <div class="form-wrapper">
        <h2>
          {{ f.h2(entry) }}
        </h2>

        <div class="help">{{ n.siteMessage('editad') }}</div>
      
        <form method="post" accept-charset="UTF-8" class="create-form filter-form subscription">
          {{ getCsrfInput() }}
          <input type="hidden" name="action" value="mpSubscription/createAd" />
          {% if entry.adStartDate is empty %}
            <input type="hidden" name="redirect" value="submit/success-ad" />
          {% else %}
            <input type="hidden" name="redirect" value="submit/success-ad-renew" />
          {% endif %}
          {{ f.inputEntryId(entry) }}
          {% block formFields %}
          {% endblock %}
        </form>
    </div>
  </main>