<main class="single">
  <div class="sub-nav">
    {% block subNav %}
      <ul>
        {{ n.arrowLink('submit/blog', 'Create a Blog Post') }}
        {{ n.arrowLink('submit/news', 'Link News') }}
        {{ n.arrowLink('submit/notice', 'Post a Notice') }}
        {{ n.arrowLink('submit/media', 'Link Media') }}
        {{ n.arrowLink('submit/letter', 'Write a Letter') }}
      </ul>
    {% endblock %}
  </div>

  <h2>
    {{ f.h2() }}
  </h2>

  <form method="post" accept-charset="UTF-8" class="content-submission">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="entries/saveEntry">
    <input type="hidden" name="redirect" value="/account">
    <input type="hidden" name="enabled" value="{{ f.inputValueEnabled(entry) }}">
    <input type="hidden" name="sectionId" value="{{ sectionId }}">
    {{ f.inputEntryId(entry) }}

    {% block formFields %}
    {% endblock %}

    {{ f.inputSubmit(entry) }}
  </form>
</main>

{% set formJs %}
  $(function() {
      $('form.content-submission').formImages();
      $('form.content-submission').formCategories();
      $('form.content-submission').formDocuments();
      $('form.content-submission').formWysiwyg();
      $('form.content-submission').formTextarea();
      $('form.content-submission').forms();
  });
{% endset %}

{% includeJs formJs %}
