{% macro h2() %}
  {% switch craft.request.segment(2) %}
    {% case 'blog' %}
      Create a Blog Post

    {% case 'media' %}
      Link Media

    {% case 'letter' %}
      Write a Letter

    {% case 'news' %}
      Link News

    {% case 'notice' %}
      Post a Notice
  {% endswitch %}
{% endmacro %}

{% macro inputValueEnabled(entry) %}
  {{- entry and entry.status != 'live' ? 0 : 1 -}}
{% endmacro %}

{% macro inputEntryId(entry) %}
  {% if entry and entry.id %}
    <input type="hidden" name="entryId" value="{{ entry.id }}">
  {% endif %}
{% endmacro %}

{% macro inputSubmit(entry) %}
  <input type="button" class="submit" value="Save">

  {% if currentUser.isInGroup('contributor') %}
    <input type="button" class="submit" value="Publish">
  {% endif %}

  <input type="button" class="submit" value="Cancel">
{% endmacro %}

{% macro categoryId(entry, fieldName, defaultId, limit) %}
{% spaceless %}
  {% set selected = defaultId | default(0) %}
  {% set criteria = attribute(entry, fieldName) %}
  {% if criteria is defined %}
    {% for cat in criteria.limit(limit | default(1))  %}
      {% set selected = cat.id %}
    {% endfor %}
  {% endif %}
  {{ selected }}
{% endspaceless %}
{% endmacro %}

{% macro imageBy(entry, fieldName) %}
{% spaceless %}
  {% set fieldName = fieldName | default('image') %}
  {% set imageBy = null %}

  {% if entry is defined %}
    {# FIXME for image in attribute(entry, fieldName).type('image') #}
    {% for image in attribute(entry, fieldName) %}
      {% set imageBy = image.by %}
    {% endfor %}
  {% endif %}
  {{ imageBy }}
{% endspaceless %}
{% endmacro %}

{% macro imageDisclaimer(entry, fieldName) %}
{% spaceless %}
  {% set fieldName = fieldName | default('image') %}
  {% set imageDisclaimer = null %}

  {% if entry is defined %}
    {# FIXME for image in attribute(entry, fieldName).type('image') #}
    {% for image in attribute(entry, fieldName) %}
      {% if image.disclaimer %}
        {% for option in image.disclaimer.getOptions  %}
          {% set imageDisclaimer = option.selected %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {{ imageDisclaimer }}
{% endspaceless %}
{% endmacro %}

{% macro errorList(errors) %}
  {% if errors %}
    <ul class="errors">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro timeOption(time, selected) %}
  <option value="{{ time }}" {%- if selected %}selected{% endif -%}>{{ time }}</option>
{% endmacro %}

{% macro timeOptions(selected) %}
  <option value=''>Select -</option>
  {% set selected = selected ? selected | date('g:i A') : null %}
  {% from _self import timeOption %}

  {% set time = '12:00 PM' %}
  {{ timeOption(time, time == selected) }}

  {% set time = '12:30 PM' %}
  {{ timeOption(time, time == selected) }}

  {% for i in 1..11 %}
    {% set time = loop.index~':00 PM' %}
    {{ timeOption(time, time == selected) }}

    {% set time = loop.index~':30 PM' %}
    {{ timeOption(time, time == selected) }}
  {% endfor %}

  {% set time = '12:00 AM' %}
  {{ timeOption(time, time == selected) }}

  {% set time = '12:30 AM' %}
  {{ timeOption(time, time == selected) }}

  {% for i in 1..11 %}
    {% set time = loop.index~':00 AM' %}
    {{ timeOption(time, time == selected) }}

    {% set time = loop.index~':30 AM' %}
    {{ timeOption(time, time == selected) }}
  {% endfor %}
{% endmacro %}
