{% macro h2(entry) %}
  {% switch craft.request.segment(2) %}
    {% case 'blog' %}
      Create a Blog Post

    {% case 'media' %}
      Link to Media

    {% case 'letter' %}
      Write a Letter

    {% case 'news' %}
      Link to News

    {% case 'notice' %}
      Post a Notice

    {% default %}
      {% switch entry.section.handle %}
        {% case 'blog' %}
          Edit Blog Post

        {% case 'letters' %}
          Edit Letter

        {% case 'media' %}
          Edit Media Link

        {% case 'news' %}
          Edit News Link

        {% case 'notices' %}
          Edit Notice
      {% endswitch %}
  {% endswitch %}
{% endmacro %}

{% macro inputValueEnabled(entry) %}
  {{- entry and entry.id and entry.status != 'live' ? 0 : 1 -}}
{% endmacro %}

{% macro inputEntryId(entry) %}
  {% if entry and entry.id %}
    <input type="hidden" name="entryId" value="{{ entry.id }}">
  {% endif %}
{% endmacro %}

{% macro inputSubmit(entry) %}
  <input type="button" class="submit" data-submit="preview" value="Preview">

  {% if not entry.id %}
    <input type="button" class="submit" data-submit="save" value="Save">
    <input type="button" class="submit" data-submit="publish" value="Publish">

    {% else %} {# existing entry #}
    {% if entry.author.isInGroup('contributor') %}
      {% if entry.status == 'disabled' %}
        <input type="button" class="submit" data-submit="save" value="Save">
      {% endif %}
      <input type="button" class="submit" data-submit="publish" value="Publish">

    {% else %} {# Guest #}
      {% if entry.status == 'disabled' %}
        <input type="button" class="submit" data-submit="save" value="Save">
        <input type="button" class="submit" data-submit="publish" value="Publish">
      {% endif %}
    {% endif %}
  {% endif %}

  <input type="button" class="submit" data-submit="cancel" value="Cancel">
{% endmacro %}

{% macro categoryId(entry, fieldName, defaultId, limit) %}
{% spaceless %}
  {% set selected = defaultId | default(0) %}
  {% set criteria = attribute(entry, fieldName) %}
  {% if criteria is defined %}
    {% for cat in criteria.limit(limit | default(1))  %}
      {% set selected = cat.id %}
    {% endfor %}
  {% endif %}
  {{ selected }}
{% endspaceless %}
{% endmacro %}

{% macro imageCredit(entry, fieldName) %}
{% spaceless %}
  {% set fieldName = fieldName | default('image') %}
  {% set imageCredit = null %}

  {% if entry is defined %}
    {# FIXME for image in attribute(entry, fieldName).type('image') #}
    {% for image in attribute(entry, fieldName) %}
      {% set imageCredit = image.credit %}
    {% endfor %}
  {% endif %}
  {{ imageCredit }}
{% endspaceless %}
{% endmacro %}

{% macro errorList(errors) %}
  {% if errors %}
    <ul class="errors">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro timeOption(time, selected) %}
  <option value="{{ time }}" {%- if selected %}selected{% endif -%}>{{ time }}</option>
{% endmacro %}

{% macro timeOptions(selected) %}
  <option value=''>Select -</option>
  {% set selected = selected ? selected | date('g:i A') : null %}
  {% from _self import timeOption %}

  {% set time = '12:00 AM' %}
  {{ timeOption(time, time == selected) }}

  {% set time = '12:30 AM' %}
  {{ timeOption(time, time == selected) }}

  {% for i in 1..11 %}
    {% set time = loop.index~':00 AM' %}
    {{ timeOption(time, time == selected) }}

    {% set time = loop.index~':30 AM' %}
    {{ timeOption(time, time == selected) }}
  {% endfor %}

  {% set time = '12:00 PM' %}
  {{ timeOption(time, time == selected) }}

  {% set time = '12:30 PM' %}
  {{ timeOption(time, time == selected) }}

  {% for i in 1..11 %}
    {% set time = loop.index~':00 PM' %}
    {{ timeOption(time, time == selected) }}

    {% set time = loop.index~':30 PM' %}
    {{ timeOption(time, time == selected) }}
  {% endfor %}
{% endmacro %}
