{% from "_macro.html" import errorList %}

{% set image = false %}
{% set by = false %}
{% set disclaimer = false %}

{% if entry is defined %}
  {% if entry.primaryImage | length > 0 %}
    {% set image = entry.primaryImage.first() %}

    {% set by = image.by %}

    {% for option in image.disclaimer.getOptions  %}
      {% set disclaimer = option.selected %}
    {% endfor %}
  {% endif %}
{% endif %}

<input type="checkbox" class="file-upload toggle" {%- if image %}checked="checked"{% endif %}>Upload an image

<div class="file-upload inputs" {%- if not image %}style="display: none;"{% endif %}>
  <label for="primaryImage">Primary Image</label>
  <input type="hidden" name="fields[primaryImage]">
  <input type="hidden" name="fields[primaryImage][new1][type]" value="image">
  <input type="hidden" name="fields[primaryImage][new1][fields][image]" value="">
  <input type="file" name="fields[primaryImage][new1][fields][image][]">
  <br>

  <label for="primaryImage-by">Image By</label>
  <input type="text" name="fields[primaryImage][new1][fields][by]" autocomplete="off" {%- if by %}value="{{ by }}"{% endif %}>
  <br>

  <label for="primaryImage-disclaimer">Legal</label>
  <input type="hidden" name="fields[primaryImage][new1][fields][disclaimer]" value="">
  <input type="checkbox" name="fields[primaryImage][new1][fields][disclaimer][]" value="Yes I have the right to use this image" {%- if disclaimer %}checked{% endif %}>
  <span>Yes I have the right to use this image</span>

  {% if image %}
    {{ errorList(image.allErrors) }}
  {% endif %}
</div>

<br>
