{% from "_macro/form" import categoryId, errorList %}

{% set maxLocations = 5 %}

<input type="hidden" name="fields[secondaryLocations]">

{% for i in 1..maxLocations %}
  {% set location = false %}
  {% set locationId = false %}

  {% if entry is defined %}
    {% if entry.secondaryLocations | length >= i %}
      {% set location = entry.secondaryLocations.nth(i-1) %}
      {% if location %}
        {% set locationId = location.id %}
      {% endif %}
    {% endif %}
  {% endif %}

  <input type="checkbox" class="optional-field toggle" {%- if locationId %}checked="checked"{% endif %}>more

  <div class="optional-field inputs" {%- if not locationId %}style="display: none;"{% endif %}>
    <select name="fields[secondaryLocations][]" class="array">
      <option value=""></option>
    {% set geographicGroup = false %}

    {% for option in craft.categories.group('locations') %}
      {% if not (option.geographicGroup.label == geographicGroup) %}
        {% set geographicGroup = option.geographicGroup.label %}
        <option value="" disabled="disabled"></option>
        <option value="" disabled="disabled">{{ geographicGroup }}</option>
        <option value="" disabled="disabled"></option>
      {% endif %}

      <option value="{{ option.id }}" {%- if option.id == locationId %}selected{% endif %}>{{ option.title }}</option>
    {% endfor %}
    </select>

    {% if location %}
      {{ errorList(location.allErrors) }}
    {% endif %}
  </div>

  <br>
{% endfor %}
