{% from "_macro/form.twig" import errorList %}

{% set maxImages = 2 %}

<input type="hidden" name="fields[noticeImages]">

{% for i in 1..maxImages %}
  {% set key = 'new'~i %}
  {% set image = false %}
  {% set by = false %}
  {% set disclaimer = false %}

  {% if entry is defined %}
    {% if entry.noticeImages | length >= i %}
      {% set image = entry.noticeImages.nth(i-1) %}

      {% set by = image.by %}

      {% for option in image.disclaimer.getOptions  %}
        {% set disclaimer = option.selected %}
      {% endfor %}
    {% endif %}
  {% endif %}

  <input type="checkbox" class="optional-field toggle" {%- if image %}checked="checked"{% endif %}>{{ loop.first ? 'Add image' : 'Add another' }}

  <div class="optional-field inputs" {%- if not image %}style="display: none;"{% endif %}>
    <label for="image">Image file</label>
    <input type="hidden" name="fields[noticeImages][{{ key }}][type]" value="image">
    <input type="hidden" name="fields[noticeImages][{{ key }}][fields][image]" value="">
    <input type="file" name="fields[noticeImages][{{ key }}][fields][image][]">
    <br>

    <label for="image-by">Image by</label>
    <input type="text" name="fields[noticeImages][{{ key }}][fields][by]" autocomplete="off" {%- if by %}value="{{ by }}"{% endif %}>
    <br>

    <label for="image-disclaimer">Legal</label>
    <input type="hidden" name="fields[noticeImages][{{ key }}][fields][disclaimer]" value="">
    <input type="checkbox" name="fields[noticeImages][{{ key }}][fields][disclaimer][]" value="Yes I have the right to use this image" {%- if disclaimer %}checked{% endif %}>
    <span>Yes I have the right to use this image</span>

    {% if image %}
      {{ errorList(image.allErrors) }}
    {% endif %}
  </div>

  <br>
{% endfor %}
