{% from "_macro/form.twig" import categoryId, errorList %}

{% set maxTopics = 5 %}

<input type="hidden" name="fields[secondaryTopics]">

{% for i in 1..maxTopics %}
  {% set topic = false %}
  {% set topicId = false %}

  {% if entry is defined %}
    {% if entry.secondaryTopics | length >= i %}
      {% set topic = entry.secondaryTopics.nth(i-1) %}
      {% if topic %}
        {% set topicId = topic.id %}
      {% endif %}
    {% endif %}
  {% endif %}

  <input type="checkbox" class="optional-field toggle" {%- if topicId %}checked="checked"{% endif %}>more

  <div class="optional-field inputs" {%- if not topicId %}style="display: none;"{% endif %}>
    <label for="secondaryTopics">Secondary Topic</label>

    <select name="fields[secondaryTopics][]" class="array">
      <option value=""></option>
    {% for option in craft.categories.group('topics') %}
      <option value="{{ option.id }}" {%- if option.id == topicId %}selected{% endif %}>{{ option.title }}</option>
    {% endfor %}
    </select>

    {% if topic %}
      {{ errorList(topic.allErrors) }}
    {% endif %}
  </div>

  <br>
{% endfor %}
