{% from "_macro.html" import errorList %}

<label for="mainContent">Main Content</label>
{# includeJsResource "lib/redactor/redactor.js" #}
{# Uncaught ReferenceError: Craft is not defined
  # from line 2836 within /* BEGIN HACK! */
  #}
{% includeJsFile "/js/redactor.js" %}
{% includeCssResource "lib/redactor/redactor.css" %}
{% includeJs "$('#mainContent').redactor();" %}
<textarea id="mainContent" name="fields[mainContent]" cols="60" rows="8" class="required"> {%- if entry is defined %}{{ entry.mainContent }}{% endif -%} </textarea>
{% if entry is defined %}
  {{ errorList(entry.getErrors('mainContent')) }}
{% endif %}
<br>
