{% requireLogin %}

{% set sectionId = 3 %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "_form/layout" %}
    {% block formFields %}
        <div class="field clearfix">
          {% include "_form/image" with { imagesAttribute: 'blogImages', singularSection: 'blog' } %}
        </div>
        {% include "_form/title" %}
        {% include "_form/locations" %}
        {% include "_form/topics" %}
        {% include "_form/content/blog" %}
        {% include "_form/document" with { documentsAttribute: 'blogDocuments' } %}
        <div class="field">
            <label for="website">Video Web Site Link</label>
            <input type="text" name="fields[webSite]" autocomplete="off" placeholder="Enter video website URL address" value="{{ entry.webSite }}">
        </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
