{% requireLogin %}

{% set sectionId = 3 %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "_form/layout" %}
    {% block formFields %}
        <div class="field clearfix">
          {% include "_form/image" with { imagesAttribute: 'blogImages', singularSection: 'blog' } %}
        </div>
        {% include "_form/title" %}
        {% include "_form/locations" %}
        {% include "_form/topics" %}
        {% include "_form/tags" %}
        {% include "_form/content/blog" %}
        {% include "_form/document" with { documentsAttribute: 'blogDocuments' } %}
        <div class="field">
          <label for="otherWebSite">Web Site</label>
          <input type="text" name="fields[otherWebSite]" autocomplete="off" maxlength="{{ p.fieldMaxLength('otherWebSite') }}" placeholder="http://www.example.com" value="{{ entry.otherWebSite }}">
        </div>
        <div class="field">
          <label for="website">Link to Video</label>
          <input type="text" name="fields[webSite]" autocomplete="off" maxlength="{{ p.fieldMaxLength('webSite') }}" placeholder="http://www.example.com" value="{{ entry.webSite }}">
        </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
