{% requireLogin %}

{% extends "_common/layout" %}

{% block content %}
  {% embed "_common/unfiltered_content" %}
    {% from "_macro/form" import actionUrl, errorList, redirectTo %}

    {% block main %}
      <h2>Submit a Blog Post</h2>

      <form method="post" accept-charset="UTF-8" enctype="multipart/form-data" class="content-submission">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="{{ actionUrl() }}">
        <input type="hidden" name="redirect" value="{{ redirectTo('blog') }}">
        <input type="hidden" name="sectionId" value="3">
        <input type="hidden" name="enabled" value="1">

        {% if entry is defined %}
          {{ errorList(entry.getAllErrors) }}
        {% endif %}
        <br>

        {% include "_form/title" %}
        {% include "_form/locations" %}
        {% include "_form/topics" %}
        {% include "_form/content/blog" %}
        {% include "_form/images/blog" %}
        {% include "_form/documents/blog" %}

        <input type="submit" value="Submit Blog Post">
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% set formJs %}
  $(function() {
      $('form.content-submission').forms();
  });
{% endset %}

{% includeJs formJs %}
