{% if currentUser %}
  {% redirect "submit/post" %}
{% endif %}

{% extends "_layout" %}

{% block content %}
  <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
      {{ getCsrfInput() }}
      <input type="hidden" name="action" value="guestEntries/saveEntry">
      <input type="hidden" name="redirect" value="submit/thank-you">
      <input type="hidden" name="sectionId" value="2">
  
      {% macro errorList(errors) %}
          {% if errors %}
              <ul class="errors">
                  {% for error in errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      {% endmacro %}
  
      {% from _self import errorList %}
  
      <label for="title">Title</label>
      <input id="title" type="text" name="title"
          {%- if entry is defined %} value="{{ entry.title }}"{% endif -%}>
      {% if entry is defined %}
          {{ errorList(entry.getErrors('title')) }}
      {% endif %}
  
      <label for="body">Body</label>
      <textarea id="body" name="fields[body]">
          {%- if entry is defined %}{{ entry.body }}{% endif -%}
      </textarea>
      {% includeJsResource "lib/redactor/redactor.js" %}
      {% includeCssResource "lib/redactor/redactor.css" %}
      {% includeJs "$('#body').redactor();" %}
  
      {% if entry is defined %}
          {{ errorList(entry.getErrors('body')) }}
      {% endif %}
  
  
      <label for="images">Images (max: 3)</label>
      <input id="images" type="file" name="fields[images][]" multiple>
  
      {% if entry is defined %}
          {{ errorList(entry.getErrors('images')) }}
      {% endif %}
  
      <input type="submit" value="Publish">
  </form>
{% endblock %}
