{% extends "_common/layout" %}

{% block main %}
  {% embed "_common/single" %}
    {% block post %}
      <h2>Submit Content</h2>
      <ul>
          <li><a href="{{ url('submit/blog') }}">Blog Post</a></li>
          <li><a href="{{ url('submit/news') }}">Link to News</a></li>
          <li><a href="{{ url('submit/notice') }}">Notice</a></li>
          <li><a href="{{ url('submit/media') }}">Link to Media</a></li>
          <li><a href="{{ url('submit/letter') }}">Letter to the Community</a></li>
      </ul>
    {% endblock %}
  {% endembed %}
{% endblock %}

