{% extends "_common/layout" %}

{% block main %}
  {% embed "_common/single" %}
    {% block subNav %}
      <ul>
        {{ n.arrowLink('submit/blog', 'Create a Blog Post') }}
        {{ n.arrowLink('submit/news', 'Link News') }}
        {{ n.arrowLink('submit/notice', 'Post a Notice') }}
        {{ n.arrowLink('submit/media', 'Link Media') }}
        {{ n.arrowLink('submit/letter', 'Write a Letter') }}
      </ul>
    {% endblock %}

    {% block post %}
      <h2>Contributing to The Marin Post</h2>
      <p>Staffy is a community-based non-profit organization that promotes civil dialogue between all members of the community in order to create a more open and transparent government process. Citizen Marin is a community-based non-profit organization that promotes civil dialogue between all members of the community in order to create a more open and transparent government process. Citizen Marin is a community-based non-profit organization that promotes civil dialogue between all members of the community in order to create a more open and transparent government process.</p>
      <h3>Become a Marin Post Contributor</h3>
    {% endblock %}
  {% endembed %}
{% endblock %}
