{% requireLogin %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "_common/form" %}
    {% block h2  %}
      {{ f.userAction(entry) }} Letter
    {% endblock %}

    {% block form %}
      <form method="post" accept-charset="UTF-8" class="content-submission">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="{{ f.actionUrl() }}">
        <input type="hidden" name="redirect" value="{{ f.redirectTo('letters') }}">
        <input type="hidden" name="sectionId" value="5">
        {{ f.entryId(entry) }}

        {% include "_form/title" %}

        <label for="letterContent">Letter</label>
        <textarea id="letterContent" name="fields[letterContent]" cols="60" rows="8" class="required"> {%- if entry is defined %}{{ entry.letterContent }}{% endif -%} </textarea>
        {% if entry is defined %}
          {{ f.errorList(entry.getErrors('letterContent')) }}
        {% endif %}

        <input type="submit" value="{{ f.userAction(entry) }} Letter">
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% set formJs %}
  $(function() {
      $('form.content-submission').forms();
  });
{% endset %}

{% includeJs formJs %}
