{% requireLogin %}

{% extends "_common/layout" %}

{% block content %}
  {% embed "_common/unfiltered_content" %}
    {% from "_macro/form" import actionUrl, errorList, redirectTo %}

    {% block main %}
      <h2>Submit a Letter to the Community</h2>

      <form method="post" accept-charset="UTF-8" enctype="multipart/form-data" class="content-submission">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="{{ actionUrl() }}">
        <input type="hidden" name="redirect" value="{{ redirectTo('letters') }}">
        <input type="hidden" name="sectionId" value="5">

        {% include "_form/title" %}

        <label for="letterContent">Letter</label>
        <textarea id="letterContent" name="fields[letterContent]" cols="60" rows="8" class="required"> {%- if entry is defined %}{{ entry.letterContent }}{% endif -%} </textarea>
        {% if entry is defined %}
          {{ errorList(entry.getErrors('letterContent')) }}
        {% endif %}

        <input type="submit" value="Submit Letter">
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}
