{% requireLogin %}

{% extends "_layout" %}

{% block content %}
  {% embed "_unfiltered_content.html" %}
    {% from "_submit.html" import actionUrl, redirectTo %}
    {% from "_macro.html" import errorList %}

    {% block main %}
      <form method="post" accept-charset="UTF-8" enctype="multipart/form-data" class="content-submission">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="{{ actionUrl() }}">
        <input type="hidden" name="redirect" value="{{ redirectTo('letters') }}">
        <input type="hidden" name="sectionId" value="5">

        {% include "submit/_title.html" %}

        <label for="letterBody">Body</label>
        <textarea id="letterBody" name="fields[letterBody]" cols="60" rows="8" class="required"> {%- if entry is defined %}{{ entry.letterBody }}{% endif -%} </textarea>
        {% if entry is defined %}
          {{ errorList(entry.getErrors('letterBody')) }}
        {% endif %}

        <input type="submit" value="Submit Letter">
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}
