{% requireLogin %}

{% extends "_layout" %}

{% block content %}
  {% embed "_unfiltered_content.html" %}
    {% from "_submit.html" import actionUrl, redirectTo %}
    {% from "_macro.html" import errorList %}

    {% block main %}
      <h2>Submit a Link to News</h2>

      <form method="post" accept-charset="UTF-8" enctype="multipart/form-data" class="content-submission">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="{{ actionUrl() }}">
        <input type="hidden" name="redirect" value="{{ redirectTo('news') }}">
        <input type="hidden" name="sectionId" value="2">
        <input type="hidden" name="enabled" value="1">

        {% if entry is defined %}
          {{ errorList(entry.getAllErrors) }}
        {% endif %}
        <br>

        {% include "submit/_title.html" %}
        {% include "submit/_location.html" %}
        {% include "submit/_locations.html" %}
        {% include "submit/_topic.html" %}
        {% include "submit/_topics.html" %}

        <label for="newsLink">News Link</label>
        <input id="newsLink" type="text" name="fields[newsLink]" autocomplete="off" {%- if entry is defined %} value="{{ entry.newsLink }}"{% endif -%} class="required">
        {% if entry is defined %}
          {{ errorList(entry.getErrors('newsLink')) }}
        {% endif %}
        <br>

        <label for="linkComments">Link Comments</label>
        <textarea id="linkComments" name="fields[linkComments]" cols="60" rows="8"> {%- if entry is defined %}{{ entry.linkComments }}{% endif -%} </textarea>
        {% if entry is defined %}
          {{ errorList(entry.getErrors('linkComments')) }}
        {% endif %}
        <br>

        <input type="submit" value="Submit News Link">
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}
