{% requireLogin %}

{% set sectionId = 2 %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "_form/layout" %}
    {% block formFields %}
        <div class="help">Submit a news link for publication. Your post will be reviewed prior to publication. You will be notified when it is published. Thank you for contributing to the Marin Post.</div>
      {% include "_form/images/news" %}
      {% include "_form/title" %}
      {% include "_form/locations" %}
      {% include "_form/topics" %}
      {% include "_form/links/news" %}
      {% include "_form/content/link" %}
    {% endblock %}
  {% endembed %}
{% endblock %}
