{% requireLogin %}

{% set entryType = "Notice" %}
{% set sectionId = 4 %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "_form/layout" %}
    {% block formFields %}
        {% include "_form/images/notice" %}
        <hr>
        {% include "_form/title" %}
        <hr>
        {% include "_form/locations" %}
        <hr>
        {% include "_form/topics" %}
        <hr>
        <fieldset class="event">
            <label for="event-start">Event start date/time</label> <input type="datetime" id="event-start"><br>
            <label for="event-end">Event end date/time</label> <input type="datetime" id="event-end"><br>
            <label for="event-venue">Event venue</label><input type="text" id="event-venue">
            <label for="event-address">Event street address</label><input type="text" id="event-address">
            <label for="event-city">Event city</label><input type="text" id="event-city">
            <label for="event-zip">Event zip code</label><input type="text" pattern="[0-9]*" id="event-zip"><br>
        </fieldset>
        <hr>
        <fieldset class="contact">
            <label for="event-zip">Contact name</label><input type="text" id="contact-name"><br>
	        <label for="notice-contact">Contact phone number</label><br>
	        <input type="tel" id="notice-contact"><br>
            <label for="event-zip">Contact email address</label><input type="text" id="contact-email-address"><br>
        </fieldset>
        <hr>
        {% include "_form/content/notice" %}
        {% include "_form/documents/notice" %}<br>
    {% endblock %}
  {% endembed %}
{% endblock %}
