{% requireLogin %}

{% extends "_layout" %}

{% block content %}
  {% embed "_unfiltered_content.html" %}
    {% from "_submit.html" import actionUrl, redirectTo %}
    {% from "_macro.html" import errorList %}

    {% block main %}
      <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="{{ actionUrl() }}">
        <input type="hidden" name="redirect" value="{{ redirectTo('notices') }}">
        <input type="hidden" name="sectionId" value="4">
        <input type="hidden" name="enabled" value="1">

        {% if entry is defined %}
          {{ errorList(entry.getAllErrors) }}
        {% endif %}
        <br>

        <label for="title">Title</label>
        <input id="title" type="text" name="title" autocomplete="off" {%- if entry is defined %} value="{{ entry.title }}"{% endif -%}>
        {% if entry is defined %}
          {{ errorList(entry.getErrors('title')) }}
        {% endif %}
        <br>

        <label for="primaryLocation">Primary Location</label>
        {% set primaryLocationId = 0 %}
        {% if entry is defined %}
          {% for location in entry.primaryLocation %}
            {% set primaryLocationId = location.id %}
          {% endfor %}
        {% endif %}
        <select id="primaryLocation" name="fields[primaryLocation][]">
          <option value=""></option>
        {% for option in craft.categories.group('locations') %}
          <option value="{{ option.id }}" {%- if option.id == primaryLocationId %}selected{% endif %}>{{ option.title }}</option>
        {% endfor %}
        </select>
        {% if entry is defined %}
          {{ errorList(entry.getErrors('primaryLocation')) }}
        {% endif %}
        <br>

        <label for="primaryTopic">Primary Topic</label>
        {% set primaryTopicId = 0 %}
        {% if entry is defined %}
          {% for location in entry.primaryTopic %}
            {% set primaryTopicId = location.id %}
          {% endfor %}
        {% endif %}
        <select id="primaryTopic" name="fields[primaryTopic][]">
          <option value=""></option>
        {% for option in craft.categories.group('topics') %}
          <option value="{{ option.id }}" {%- if option.id == primaryTopicId %}selected{% endif %}>{{ option.title }}</option>
        {% endfor %}
        </select>
        {% if entry is defined %}
          {{ errorList(entry.getErrors('primaryTopic[]')) }}
        {% endif %}
        <br>

        <label for="mainContent">Main Content</label>
        <textarea id="mainContent" name="fields[mainContent]" cols="60" rows="8"> {%- if entry is defined %}{{ entry.mainContent }}{% endif -%} </textarea>
        {# includeJsResource "lib/redactor/redactor.js" #}
        {# includeCssResource "lib/redactor/redactor.css" #}
        {# includeJs "$('#mainContent').redactor();" #}
        {% if entry is defined %}
          {{ errorList(entry.getErrors('mainContent')) }}
        {% endif %}
        <br>
  
        <label for="primaryImage">Primary Image</label>
        <input id="primaryImage" type="file" name="fields[primaryImage]">
        {% if entry is defined %}
            {{ errorList(entry.getErrors('primaryImage')) }}
        {% endif %}
        <br>
  
        <label for="secondaryImages">Secondary Images (max: 3)</label>
        <input id="secondaryImages" type="file" name="fields[secondaryImages][]" multiple>
        {% if entry is defined %}
            {{ errorList(entry.getErrors('secondaryImages')) }}
        {% endif %}
        <br>

        <input type="submit" value="Submit Notice">
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}
