<h2>My Subscription</h2>

{# Note: immitate format of "site message" help class #}

<div class="help subscription">{{ n.siteMessage('account/weekly-updates') }}</div>

{# Opt out: toggle off free email alerts #}

<h3>Opt Out of Weekly Email Alerts</h3>
{% include 'account/subscription/_suspend_form.html' %}

{# Opt in: subscribe #}

<h2><strong>Become a Marin Post Subscriber</strong></h2>

<div class="help subscription">{{ n.siteMessage('account/subscribe') }}</div>

{% include 'account/subscription/_create_form.html' %}
