<form method="post" action="" accept-charset="UTF-8" class="frequency-form subscription">
  {{ getCsrfInput() }}
  <input type="hidden" name="action" value="users/saveUser">
  <input type="hidden" name="userId" value="{{ currentUser.id }}">

  {% include 'account/subscription/_frequency_fields.html' %}

  <br>
  <input type="submit" value="Update Email Alert Frequency" class="btn submit" />
  <img src="{{ siteUrl }}img/spinner.gif" class="spinner">
  <img src="{{ siteUrl }}img/success.png" class="success">

  <br>
  {% include 'account/subscription/_current_issue.html' %}
</form>
