{% extends "_common/layout" %}

{% set title = "Surveys" %}

{% block main %}
  {% set currentSurvey = craft.entries.section('surveys').surveyOpen(1).first %}
  {% set closedSurveys = craft.entries.section('surveys').surveyOpen('not 1').limit(null).find %}

  {% embed "_common/single" %}
  {% block title %}Survey Results{% endblock %}

    {% block subNav %}
      {% if currentSurvey|length %}
        {{ n.arrowLink('surveys', 'Take our survey') }}
      {% endif %}

      {% for survey in closedSurveys %}
        {{ n.arrowLink('surveys/'~survey.slug, survey.title) }}
      {% endfor %}
    {% endblock %}

    {% block post %}
      <div class="survey-results">
        {% if entry.surveyResults|length %}
          {% for result in entry.surveyResults %}
            <div>
              <a href="{{ result.url }}">
                <img src="{{ result.url }}" />
                <span class="enlarge-image">Click to enlarge</span>
              </a>
            </div>
          {% endfor %}
        {% else %}
          Sorry, no results yet.
        {% endif %}
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
