{% extends "_common/layout" %}

{% set title = "Surveys" %}

{% block main %}
  {% set currentSurvey = craft.entries.section('surveys').surveyOpen(1).first %}
  {% set closedSurveys = craft.entries.section('surveys').surveyOpen('not 1').limit(null).find %}

  {% set lastClosedSurvey = closedSurveys|first %}
  {% set resultsPresent   = (lastClosedSurvey|length) and (lastClosedSurvey.surveyResults|length) %}

  {% embed "_common/single" %}
    {% block title %}
      {% if currentSurvey|length %}
        Take our latest Survey
      {% elseif resultsPresent %}
        {{ lastClosedSurvey.title }}
      {% else %}
        Surveys
      {% endif %}
    {% endblock %}

    {% block subNav %}
      <h4>Surveys</h4>
      {% if currentSurvey|length %}
        {{ n.arrowLink('surveys', 'Take our survey') }}
      {% endif %}

      {% for survey in closedSurveys %}
        {{ n.arrowLink('surveys/'~survey.slug, survey.title) }}
      {% endfor %}
    {% endblock %}

    {% block post %}
      {% if currentSurvey|length %}

        <div class="survey-embed-code">
          {{ currentSurvey.surveyEmbedCode|raw }}
        </div>

      {% elseif resultsPresent %}

        <div class="survey-results">
          {% for result in lastClosedSurvey.surveyResults %}
            <div>
              <a href="{{ result.url }}" target="_blank">
                <img src="{{ result.url }}" />
                <span class="enlarge-image">Click to enlarge</span>
              </a>
            </div>
          {% endfor %}
        </div>

      {% else %}

        <p>Sorry, no current survey nor results of any past surveys can be found.</p>

      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
