{% set maxImages = 1 %}
{% set imagesAdded = 0 %}
{% set isEditing = false %}
{% set hideAddLink = false %}

{% if entry %}
  {% set imagesAdded =  entry.mediaImages | length %}

  {% if entry.id %}
    {% set isEditing = true %}
  {% endif %}
{% endif %}

{% set sourceId = 3 %}
{% set folder = craft.s3direct.s3Folder(sourceId) %}

<br>
<input type="hidden" name="fields[mediaImages]">

{% for i in 1..maxImages %}
  {% set key = 'new'~i %}

  {% set imageBlock = false %}
  {% set image = false %}
  {% set by = false %}
  {% set disclaimer = false %}

  {% if imagesAdded >= i %}
    {% set imageBlock = entry.mediaImages.nth(i-1) %}

    {% if isEditing and imageBlock.id %}
      {% set key = imageBlock.id %}
    {% endif %}

    {% set image = imageBlock.image.first %}
    {% set by = imageBlock.by %}

    {% for option in imageBlock.disclaimer.getOptions  %}
      {% set disclaimer = option.selected %}
    {% endfor %}
  {% endif %}

  {% if not imageBlock %}
    {% set text = loop.first ? 'Add an image' : 'Add another image' %}
    <a href="#" class="multiple-field add" id="add-image-{{ i }}" {% if hideAddLink %}style="display: none;"{% endif %}>{{text }}</a>
    {% set hideAddLink = true %}
  {% endif %}

  <div class="multiple-field inputs" id="input-image-{{ i }}" {%- if not imageBlock %}style="display: none;"{% endif %}>
    <label for="image">Image file</label>
    <input type="hidden" name="fields[mediaImages][{{ key }}][type]" value="image">
    <input type="hidden" name="fields[mediaImages][{{ key }}][fields][image]" value="">
    <select class="s3direct image array" name="fields[mediaImages][{{ key }}][fields][image][]">
      <option value=""></option>
    {% if folder %}
      {% for asset in craft.assets.folderId(folder.id) %}
        <option value="{{ asset.id }}" {% if asset.id == image.id %}selected{% endif %}>{{ asset.filename }}</option>
      {% endfor %}
    {% endif %}
    </select>
    <br>

    <label for="image-by">Image by</label>
    <input type="text" name="fields[mediaImages][{{ key }}][fields][by]" autocomplete="off" {%- if by %}value="{{ by }}"{% endif %}>
    <br>

    <label for="image-disclaimer">Legal</label>
    <input type="hidden" name="fields[mediaImages][{{ key }}][fields][disclaimer]" value="">
    <input type="checkbox" name="fields[mediaImages][{{ key }}][fields][disclaimer][]" value="Yes I have the right to use this image" {%- if disclaimer %}checked{% endif %}>
    <span>Yes I have the right to use this image</span>
    <br>

    {% if imageBlock %}
      {{ f.errorList(imageBlock.allErrors) }}
      <br>
    {% endif %}

    <a href="#" class="multiple-field remove" id="remove-image-{{ i }}">Remove image</a>
  </div>
{% endfor %}

<div>
  <span class="fileinput-button">
    <span>Upload file <b>.gif, .jpg or .png only</b></span>
      <input id="image-fileupload" type="file" name="file" accept="image/gif,image/jpg,image/jpeg,image/png">
      <img class="s3direct image" src="/img/spinner.gif" style="display: none;"/>
  </span>
  <br>
  <div>
      <div class="s3direct image progress-bar progress-bar-success" style="width: 0%; height: 18px; background: green;"></div>
  </div>
</div>
<br>

{% set s3 = craft.s3direct.s3UploadForm(sourceId) %}

{% set js %}
$(function() {
  $('#image-fileupload').s3direct({
    bucket: "{{ s3.bucket }}",
    subfolder: "{{ s3.subfolder }}",
    currentUserId: "{{ currentUser.id }}",
    policy: "{{ s3.policy }}",
    signature: "{{ s3.signature }}",
    accessKey: "{{ s3.keyId }}",
    assetsSourceId: {{ sourceId }},
    acceptFileTypes: /.+\.(gif|jpe?g|png)$/i,
    uploadProgressBarSelector: '.s3direct.image.progress-bar',
    updateIndexIndicatorSelector: 'img.s3direct.image',
    selectFilesSelector: 'select.s3direct.image',
    debug: true,
  });
});
{% endset %}

{% includeJs js %}
