{% set maxImages = 2 %}
{% set imagesAdded = 0 %}
{% set hideAddLink = false %}

{% if entry is defined %}
  {% set imagesAdded =  entry.noticeImages | length %}
{% endif %}

<br>
<input type="hidden" name="fields[noticeImages]">

{% for i in 1..maxImages %}
  {% set key = 'new'~i %}

  {% set image = false %}
  {% set by = false %}
  {% set disclaimer = false %}

  {% if imagesAdded >= i %}
    {% set image = entry.noticeImages.nth(i-1) %}

    {% set by = image.by %}

    {% for option in image.disclaimer.getOptions  %}
      {% set disclaimer = option.selected %}
    {% endfor %}
  {% endif %}

  {% if not image %}
    {% set text = loop.first ? 'Add an image' : 'Add another image' %}
    <a href="#" class="multiple-field add" id="add-image-{{ i }}" {% if hideAddLink %}style="display: none;"{% endif %}>{{text }}</a>
    {% set hideAddLink = true %}
  {% endif %}

  <div class="multiple-field inputs" id="input-image-{{ i }}" {%- if not image %}style="display: none;"{% endif %}>
    <label for="image">Image file</label>
    <input type="hidden" name="fields[noticeImages][{{ key }}][type]" value="image">
    <input type="hidden" name="fields[noticeImages][{{ key }}][fields][image]" value="">
    <input type="file" name="fields[noticeImages][{{ key }}][fields][image][]">
    <br>

    <label for="image-by">Image by</label>
    <input type="text" name="fields[noticeImages][{{ key }}][fields][by]" autocomplete="off" {%- if by %}value="{{ by }}"{% endif %}>
    <br>

    <label for="image-disclaimer">Legal</label>
    <input type="hidden" name="fields[noticeImages][{{ key }}][fields][disclaimer]" value="">
    <input type="checkbox" name="fields[noticeImages][{{ key }}][fields][disclaimer][]" value="Yes I have the right to use this image" {%- if disclaimer %}checked{% endif %}>
    <span>Yes I have the right to use this image</span>
    <br>

    {% if image %}
      {{ f.errorList(image.allErrors) }}
      <br>
    {% endif %}

    <a href="#" class="multiple-field remove" id="remove-image-{{ i }}">Remove image</a>
  </div>
{% endfor %}
