{% extends "_common/layout" %}

{% block main %}
  {% embed "_common/single" %}
    {% block title %}
      Preview {{ f.closePreview }}
    {% endblock %}

    {% block post %}
      <div class="image-wrapper">
        <img src="{{ p.primaryImage(entry) }}"/>
        <p class="image-credit">{{ p.primaryImageCredit(entry) }}</p>
      </div>

      {{ p.postTags(entry, false, true) }}
      {{ p.postTitle(entry) }}
      {{ p.postBy(entry) }}
      
      {{ entry.blogContent }}

      <div class="attachments">
        {{ p.documents(entry.blogDocuments) }}

        {% if entry.webSite %}
          <div class="video-link">
              <a href={{ p.externalUrl(entry.webSite) }} target="_blank">Video Link</a>
          </div>
        {% endif %}
      </div>

      {% include "_common/disqus_embed" with { identifier: entry.id } only %}
    {% endblock %}
  {% endembed %}
{% endblock %}
