{% extends "_common/layout" %}

{% block main %}
  {% embed "_common/single" %}
    {% block title %}
      Preview {{ f.closePreview }}
    {% endblock %}

    {% block post %}
      <h2 class="date">{{ entry.postDate | date('F j, Y') }}</h2>
      <h3>{{ p.titleCase(entry.title) }}</h3>
      <div class="byline">
        {{ p.authorNameOrLink(entry) }} &mdash; {{ entry.author.city }}
        <span class="timestamp">{{ entry.postDate | date('g:i A') }}</span>
      </div>
      <p>{{ entry.letterContent }}</p>
    {% endblock %}
  {% endembed %}
{% endblock %}
