{% set isEditing = false %}
{% set key = 'new1' %}
{% set mediaType = 'video' %}
{% set videoUrl = false %}
{% set documentUrl = false %}
{% set document = false %}
{% set documentTitle = false %}

{% if entry %}
  {% if entry.id %}
    {% set isEditing = true %}
  {% endif %}

  {% set mediaLinkBlock = entry.mediaLink.first %}

  {% if isEditing and mediaLinkBlock.id %}
    {% set key = mediaLinkBlock.id %}
  {% endif %}

  {% set mediaType = mediaLinkBlock.type %}

  {% switch mediaType %}
    {% case 'video' %}
      {% set videoUrl = mediaLinkBlock.videoUrl %}
    {% case 'document' %}
      {% set documentUrl = mediaLinkBlock.documentUrl %}
    {% case 'upload' %}
      {% set document = mediaLinkBlock.document.first %}
      {% set documentTitle = mediaLinkBlock.documentTitle %}
  {% endswitch %}

{% endif %}

{% set sourceId = 2 %}
{% set folder = craft.s3direct.s3Folder(sourceId) %}

<br>
<label for="mediaLink" class="required">Media Link</label>

<input type="hidden" name="fields[mediaLink]">
<input type="hidden" name="fields[mediaLink][{{ key }}]">
<input type="hidden" name="fields[mediaLink][{{ key }}][type]" id="mediaType" value="{{ mediaType }}">

<input type="hidden" id="originalMediaType" value="{{ mediaType }}">
<input type="hidden" id="originalMediaLinkBlockId" value="{{ key }}">

<input type="radio" name="mediaTypeSelect" value="video" {%- if mediaType == 'video' %}checked="checked"{% endif -%}>Link to a video
<input type="radio" name="mediaTypeSelect" value="document" {%- if mediaType == 'document' %}checked="checked"{% endif -%}>Link to a document
<input type="radio" name="mediaTypeSelect" value="upload" {%- if mediaType == 'upload' %}checked="checked"{% endif -%}>Upload a document

<input type="text" name="fields[mediaLink][{{ key }}][fields][videoUrl]" class="mediaLink video required" autocomplete="off" value="{{ videoUrl }}" placeholder="http://example.com/video" {%- if mediaType != 'video' %}style="display:none;"{% endif -%}>
<input type="text" name="fields[mediaLink][{{ key }}][fields][documentUrl]" class="mediaLink document required" autocomplete="off" value="{{ documentUrl }}" placeholder="http://example.com/document.pdf" {%- if mediaType != 'document' %}style="display:none;"{% endif -%}>

<input type="hidden" name="fields[mediaLink][{{ key }}][fields][document]" class="mediaLink upload">
<select class="s3direct mediaLink upload required array" name="fields[mediaLink][{{ key }}][fields][document][]"  {%- if mediaType != 'upload' %}style="display:none;"{% endif -%}>
  <option value=""></option>
{% if folder %}
  {% for asset in craft.assets.folderId(folder.id) %}
    <option value="{{ asset.id }}" {% if asset.id == document.id %}selected{% endif %}>{{ asset.filename }}</option>
  {% endfor %}
{% endif %}
</select>

<label for="documentTitle" class="mediaLink upload" {%- if mediaType != 'upload' %}style="display:none;"{% endif -%}>Document title</label>
<input type="text" name="fields[mediaLink][{{ key }}][fields][documentTitle]" class="mediaLink upload" value="{{ documentTitle }}" autocomplete="off" placeholder="Title of document (optional)" {%- if mediaType != 'upload' %}style="display:none;"{% endif -%}>

<div class="file upload mediaLink" {%- if mediaType != 'upload' %}style="display: none;"{% endif -%}>
  <span class="fileinput-button">
      <span>Upload file <b>.pdf only</b></span>
      <input id="document-fileupload" type="file" name="file" accept="application/pdf">
      <img class="s3direct document" src="/img/spinner.gif" style="display: none;"/>
  </span>
  <br>
  <div>
      <div class="s3direct document progress-bar progress-bar-success" style="width: 0%; height: 18px; background: green;"></div>
  </div>
</div>

{% if mediaLinkBlock %}
  {{ f.errorList(mediaLinkBlock.allErrors) }}
{% endif %}
<br>

{% set s3 = craft.s3direct.s3UploadForm(sourceId) %}

{% set js %}
$(function() {
  $('#document-fileupload').s3direct({
    bucket: "{{ s3.bucket }}",
    subfolder: "{{ s3.subfolder }}",
    currentUserId: "{{ currentUser.id }}",
    policy: "{{ s3.policy }}",
    signature: "{{ s3.signature }}",
    accessKey: "{{ s3.keyId }}",
    assetsSourceId: {{ sourceId }},
    acceptFileTypes: /.+\.pdf$/i,
    uploadProgressBarSelector: '.s3direct.document.progress-bar',
    updateIndexIndicatorSelector: 'img.s3direct.document',
    selectFilesSelector: 'select.s3direct.upload',
    debug: true,
  });
});
{% endset %}

{% includeJs js %}
