{% set sourceId = 2 %}
{% set folder = craft.s3direct.s3Folder(sourceId) %}
{% set s3 = craft.s3direct.s3UploadForm(sourceId) %}

{% set assets = false %}
{% if folder %}
  {% set assets = craft.assets.folderId(folder.id).find %}
{% endif %}

{% set mediaType = 'video' %}
{% set linkBlock = false %}

{% set videoUrl = false %}
{% set documentUrl = false %}
{% set document = false %}

{% set errors = false %}
{% set key = 'new1' %}

{% if entry %}
  {% set linkBlock =  entry.mediaLink.first %}
  {% set mediaType = linkBlock.type %}

  {% switch mediaType %}
    {% case 'video' %}
      {% set videoUrl = linkBlock.videoUrl %}

    {% case 'document' %}
      {% set documentUrl = linkBlock.documentUrl %}

    {% case 'upload' %}
      {% set document = linkBlock.document.first %}

  {% endswitch %}

  {% set errors = mediaBlock.hasErrors %}
  {% set key = mediaBlock.id | default('new1') %}
{% endif %}

<div class="field">
    <label for="mediaLink" class="required">Media Link <span class="note">* required</span></label>
    
    <input type="hidden" name="fields[mediaLink]">
    <input type="hidden" name="fields[mediaLink][{{ key }}]">
    <input type="hidden" name="fields[mediaLink][{{ key }}][type]" id="mediaType" value="{{ mediaType }}">
    
    <input type="hidden" id="originalMediaType" value="{{ mediaType }}">
    <input type="hidden" id="originalMediaLinkBlockId" value="{{ key }}">
    
    <input type="radio" name="mediaTypeSelect" value="video" {%- if mediaType == 'video' %}checked="checked"{% endif -%}>Link Video
    <input type="radio" name="mediaTypeSelect" value="document" {%- if mediaType == 'document' %}checked="checked"{% endif -%}>Link Document
    <input type="radio" name="mediaTypeSelect" value="upload" {%- if mediaType == 'upload' %}checked="checked"{% endif -%}>Upload Document
    <input type="radio" name="mediaTypeSelect" value="podcast" {%- if mediaType == 'podcast' %}checked="checked"{% endif -%}>Link Podcast
    
    <input type="text" name="fields[mediaLink][{{ key }}][fields][videoUrl]" class="mediaLink video required" autocomplete="off" maxlength="255" value="{{ videoUrl }}" placeholder="http://example.com/video" {%- if mediaType != 'video' %}style="display:none;"{% endif -%}>
    <input type="text" name="fields[mediaLink][{{ key }}][fields][documentUrl]" class="mediaLink document required" autocomplete="off" maxlength="255" value="{{ documentUrl }}" placeholder="http://example.com/document.pdf" {%- if mediaType != 'document' %}style="display:none;"{% endif -%}>
    
    <input type="hidden" name="fields[mediaLink][{{ key }}][fields][document]" class="mediaLink upload">
    <input type="hidden" name="fields[mediaLink][{{ key }}][fields][document][]" class="mediaLink upload" {% if document %}value="{{ document.id }}"{% endif %} {%- if mediaType != 'upload' %}style="display:none;"{% endif -%}>

    <div class="mediaLink upload wrapper" {% if mediaType != 'upload' %}style="display: none;"{% endif %}>
      <p class="document-title">{{ document ? document.title : '' }}</p> 

      <div id="document-modal" class="modal" title="My Documents" style="display: none;">
        <div>
          <div class="help">{{ n.siteMessage('my/documents') }}</div>
        </div>

        <div>
          <div class="upload-wrapper">
            <span class="fileinput-button">
              <span>Upload a Document</span>
              <input id="document-fileupload" type="file" name="file" accept="application/pdf">
              <img class="s3direct document" src="/img/spinner.gif" style="display: none;"/>
            </span>

            <div class="s3direct document progress-bar progress-bar-success"></div>
          </div>

          <div class="files-wrapper">
            <ul id="src-documents"{% if not assets %}style="display: none;"{% endif %}>
              {% if folder %}
                {% for asset in assets %}
                  <li data-asset-id="{{ asset.id }}" data-asset-title="{{ asset.title }}" {% if asset.id == document.id %}class="selected"{% endif %}>
                    <div><img src="/img/default/list/pdf.jpg" /></div>
                    <span class="title">{{ asset.title }}</span>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

      <a href="#" id="open-document-modal">{{ document ? 'Replace Document' : 'Add a Document' }}</a>
    </div>
    
    {% if linkBlock %}
      {{ f.errorList(linkBlock.allErrors) }}
    {% endif %}
</div>

{% set js %}
$(function() {
  var openModal = $('#open-document-modal');
  var modal = $('#document-modal');
  var fileInput = $('#document-fileupload');
  var srcFiles = $('ul#src-documents');
  var okButton = false;
  var targetFileId = $('input[type=hidden][name$="[fields][document][]"]');
  var targetFileTitle = $('.document-title');
  var deleteButton = false;
  var deleteAssetUrl = '{{ actionUrl("mpEntry/deleteAsset") }}';
  
  var selectedFile = function() {
    return srcFiles.children('li.selected:first');
  }

  var selectFile = function(li) {
    li.parent().children().removeClass('selected');
    li.addClass('selected');
  };

  var updateOkButton = function() {
    okButton.button((selectedFile().length == 1) ? 'enable' : 'disable');
  };

  var populateDocumentFromModal = function() {
    var selectedFile = srcFiles.children('li.selected:first');

    if (selectedFile.length == 1) {
      targetFileId.val(selectedFile.attr('data-asset-id')).trigger('change');
      targetFileTitle.text(selectedFile.attr('data-asset-title'));
    } else {
      targetFileId.val('').trigger('change');
      targetFileTitle.text('');
    }
  };

  var updateDeleteButton = function() {
    deleteButton.button((selectedFile().length == 1) ? 'enable' : 'disable');
  };

  var deleteFile = function() {
    var selectedFile = srcFiles.children('li.selected:first');
    var assetId;

    if (selectedFile.length == 1) {
      assetId = selectedFile.attr('data-asset-id');

      $.post(deleteAssetUrl, { assetId: assetId }, function(data) {
        if (data.error) {
          alert(data.error);
        } else {
          selectedFile.remove();
          updateDeleteButton();
          updateOkButton();
        }
      });
    }
  };

  var populateListFromIndex = function(files) {
    var selectedId = selectedFile().attr('data-asset-id');
    srcFiles.children().remove();

    $.each(files, function(index, file) {
      var selected = file.id == selectedId ? 'class="selected"' : '';

      srcFiles.append('<li data-asset-id="'+file.id+'" data-asset-title="'+file.title+'"' +selected+'><div><img src="/img/default/list/pdf.jpg" /></div><span class="title">'+file.title+'</span></li>');
    });

    modal.find('.assets-wrapper').show();
  };

  openModal.click(function(e) {
    e.preventDefault();
    modal.dialog('open');
  });

  modal.dialog({
    modal: true,
    autoOpen: false,
    height: $(window).height() * 0.75,
    width: $(window).width() * 0.75,
    dialogClass: 'no-close',
    buttons: {
      OK: function() {
        populateDocumentFromModal();
        modal.dialog('close');
      },
      Cancel: function() {
        modal.dialog('close');
      },
      Delete: function() {
        deleteDocument();
      }
    },
    open: function(event, ui) {
      var widget = $(this).dialog('widget');
      okButton = widget.find('.ui-dialog-buttonpane button:contains(OK)');
      updateOkButton();
      deleteButton = widget.find('.ui-dialog-buttonpane button:contains(Delete)');
      updateDeleteButton();
    },
    closeOnEscape: false,
  });

  srcFiles.on('click', 'li', function(e) {
    selectFile($(this));
    updateOkButton();
    updateDeleteButton();
  });

  fileInput.s3direct({
    bucket: "{{ s3.bucket }}",
    subfolder: "{{ s3.subfolder }}",
    currentUserId: "{{ currentUser.id }}",
    policy: "{{ s3.policy }}",
    signature: "{{ s3.signature }}",
    accessKey: "{{ s3.keyId }}",
    assetsSourceId: {{ sourceId }},
    acceptFileTypes: /.+\.pdf$/i,
    uploadProgressBarSelector: '.s3direct.document.progress-bar',
    updateIndexIndicatorSelector: 'img.s3direct.document',
    onUpdateAssetsIndex: populateListFromIndex,
    requireFileTitle: true,
    debug: true,
  });
});
{% endset %}

{% includeJs js %}

{% set css %}
.upload-wrapper {
  width: 20%;
  float: left;
}
.files-wrapper {
  width: 80%;
  float: right;
}
.progress-bar.progress-bar-success {
  display: block;
  width: 0%;
  height: 10px;
  margin-top: 10px;
  background: green;
}

ul#src-documents {
  list-style: none;
}
ul#src-documents li {
  height: 160px;
  width: 160px;
  margin: 14px 0 0 14px;
  float: left;
}
ul#src-documents li .title {
  font-size: 12px;
}
ul#src-documents li.selected {
  background: #d5d8dd;
}
ul#src-documents img {
  max-width: 115px;
}

.no-close .ui-dialog-titlebar-close {
  visibility: hidden;
}
{% endset %}
{% includeCss css %}
