<div id='form-wrapper'>
  <h3>Dontate Now</h3>

  <div>
		<form method="post" action="" accept-charset="UTF-8" class="" id="payment-form">
			{{ getCsrfInput() }}
			<input type="hidden" name="action" value="mpSubscription/donation/create">
			<input type="hidden" name="redirect" value="donate/thankyou">

      <div class="form-row">

        <label for="name" class="required">Cardholder Name
          <div>
            <input name="name" class="field" placeholder="John Doe" />
          </div>
        </label>

        <label for="email" class="required">Email Address
          <div>
            <input name="email" type="email" class="field" placeholder="john@example.com" />
          </div>
        </label>

        <label for="address_line1" class="required">Billing Address
          <div>
            <input name="address_line1" class="field" placeholder="123 Main" />
          </div>
        </label>

        <label for="address_line2">Address 2
          <div>
            <input name="address_line2" class="field" placeholder="Apt. 2" />
          </div>
        </label>

        <label for="address_state" class="required">State
          <select name="address_state" class="field">
            <option value="">Please select one</option>
          {% for option in craft.fields.getFieldbyHandle('state').settings.options %}
            <option value="{{ option.value }}">{{ option.label }}</option>
          {% endfor %}
          </select>
        </label>

        <label for="address_zip" class="required">Zip
          <div>
            <input name="address_zip" class="field" placeholder="94110" />
          </div>
        </label>

        <label for="cardNumber" class="required">Card Number
          <div id="cardNumber"></div>
        </label>

        <label for="cardExpiry" class="required">Card Expiry
          <div id="cardExpiry"></div>
        </label>

        <label for="cardCvc" class="required">Card CVC
          <div id="cardCvc"></div>
        </label>

        <label for="amount" class="required">Donation Amount (USD)
          <div>
            $ <input name="amount" class="field" placeholder="25.00" pattern="^\d+\.\d{2}$" />
          </div>
        </label>

        <label for="monthly" class="required">Monthly?
          <div>
            <input name="monthly" type="checkbox" class="field" />
          </div>
        </label>

        <div id="card-errors"></div>
      </div>

      <button>Donate Now</button>
    </form>
  </div>
</div>
