{% extends "_common/layout" %}

{% set title = entry.title %}

{% block main %}
  {% embed "_common/single" %}
    {% block title %}{{ entry.title }}{% endblock %}

    {% block subNav %}
    {% endblock %}

    {% block post %}
      <div class="help">{{ entry.genericContent }}</div>

     {% include 'donate/_form.html' %}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block bodyEnd %}
  <script src="https://js.stripe.com/v2/"></script>

  <script>
    Stripe.setPublishableKey('{{ craft.mpSubscription.publishableKey }}');

    $(function() {
        $('form#donation-form').donation();

        $('h3.my-content > a').click(function(e) {
            $(this).parent().next('.donation-form-wrapper').toggle();
            e.preventDefault();
        });
    });
  </script>
{% endblock %}
