{% requireLogin %}
{% requirePermission 'accessCp' %}

{% set entryId = craft.request.param('id') %}

{% if entryId %}
  {% set entry = craft.entries.id(entryId).first %}
  {% set entries = [entry] %}

{% else %}
  {% set entries = craft.entries.section('blog', 'media', 'news', 'notices').limit(null) %}

{% endif %}

<h3>Updating "child" Locations of all Blog, Media, News and Notice entries</h3>

<ul>
{% for entry in entries %}
  <li>Updating {{ entry }}

  {% set noop = craft.mpentry.synchronizeChildLocations(entry) %}
{% endfor %}

<h3>Updated locations of {{ entries | length }} entries</h3>
