{% extends "_common/layout" %}

{% set title = "Contact" %}

{% block main %}
  {% embed "_common/single" %}
    {% block subNav %}
    {% endblock %}

    {% block title %}Contact The Marin Post{% endblock %}

    {% block post %}
      {% macro option(value) %}
        {% if messages is defined and message.subject == value %}
          <option selected>{{ value }}</option>
        {% else %}
          <option>{{ value }}</option>
        {% endif %}
      {% endmacro %}
      {% import _self as c %}

      <form method="post" class="contact" accept-charset="UTF-8">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="contactForm/sendMessage">
        <input type="hidden" name="redirect" value="contact/thanks?name={fromName}&email={fromEmail}">

        <label for="fromName">Your Name <span class="note">* required</span></label>
        <input id="fromName" name="fromName" type="text" maxlength="100" autocomplete="off" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
        {{ message is defined and message ? f.errorList(message.getErrors('fromName')) }}

        <label for="fromEmail">Your Email <span class="note">* required</span></label>
        <input id="fromEmail" name="fromEmail" type="text" maxlength="100" autocomplete="off" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
        {{ message is defined and message ? f.errorList(message.getErrors('fromEmail')) }}

        {% set honeypot = craft.mpuser.contactFormHoneypotField | default('disabled') %}
        <label for="{{ honeypot }}">{{ honeypot | capitalize }} <span class="note">* required</span></label>
        <input id="{{ honeypot }}" name="{{ honeypot }}" type="text" maxlength="100" autocomplete="off" value="">
        {% set css %}
          form.contact label[for={{ honeypot }}], form.contact input[name={{ honeypot }}] {
            display: none;
          }
        {% endset %}
        {% includeCss css %}

        <label for="subject">Subject <span class="note">* required</span></label>
        <select id="subject" name="subject">
          <option value="">Choose a Subject</option>
          {{ c.option('Advertise') }}
          {{ c.option('Donate') }}
          {{ c.option('General Question') }}
          {{ c.option('My Account') }}
          {{ c.option('Privacy Policy') }}
          {{ c.option('Report Abuse') }}
          {{ c.option('Sponsorships') }}
          {{ c.option('Subscribe') }}
          {{ c.option('Tech Support') }}
          {{ c.option('Terms of Use') }}
          {{ c.option('Volunteer') }}
          {{ c.option('Other') }}
        </select>
        {{ message is defined and message ? f.errorList(message.getErrors('subject')) }}

        <label for="message">Message <span class="note">* required</span></label>
        <textarea rows="10" cols="40" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
        {{ message is defined and message ? f.errorList(message.getErrors('message')) }}

        <br>
        <input type="submit" value="Send">
        <!--div class="g-recaptcha" data-sitekey="6LfclgYTAAAAAHEhhjtX-Go0TsLJ6RsRKcZgtLGO"></div-->
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}

{# includeJsFile 'https://www.google.com/recaptcha/api.js' #}

{% set js %}
  $(function() {
    $('form.contact').contact();
  });
{% endset %}
{% includeJs js %}
