{% extends "_common/layout" %}

{% set title = "Contact" %}

{% block main %}
  {% embed "_common/single" %}
    {% block subNav %}
    {% endblock %}

    {% block title %}Contact The Marin Post{% endblock %}

    {% block post %}
      <form method="post" class="contact" accept-charset="UTF-8">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="contactForm/sendMessage">
        <input type="hidden" name="redirect" value="contact/thanks?name={fromName}&email={fromEmail}">

        <label for="fromName">Your Name <span class="note">* required</span></label>
        <input id="fromName" type="text" name="fromName" autocomplete="off" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
        {{ message is defined and message ? f.errorList(message.getErrors('fromName')) }}

        <label for="fromEmail">Your Email <span class="note">* required</span></label>
        <input id="fromEmail" type="text" name="fromEmail" autocomplete="off" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
        {{ message is defined and message ? f.errorList(message.getErrors('fromEmail')) }}

        <label for="subject">Subject <span class="note">* required</span></label>
        <input id="subject" type="text" name="subject" list="contact-categories" autocomplete="off" value="{% if message is defined %}{{ message.subject }}{% endif %}" placeholder="Choose a Subject">
        {{ message is defined and message ? f.errorList(message.getErrors('subject')) }}

        <!--  Advertise; Donate; General Question; My Account; Privacy Policy; Report Abuse; Sponsorships; Subscribe; Tech Support; Terms of Use; Volunteer; Other -->
        <datalist id="contact-categories">
          <option value="Advertise">
          <option value="Donate">
          <option value="General Question">
          <option value="My Account">
          <option value="Privacy Policy">
          <option value="Report Abuse">
          <option value="Sponsorships">
          <option value="Subscribe">
          <option value="Tech Support">
          <option value="Terms of Use">
          <option value="Volunteer">
          <option value="Other (just type your own Subject here)">
        </datalist>

        <label for="message">Message <span class="note">* required</span></label>
        <textarea rows="10" cols="40" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
        {{ message is defined and message ? f.errorList(message.getErrors('message')) }}

        <input type="submit" value="Send">
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% set js %}
  $(function() {
    $('form.contact').contact();
  });
{% endset %}
{% includeJs js %}
