{% requireLogin %}

{% extends "_common/layout" %}

{% block main %}
  {% embed "account/_layout" %}
    {% block post %}

      <h2>Change My Email Address</h2>

      <form method="post" accept-charset="utf-8" id="update-email">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/saveUser">
        <input type="hidden" name="userId" value="{{ currentUser.id }}">
        <input type="hidden" name="redirect" value="account/email/updated">

        {% if account is defined %}
          {{ f.errorList(account.allErrors) }}
        {% endif %}

        <div class="field">
            <label for="email" class="required">New Email Address</label>
            <input type="text" id="email" name="email" autocomplete="off" maxlength="255" value="{{ currentUser.email }}" class="required">
            {% if account is defined %}
              {{ f.errorList(account.getErrors('email')) }}
            {% endif %}
        </div>
        <div class="field">
            <label for="confirmEmail" class="required">Re-enter New Email Address</label>
            <input type="text" id="confirmEmail" autocomplete="off" class="required">
        </div>
        <div class="field">
            <label for="password" class="required">Current Password <small>for security</small></label>
            <input type="password" id="password" name="password" autocomplete="off" maxlength="50" class="required">
            {% if account is defined %}
              {{ f.errorList(account.getErrors('password')) }}
            {% endif %}
        </div>
        <input type="submit" value="Update">
      </form>
    {% endblock %}
  {% endembed %}
{% endblock %}
