<div class="field">
    <label for="blogContent" class="required">Blog Content<span class="note">* required</span></label>

    <textarea id="blogContent" name="fields[blogContent]" cols="60" rows="12" class="wysiwyg required" data-limit="2000" placeholder="Create your post here (limit 2,000 characters)">
    {%- if entry is defined %}{{ entry.blogContent }}{% endif -%}
    </textarea>
    
    {% if entry is defined %}
      {{ f.errorList(entry.getErrors('blogContent')) }}
    {% endif %}
</div>
