{% set limit = n.siteDefault('letterContentLimit') %}

<div class="field">
    <label for="letterContent" class="required">Letter <span class="note">* required</span></label>
    
    <div class="counter" style="float: right;"></div><br style="clear: both;">

    <textarea id="letterContent" name="fields[letterContent]" cols="60" rows="12" class="wysiwyg required" maxlength="{{ limit }}" data-limit="{{ limit }}" placeholder="Write or copy and paste your letter here (limit {{ limit }} characters)">
    {%- if entry is defined %}{{ entry.letterContent }}{% endif -%}
    </textarea>
    
    <div class="counter" style="float: right;"></div><br style="clear: both;">
    
    {% if entry is defined %}
      {{ f.errorList(entry.getErrors('letterContent')) }}
    {% endif %}
</div>
