{% set limit = p.fieldMaxLength('linkComments') %}

<div class="field">
    <label for="linkComments">Link Comments</label>
    
    <textarea id="linkComments" name="fields[linkComments]" cols="60" rows="4" class="limited" data-limit="{{ limit }}" placeholder="Optional comments about your link (max {{ limit }} chars)">
    {%- if entry is defined %}{{ entry.linkComments }}{% endif -%}
    </textarea>

    <div class="counter" style="float: right;"></div><br style="clear: both;">
    
    {% if entry is defined %}
      {{ f.errorList(entry.getErrors('linkComments')) }}
    {% endif %}
</div>
