{% extends "_layout" %}

{% block main %}
	<article>
		<h1>{{ entry.title }}</h1>
		<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
		{{ entry.mainContent }}

		<h3>Locations</h3>
		<ul>
			<li>{{ entry.primaryLocation.first }}
		{% for location in entry.secondaryLocations %}
			<li>
				{{ location }}
		{% endfor %}
		</ul>

		<h3>Topics</h3>
		<ul>
			<li>{{ entry.primaryTopic.first }}
		{% for topic in entry.secondaryTopics %}
			<li>
				{{ topic }}
		{% endfor %}
		</ul>

		{% if entry.primaryImage | length %}
		    <h3>Image</h3>
		    {% for block in entry.primaryImage %}
			<img src="{{ block.image.first.url('hero') }}"/>
			<small>{{ block.by }}</small>
		    {% endfor %}
		{% endif %}

		{% if entry.secondaryImages | length %}
		    <h3>Other Images</h3>
		    {% for block in entry.secondaryImages %}
			<img src="{{ block.image.first.url('hero') }}"/>
			<small>{{ block.by }}</small>
		    {% endfor %}
		{% endif %}
	</article>
{% endblock %}
