{#
 # Filter blog list by one or more Locations and one or more Topics.
 # Each Location is OR-ed together and each Topic is OR-ed together,
 # then both filters are AND-d. For example:
 #
 #   "Larkspur OR Corte Madera OR Greenbrae" AND "Environment OR Green Building"
 #}

{% set do_debug = false %}
{% set debug = {} %}

{% set locations = craft.request.getParam('locations') | split(',') %}
{% set debug = debug | merge({ 'Locations': locations }) %}

{% set topics = craft.request.getParam('topics') | split(',') %}
{% set debug = debug | merge({ 'Topics': topics }) %}

{% if locations|first is empty %}
    {% set locationEntries = craft.entries.section('blog') %}
{% else %}
	{% set relatedTo = ['or'] %}

	{% for categoryId in locations %}
	    {% set relatedTo = relatedTo | merge([categoryId]) %}
	{% endfor %}

  {% set debug = debug | merge({ 'RelatedTo Locations': relatedTo }) %}

	{% set locationEntries = craft.entries.section('blog').relatedTo(relatedTo) %}
{% endif %}

{% set debug = debug | merge({ 'Number of Locations': locationEntries | length }) %}

{% if topics|first is empty %}
	{% set topicEntries = craft.entries.section('blog') %}
{% else %}
	{% set relatedTo = ['or'] %}

	{% for categoryId in topics %}
	    {% set relatedTo = relatedTo | merge([categoryId]) %}
	{% endfor %}

  {% set debug = debug | merge({ 'RelatedTo Topics': relatedTo }) %}

	{% set topicEntries = craft.entries.section('blog').relatedTo(relatedTo) %}
{% endif %}

{% set debug = debug | merge({ 'Number of Topics': topicEntries | length }) %}

{% set entries = [] %}
{% set topicEntryIds = topicEntries.ids %}

{% for entry in locationEntries %}
    {% if entry.id in topicEntryIds %}
        {% set entries = entries | merge([entry]) %}
    {% endif %}
{% endfor %}

{% set debug = debug | merge({ 'Unlimited entries': entries | length }) %}

{% set offset = craft.request.getParam('offset') | default(0) %}

{% set limit = craft.request.getParam('limit') | default(2) %}

{% set debug = debug | merge({ 'Offset': offset, 'Limit': limit }) %}

{% set entries = entries[offset:limit] %}

{% set debug = debug | merge({ 'Limited entries': entries | length }) %}

{% import "_macro.html" as macro %}

{% if craft.config.devMode and do_debug %}
  <li><small>{{ dump(debug) }}</small></li>
{% endif %}

{% for entry in entries %}
	{{ macro.entry(entry) }}
{% endfor %}
