{% set categories = craft.request.getParam('categories') | split(',') %}
<h3>categories: {{ categories | json_encode }}</h3>

{% set relatedTo = ['or'] %}

{% for catId in categories %}
    {% set relatedTo = relatedTo|merge([catId]) %}
{% endfor %}

<h3>relatedTo: {{ relatedTo | json_encode }}</h3>

{% set entries = craft.entries.section('blog').relatedTo(relatedTo) %}

<h3>entries: {{ entries | length }}</h3>

{% for entry in entries %}
	<article>
		<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
		<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
		{{ entry.body.getPage(1) }}
		<p><a href="{{ entry.url }}">Continue reading</a></p>
	</article>
{% endfor %}
