{#
 # Filter blog list by one or more Locations and one or more Topics.
 # Each Location is OR-ed together and each Topic is OR-ed together,
 # then both filters are AND-d. For example:
 #
 #   "Larkspur OR Corte Madera OR Greenbrae" AND "Environment OR Green Building"
 #}

{% set locations = craft.request.getParam('locations') | split(',') %}
<h3>locations: {{ locations | json_encode }}</h3>

{% set topics = craft.request.getParam('topics') | split(',') %}
<h3>topics: {{ topics | json_encode }}</h3>

{% if locations|first is empty %}
    {% set locationEntries = craft.entries.section('blog') %}
{% else %}
	{% set relatedTo = ['or'] %}

	{% for categoryId in locations %}
	    {% set relatedTo = relatedTo | merge([categoryId]) %}
	{% endfor %}

	<h3>relatedTo locations: {{ relatedTo | json_encode }}</h3>

	{% set locationEntries = craft.entries.section('blog').relatedTo(relatedTo) %}
{% endif %}

<h3>location entries: {{ locationEntries | length }}</h3>

{% if topics|first is empty %}
	{% set topicEntries = craft.entries.section('blog') %}
{% else %}
	{% set relatedTo = ['or'] %}

	{% for categoryId in topics %}
	    {% set relatedTo = relatedTo | merge([categoryId]) %}
	{% endfor %}

	<h3>relatedTo topics: {{ relatedTo | json_encode }}</h3>

	{% set topicEntries = craft.entries.section('blog').relatedTo(relatedTo) %}
{% endif %}

<h3>topic entries: {{ topicEntries | length }}</h3>

{% set entries = [] %}
{% set topicEntryIds = topicEntries.ids %}

{% for entry in locationEntries %}
    {% if entry.id in topicEntryIds %}
        {% set entries = entries | merge([entry]) %}
    {% endif %}
{% endfor %}

<h3>entries: {{ entries | length }}</h3>

{% for entry in entries %}
	<article>
		<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
		<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
		{{ entry.mainContent.getPage(1) }}
		<p><a href="{{ entry.url }}">Continue reading</a></p>
	</article>
{% endfor %}
