{% extends "_layout" %}
{% set title = "Blog" %}

{% block content %}
	<h1>Blog</h1>

	<div id="filters">
	<b>Locations</b>
	<ul>
		<li>
		    <input type="checkbox" class="location all" value="all" checked="checked" />All
	    {% set locations = craft.categories.group('locations').order('title') %}
	    {% for location in locations %}
		<li>
		    <input type="checkbox" class="location filter" value="{{ location.id }}"/>{{ location.title }}
	    {% endfor %}
	</ul>

	<b>Topics</b>
	<ul>
		<li>
		    <input type="checkbox" class="topic all" value="all" checked="checked" />All
	    {% set topics = craft.categories.group('topics').order('title') %}
	    {% for topic in topics %}
		<li>
		    <input type="checkbox" class="topic filter" value="{{ topic.id }}"/>{{ topic.title }}
	    {% endfor %}
	</ul>
	</div>

	<div id="filtered-content">
	{% for entry in craft.entries.section('blog').find() %}
		<article>
			<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
			<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
			{{ entry.body.getPage(1) }}
			<p><a href="{{ entry.url }}">Continue reading</a></p>
		</article>
	{% endfor %}
	</div>
{% endblock %}

{% set js %}
$(function() {
  var noFilters = $(':checkbox.all');
  var filters = $(':checkbox.filter');
  var filteredContent = $('#filtered-content');

  var activeFilters = function() {
	return filters.filter(':checked').map(function() { return this.value; }).get().join();
  };

  var refreshViews = function() {
	filteredContent.load('/blog/filter?categories='+activeFilters());
  };

  filters.click(function() {
	var filter = $(this);

	if (filter.is('.location')) {
		noFilters.filter('.location').attr('checked', false);
	} else {
		noFilters.filter('.topic').attr('checked', false);
	}

	refreshViews();
  });

  noFilters.click(function() {
	var noFilter = $(this);

	if (noFilter.is(':checked')) {
		if (noFilter.is('.location')) {
			filters.filter('.location').attr('checked', false);
		} else {
			filters.filter('.topic').attr('checked', false);
		}
	}

	refreshViews();
  });
});
{% endset %}
