{% set locations = craft.request.getParam('locations') | split(',') %}

{% set topics = craft.request.getParam('topics') | split(',') %}

{% if locations|first is empty %}
    {% set locationEntries = craft.entries.section('blog') %}
{% else %}
	{% set relatedTo = ['or'] %}

	{% for categoryId in locations %}
	    {% set relatedTo = relatedTo | merge([categoryId]) %}
	{% endfor %}

	{% set locationEntries = craft.entries.section('blog').relatedTo(relatedTo) %}
{% endif %}

{% if topics|first is empty %}
	{% set topicEntries = craft.entries.section('blog') %}
{% else %}
	{% set relatedTo = ['or'] %}

	{% for categoryId in topics %}
	    {% set relatedTo = relatedTo | merge([categoryId]) %}
	{% endfor %}

	{% set topicEntries = craft.entries.section('blog').relatedTo(relatedTo) %}
{% endif %}

{% set entries = [] %}
{% set topicEntryIds = topicEntries.ids %}

{% for entry in locationEntries %}
    {% if entry.id in topicEntryIds %}
        {% set entries = entries | merge([entry]) %}
    {% endif %}
{% endfor %}

{% set offset = craft.request.getParam('offset') | default(0) %}

{% set limit = craft.request.getParam('limit') | default(2) %}

{% set entries = entries[offset:limit] %}

{% import "_list.html" as list %}

{% for entry in entries %}
	{% import "_list.html" as list %}
	{{ list.entry(entry) }}
{% endfor %}
