{% macro entryId(entry) %}
  {% if entry and entry.id %}
    <input type="hidden" name="entryId" value="{{ entry.id }}">
  {% endif %}
{% endmacro %}

{% macro userAction(entry) %}
  {{- entry and entry.id ? 'Edit' : 'Submit' -}}
{% endmacro %}

{% macro actionUrl() %}
  {{- currentUser.inGroup("contributor") ? 'entries/SaveEntry' : 'guestEntries/SaveEntry' -}}
{% endmacro %}

{% macro redirectTo(section) %}
{% spaceless %}
  {% if currentUser.inGroup("contributor") %}
    {% switch section %}
      {% case 'blog' %}
        {{ section }}/{postDate.year}/{postDate.month}/{postDate.day}/{slug}
      {% case 'notices' %}
        {{ section }}/{postDate.year}/{postDate.month}/{postDate.day}/{slug}
      {% default %}
        {{ url(section) }}
    {% endswitch %}
  {% else %}
    {{ url('submit/thank-you') }}
  {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro categoryId(entry, fieldName, defaultId, limit) %}
{% spaceless %}
  {% set selected = defaultId | default(0) %}
  {% set criteria = attribute(entry, fieldName) %}
  {% if criteria is defined %}
    {% for cat in criteria.limit(limit | default(1))  %}
      {% set selected = cat.id %}
    {% endfor %}
  {% endif %}
  {{ selected }}
{% endspaceless %}
{% endmacro %}

{% macro imageBy(entry, fieldName) %}
{% spaceless %}
  {% set fieldName = fieldName | default('image') %}
  {% set imageBy = null %}

  {% if entry is defined %}
    {# FIXME for image in attribute(entry, fieldName).type('image') #}
    {% for image in attribute(entry, fieldName) %}
      {% set imageBy = image.by %}
    {% endfor %}
  {% endif %}
  {{ imageBy }}
{% endspaceless %}
{% endmacro %}

{% macro imageDisclaimer(entry, fieldName) %}
{% spaceless %}
  {% set fieldName = fieldName | default('image') %}
  {% set imageDisclaimer = null %}

  {% if entry is defined %}
    {# FIXME for image in attribute(entry, fieldName).type('image') #}
    {% for image in attribute(entry, fieldName) %}
      {% if image.disclaimer %}
        {% for option in image.disclaimer.getOptions  %}
          {% set imageDisclaimer = option.selected %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {{ imageDisclaimer }}
{% endspaceless %}
{% endmacro %}

{% macro errorList(errors) %}
  {% if errors %}
    <ul class="errors">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
