{% macro classActive(slug, segmentNo) %}
  {% set segmentNo = segmentNo | default(1) %}
  {% set segment = craft.request.segment(segmentNo | default(1)) %}
  {{- segment == slug ? 'class="active"' : null -}}
{% endmacro %}

{% macro navLink(name, segmentNo) %}
  {% from _self import classActive %}
  {% set slug = name | lower %}

  {% spaceless %}
    <a href="{{ url(slug) }}" {{ classActive(slug, segmentNo) }}>{{ name }}</a>
  {% endspaceless %}
{% endmacro %}

{% macro searchSection(section) %}
  {% if not section %}
    {{- 'checked' -}}
  {% else %}
    {% set firstSegment = craft.request.firstSegment %}
    {{- firstSegment == section ? 'checked' : '' -}}
  {% endif %}
{% endmacro %}

{% macro activeLetterDate(url, first) %}
  {% set first = first | default(false) %}

  {% if '/'~craft.request.path == url %}
    class="active"
  {% elseif craft.request.path == "letters" and first %}
    class="active"
  {% endif %}
{% endmacro %}

{% macro submitLink(type, text) %}
  {% set current = craft.request.segment(2) %}

  {% if type == current %}
    {{- text -}}
  {% else %}
    <a href="/submit/{{ type }}">{{ text }}</a>
  {% endif %}
{% endmacro %}

{% macro arrowLink(path, text) %}
  {% set current = craft.request.path %}

  {% if path == '/'~current %}
    <li class="active">{{ text }}</li>
  {% else %}
    <li><a href="{{ path }}">{{ text }}</a></li>
  {% endif %}
{% endmacro %}
