{% macro classActive(slug, segmentNo) %}
  {% set segmentNo = segmentNo | default(1) %}
  {% set segment = craft.request.segment(segmentNo | default(1)) %}
  {{- segment == slug ? 'class="active"' : null -}}
{% endmacro %}

{% macro navLink(name, segmentNo) %}
  {% from _self import classActive %}
  {% set slug = name | lower %}

  {% spaceless %}
    <a href="{{ url(slug) }}" {{ classActive(slug, segmentNo) }}>{{ name }}</a>
  {% endspaceless %}
{% endmacro %}

{% macro searchSection(section) %}
  {% if not section %}
    {{- 'checked' -}}
  {% else %}
    {% set firstSegment = craft.request.firstSegment %}
    {{- firstSegment == section ? 'checked' : '' -}}
  {% endif %}
{% endmacro %}
