{% macro primaryImage(entry, transform) %}
{% spaceless %}
  {% set image = null %}
  {% set transform = transform | default('list') %}

  {% switch entry.section.handle %}
    {% case 'blog' %}
      {% set fieldName = 'blogImages' %}
    {% case 'media' %}
      {% set fieldName = 'mediaImages' %}
    {% case 'notices' %}
      {% set fieldName = 'noticeImages' %}
    {% default %}
      {% set fieldName = null %}
  {% endswitch %}

  {% if fieldName is not null %}
    {% set images = attribute(entry, fieldName) %}
    {% if images is defined %}
      {% for block in images.order('sortOrder asc').limit(1) %}
        {% set image = block.image.first %}
      {% endfor %}
    {% endif %}

    {% if image is not null %}
      {{ image.url(transform) }}
    {% else %}
      /img/default-{{ transform }}.png
    {% endif %}
  {% else %}
    /img/default-{{ transform }}.png
  {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro contributorUrl(user) %}
  {% set slug = [user.firstName, user.lastName] | join('-') | lower | replace('/[^\\w]+/', '-') %}
  {% set base = "about/contributors" %}

  {{- url([base, user.id, slug] | join('/')) -}}
{% endmacro %}

{% macro authorLink(entry) %}
  {% from _self import contributorUrl %}

  {% set author = entry.author %}

  {% if author.can("publish:{{ entry.section.id }}") %}
    <a href="{{ contributorUrl(author) }}">{{ author.name }}</a>
  {% else %}
    {{ author.name }}
  {% endif %}
{% endmacro %}

{% macro mainContent(entry) %}
  {% set mainContent = null %}

  {% switch entry.section.handle %}
    {% case 'blog' %}
      {% set mainContent = entry.blogContent %}
    {% case 'letters' %}
      {% set mainContent = entry.letterContent %}
    {% case 'media' %}
      {% set mainContent = entry.linkComments %}
    {% case 'news' %}
      {% set mainContent = entry.linkComments %}
    {% case 'notices' %}
      {% set mainContent = entry.noticeContent %}
  {% endswitch %}

  {{- mainContent -}}
{% endmacro %}

{% macro fileInfo(file) %}
  <span class="filetype">({{ file.kind }} {{ file.size | filesize }})</span>
{% endmacro %}

{% macro mediaUrl(entry) %}
{% spaceless %}

  {% set media = entry.mediaLink.first %}

  {% switch media.type %}
    {% case 'video' %}
      {% set mediaUrl = media.videoUrl %}
    {% case 'document' %}
      {% set mediaUrl = media.documentUrl %}
    {% case 'upload' %}
      {% set file = media.document.first %}
      {% set mediaUrl = file.url %}
  {% endswitch %}

  {{ mediaUrl }}
{% endspaceless %}
{% endmacro %}

{% macro postImage(entry, transform) %}
  {% from _self import mediaUrl, primaryImage %}

  {% set transform = transform | default('list') %}

  {% set image = primaryImage(entry, transform) %}

  {% switch entry.section.handle %}
    {% case 'media' %}
      <a href="{{ mediaUrl(entry) }}" target="_blank"><img src="{{ image }}"></a>
    {% case 'news' %}
      <a href="{{ entry.newsLink }}" target="_blank"><img src="{{ image }}"></a>
    {% default %}
      <a href="{{ entry.url }}"><img src="{{ image }}"></a>
  {% endswitch %}
{% endmacro %}

{% macro postTags(entry, unfiltered) %}
  {% set unfiltered = unfiltered | default(false) %}

  <ul class="tags">
  {% if unfiltered %}
    <li><a href="{{ url(entry.section.handle) }}">{{ entry.section.name }}</a></li> |
  {% endif %}
    <li><a href="TODO">{{ entry.primaryLocation.first }}</a></li> |
    <li><a href="TODO">{{ entry.primaryTopic.first }}</a></li>
  </ul>
{% endmacro %}

{% macro postTitle(entry) %}
  {% from _self import authorLink %}

  {% switch entry.section.handle %}
    {% case 'blog' %}
      <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
    {% case 'notices' %}
      <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
    {% default %}
      <h3>{{ entry.title }}</h3>
  {% endswitch %}
{% endmacro %}

{% macro postBy(entry) %}
  {% from _self import authorLink %}

  {% switch entry.section.handle %}
    {% case 'letters' %}
      <div class="byline">By {{ authorLink(entry) }} - {{ entry.author.city}}</div>
    {% case 'news' %}
      <div class="byline">{{ entry.postDate | date('M d, Y') }} by {{ authorLink(entry) }} <a class="more" href="{{ entry.newsLink }}" target="_blank">READ ARTICLE</a></div>
    {% default %}
      <div class="byline">By {{ authorLink(entry) }} - {{ entry.postDate | date('M d, Y') }} - {{ random(10) }} Comments</div>
  {% endswitch %}
{% endmacro %}

{% macro postSummary(entry) %}
  {% from _self import mainContent, postBy, postTitle %}

  {% set content = mainContent(entry) %}

  {% switch entry.section.handle %}
    {% case 'media' %}
      {{ postTitle(entry) }}
      {{ postBy(entry) }}
      <p>{{ content }}</p>
    {% case 'news' %}
      {{ postTitle(entry) }}
      <p>{{ content }}</p>
      {{ postBy(entry) }}
    {% default %}
      {{ postTitle(entry) }}
      {{ postBy(entry) }}
      <p>{{ content | striptags | slice(0, 200) }} &hellip; <a class="more" href="{{ entry.url }}">more »</a></p>
  {% endswitch %}
{% endmacro %}

{% macro featuredPost(entry) %}
  {% from _self import postImage, postSummary, postTags %}

  {% switch entry.section.handle %}
    {% case 'media' %}
      <div class="featured">
        {{ postTags(entry, true) }}
        {{ postSummary(entry) }}
      </div>
    {% case 'news' %}
      <div class="featured">
        {{ postTags(entry, true) }}
        {{ postSummary(entry) }}
      </div>
    {% default %}
      {{ postImage(entry, 'hero') }}
      <div class="featured">
        {{ postTags(entry, true) }}
        {{ postSummary(entry) }}
      </div>
  {% endswitch %}
{% endmacro %}

{% macro post(entry, unfiltered) %}
  {% from _self import postBy, postImage, postSummary, postTags, postTitle %}

  {% set unfiltered = unfiltered | default(false) %}

  <li class="listing">
  {% switch entry.section.handle %}
    {% case 'letters' %}
      <div class="post">
        {{ postTitle(entry) }}
        {{ postBy(entry) }}
        <p>{{ entry.letterContent }}</p>
      </div>
    {% case 'news' %}
      <div class="post">
        {{ postTags(entry, unfiltered) }}
        {{ postSummary(entry) }}
      </div>
    {% default %}
      {{ postImage(entry) }}
      <div class="post">
        {{ postTags(entry, unfiltered) }}
        {{ postSummary(entry) }}
      </div>
  {% endswitch %}
  </li>
{% endmacro %}

{% macro documentDownload(file, title) %}
  <div class="download"><a href="{{ file.url }}">{{ title | default(file.title) }} <span class="filetype">({{ file.kind }} {{ file.size | filesize }})</span></a></div>
{% endmacro %}

{% macro documents(documents) %}
  {% from _self import documentDownload %}

  {% if documents | length > 0 %}
    {% for block in documents %}
      {% set file = block.document.first %}
      {{ documentDownload(file, block.documentTitle) }}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro otherImages(images) %}
  {% if images | length %}
    <div class="thumbs">
    {% for block in images.order('sortOrder asc').offset(1) %}
      {% set image = block.image.first %}
      <a href="#"><img src="{{ image.url('thumb') }}"/></a>
    {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
