{% extends "_common/layout" %}

{% set title = "Server Error" %}

{% block main %}
  {% if currentUser and currentUser.admin %}

    <h1>Server Error</h1>

    {% if message %}
      <code>{{ message }}</code>
    {% else %}
      <p>No error message found; please check the logs.</p>
    {% endif %}

    <p>Note you're only seeing these details because you're an admin.</p>

  {% else %}

    {% set inProduction = constant('CRAFT_ENVIRONMENT') == 'live' %}

    {% if inProduction and message %}
      {% set _administratorsNotified = craft.mpadmin.notifyAdminOfServerError(message) %}
    {% endif %}

    <h1>Oops, Sorry. Server Error</h1>
    We'll try to fix this asap.  <br>
    We've already been notified, but feel free to <a href='/contact'>Contact Us</a>.  <br> <br>
    <i>Thanks for your patience!</i>

  {% endif %}
{% endblock %}
