{% import "_macro" as macro %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />
  {% includeCssFile "/css/normalize.css" %}
  {% includeCssFile "/css/main.css" %}
  {% includeCssFile "/css/rrssb.css" %}
</head>
<body class="{{ craft.request.lastSegment | default('home') }}">
  <header>
    <div id="title">
      <h1>The Marin Post</h1>
      <h2>Local Voices: Local Choices</h2>
    </div>
  </header> 
  
  <nav>
    <div id="search">
      <fieldset>
        <input type="search">
        <input type="submit" value="go">
      </fieldset>
      <a href="#">Saved search</a>
    </div>

    <ul>
      <li><a href="{{ siteUrl }}" {{ macro.classActive('') }}>Home</a></li>
      <li>{{ macro.navLink('Blog') }}<li>
      <li>{{ macro.navLink('News') }}<li>
      <li>{{ macro.navLink('Notices') }}<li>
      <li>{{ macro.navLink('Media') }}<li>
      <li>{{ macro.navLink('Surveys') }}<li>
      <li>{{ macro.navLink('Letters') }}<li>
      <li>{{ macro.navLink('About') }}<li>
      <li>{{ macro.navLink('Submit') }}<li>
      <li>{{ macro.navLink('Contact') }}<li>
      <li>{{ macro.navLink('Subscribe') }}<li>
    </ul>
    <ul id="sub-nav">
    {% if currentUser %}
      <li class="account"><a href="{{ url('account/profile') }}">My account</a></li>
      <li class="log-out"><a href="{{ logoutUrl }}">Log out</a></li>
    {% else %}
      <li class="sign-in"><a href="{{ loginUrl }}">Sign in</a></li>
    {% endif %}
      <li><a class="show-search">Search</a></li>
    </ul>
  </nav>

  {% block content %}
  {% endblock %}

  <footer id="footer">
    Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built by <a href="http://www.communityventurepartners.org/">Community Venture Partners</a>
  </footer>
  
  {% includeJsFile "/js/jquery.min.js" first %}
  {% includeJsFile "/js/plugins.js" %}
  {% includeJsFile "/js/rrssb.min.js" %}
  {% includeJsFile "/js/main.js" %}
  {% includeJsFile "/js/filter.js" %}
  {% includeJsFile "/js/form.js" %}
  
  {% if js is defined %}
    {% includeJs js %}
  {% endif %}
  
  {% include "_analytics.html" %}
</body>
</html>
