<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />
  {% includeCssFile "/css/normalize.css" %}
  {% includeCssFile "/css/main.css" %}
  {% includeCssFile "/css/rrssb.css" %}
</head>
<body class="home">
  <header>
    <div id="title">
      <h1>The Marin Post</h1>
      <h2>Local Voices: Local Choices</h2>
    </div>
  </header> 
  
  <nav>
    <div id="search">
      <fieldset>
        <input type="search">
        <input type="submit" value="go">
      </fieldset>
      <a href="#">Saved search</a>
    </div>
    {% import "_class" as class %}
    <ul>
      <li><a href="/"{{ class.active('') }}>Home</a></li>
      <li><a href="{{ url('blog') }}" {{ class.active('blog') }}>Blog</a></li>
      <li><a href="{{ url('news') }}" {{ class.active('news') }}>News</a></li>
      <li><a href="{{ url('notices') }}" {{ class.active('notices') }}>Notices</a></li>
      <li><a href="{{ url('media') }}" {{ class.active('media') }}>Media</a></li>
      <li><a href="{{ url('surveys') }}" {{ class.active('surveys') }}>Surveys</a></li>
      <li><a href="{{ url('letters') }}" {{ class.active('letters') }}>Letters</a></li>
      <li><a href="{{ url('about') }}" {{ class.active('about') }}>About</a></li>
      <li><a href="{{ url('submit') }}" {{ class.active('submit') }}>Submit</a></li>
      <li><a href="{{ url('contact') }}" {{ class.active('contact') }}>Contact</a></li>
      <li><a href="{{ url('subscribe') }}" {{ class.active('subscribe') }}>Subscribe</a></li>
    </ul>
    <ul id="sub-nav">
      <li class="sign-in"><a href="/admin">Sign in</a></li>
      <li class="account"><a href="/admin">My account</a></li>
      <li><a class="show-search">Search</a></li>
    </ul>
  </nav>

  {% block hero %}
  {% endblock %}

  {% block main %}
  {% endblock %}

  {% block right %}
  {% endblock %}

  <footer id="footer">
    Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built by <a href="http://www.communityventurepartners.org/">Community Venture Partners</a>
  </footer>
  
  {% includeJsFile "/js/jquery.min.js" %}
  {% includeJsFile "/js/plugins.js" %}
  {% includeJsFile "/js/main.js" %}
  {% includeJsFile "/js/rrssb.min.js" %}
  
  {% if js is defined %}
    {% includeJs js %}
  {% endif %}
  
  <script>
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//marinpost.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
  
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date; e=o.createElement(i);r=o.getElementsByTagName(i)[0]; e.src='//www.google-analytics.com/analytics.js'; r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>
</body>
</html>
