{% macro classActive(slug, segmentNo) %}
  {% set segmentNo = segmentNo | default(1) %}
  {% set segment = craft.request.segment(segmentNo | default(1)) %}

  {{ segment == slug ? 'class="active"' : null }}
{% endmacro %}

{% macro navLink(name, segmentNo) %}
  {% from _self import classActive as classActive %}
  {% set slug = name | lower %}

  <a href="{{ url(slug) }}" {{ classActive(slug, segmentNo) }}>{{ name }}</a>
{% endmacro %}

{% macro authorLink(entry) %}
  {% set author = entry.author %}

  {% if author.can("publish:{{ entry.section.id }}") %}
    {% set slug = [author.firstName, author.lastName] | join('-') | lower | replace('/[^\\w]+/', '-') %}
    <a href="/about/contributors/{{ author.id }}/{{ slug }}">{{ author.name }}</a>
  {% else %}
    {{ author.name }}
  {% endif %}
{% endmacro %}

{% macro entry(entry) %}
  {% from _self import authorLink as authorLink %}

  {% set image = '/img/default-list.png' %}
  {% for block in entry.primaryImage %}
    {% set image = block.image.first.url('hero') %}
  {% endfor %}

  <li class="listing">
    <img src="{{ image }}">
    <div class="post">
      <ul class="tags">
        <li><a href="">{{ entry.section.name }}</a></li> | 
        <li><a href="">{{ entry.primaryLocation.first }}</a></li> | 
        <li><a href="">{{ entry.primaryTopic.first }}</a></li>
      </ul>
      <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
      <div class="byline">By {{ authorLink(entry) }} - {{ entry.postDate | date('M d, Y') }} - 17 Comments</div>
      <p>{{ entry.mainContent | striptags | slice(0, 200) }} &hellip; <a class="more" href="{{ entry.url }}">more »</a></p>
    </div>          
  </li>
{% endmacro %}

{% macro errorList(errors) %}
  {% if errors %}
    <ul class="errors">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
