<div class="notices">
  <h2>Notices</h2>
  <ul>
  {% for notice in craft.entries.section('notice').limit(3) %}
    <li>
      <strong>{{ notice.title }}<br><a href="{{ notice.url }}">More</a></strong><br>
      {% for event in notice.event %}
        {{ event.date | date('F d, Y') }}<br>
        {{ event.location }}<br>
        {{ event.date | date('g:i A') }}
        {% if event.endDate %}
          &ndash; {{ event.endDate | date('g:i A') }}
        {% endif %}  
      {% endfor %}
    </li>
  {% endfor %}
  </ul>
</div>
