{% requireLogin %}
{% requirePermission 'accessCp' %}

{% set sourceId = 3 %}

{% macro singularSection(entry) %}
{% spaceless %}
  {% switch entry.section.handle %}
    {% case 'letters' %}
      {% set name = 'letter' %}

    {% case 'notices' %}
      {% set name = 'notice' %}

    {% default %}
      {% set name = entry.section.handle %}

  {% endswitch %}

  {{ name }}
{% endspaceless %}
{% endmacro %}

{% import _self as m %}

<h3>Image Credits</h3>

{% set entries = craft.entries.section('blog', 'media', 'news', 'notices').find %}

<ol>
{% for entry in entries %}
  {% set section = m.singularSection(entry) %}
  {% set fieldName = section~'Images' %}
  {% set images = attribute(entry, fieldName) %}
  {% set block = images.first %}
  {% set image = block.image.first %}

  {% set updated = craft.s3direct.updateassetcontent(image.id, 'credit', block.credit) %}

  <li> [{{ entry.section }}] {{ image.title }} [ {{ image.id }}] image-credit:{{ image.credit }}, block-credit:{{ block.credit }} </li>
{% endfor %}
</ol>
