{% extends "_common/layout" %}

{% set title = "Donate" %}

{% block main %}
  {% embed "_common/single" %}
    {% block title %}Donate{% endblock %}

    {% block subNav %}
    {% endblock %}

    {% block post %}
      {{ n.siteMessage }}
      <p>The Marin Post is a project of <a href="">Community Venture Partners, Inc.</a>, a federally registered 501 (c)(3), tax exempt organization. Donations are tax deductible to the fullest extent provided by law.</p>
      <p>The Marin Post depends on donations, grants and other types of philanthropic gifts in order to offer the Marin Post and its community serving features free of charge.</p>
      <h1 style="color: #fe0002; text-align: center;">PLEASE DONATE</h1>
      <p style="text-align: center;">Indicate that you are supporting:<br />
      "The Marin Post"<br />
      in the "Purpose" box.<br />
      <img src="/img/donate.png" alt="donate" width="175" height="75" style="float: none;"/></p>
    {% endblock %}
  {% endembed %}
{% endblock %}
