{% requireLogin %}

{% set statuses = ['live', 'disabled'] %}

{% if not craft.request.getPost('action') %}
  {# initial GET request #}

  {% set entryId = craft.request.segment(2) %}

  {% if not entryId %}
    {% redirect 404 %}
  {% endif %}

  {% set entry = craft.entries.status(statuses).id(entryId).first %}

  {% if not entry %}
    {% redirect 404 %}
  {% endif %}

  {% if entry.author.id != currentUser.id %}
    {% redirect 404 %}
  {% endif %}
{% endif %}

{% set section = entry.section.handle %}

{% switch entry.section.handle %}
  {% case 'letters' %}
    {% set section = 'letter' %}
  {% case 'notices' %}
    {% set section = 'notice' %}
{% endswitch %}

{% extends "submit/" ~ section %}
