{% extends "_common/layout" %}

{% block main %}
  {% cache unless craft.config.cacheTagDisabled %}
    {% set sections = ['blog', 'media', 'news', 'notices'] %}
    {% set limit = entriesPerPage %}
    {% set featuredPosts = [] %}

    {% set slideShow = entry.slideShow %}

    {% if slideShow | length %}

      {% for slide in slideShow %}
        {% set featuredPosts = featuredPosts | merge([ slide.entry.first ]) %}
      {% endfor %}

    {% endif %}

    {% if featuredPosts | length %}

      {# omit featured posts from list of entries
       #
       #    {% set notIDs = ['and'] %}
       #
       #    {% for featured in featuredPosts %}
       #      {% set notIDs = notIDs | merge(['not '~featured.id]) %}
       #    {% endfor %}
       #
       #    {% set entries = craft.entries({
       #      section: sections,
       #      id: notIDs,
       #      limit: limit
       #    }) %}
       #}

      {% set entries = craft.entries.section(sections).limit(limit) %}

    {% else %} {# single "featured post" is to be pulled from top of entries, so fetch an extra one #}

      {% set entries = craft.entries.section(sections).limit(limit + 1) %}
      {% set featuredPosts = [ entries | first ] %}
      {% set entries = entries | without(featuredPosts | first) %}

    {% endif %}

    {% set hasSlideShow = featuredPosts | length > 1 %}

    {% set letters = craft.entries.section('letters').limit(limit) %}

    {% embed "_common/home" %}
      {% block featured %}

        <div class="featured-posts" {% if hasSlideShow %}style="display: none;"{% endif %}>

          {% for post in featuredPosts %}
            {{ p.featuredPost(post) }}
          {% endfor %}

        </div>

      {% endblock %}

      {% block whatsNew %}
        <h2>What's New</h2>

        <ul class="posts">

          {% for entry in entries %}
            {{ p.post(entry, true) }}
          {% endfor %}

        </ul>

        <aside>
          <h2>Letters</h2>

          <div id="comments">
            <ul>

            {% for letter in letters %}
              <li>
                <h4><a href="/letters/{{ letter.postDate | date('Y/m/d') }}">{{ p.titleCase(letter.title) }}</a></h4>
                <p>{{ p.excerpt(letter.letterContent, 180) }}</p>
                {{ p.authorNameOrLink(letter, 'user') }}
              </li>
            {% endfor %}

            </ul>
          </div>
        </aside>
      {% endblock %}
    {% endembed %}
  {% endcache %}

  {% set js %}
    $(function() {
      $('ul.posts').scrollingContent({
        slideShow: {{ hasSlideShow ? 'true' : 'false' }}
      });
    });
  {% endset %}
  {% includeJs js %}
{% endblock %}
