{% extends "_common/layout" %}

{% set title = "Letters" %}

{% block main %}
  {% embed "_common/list" %}
    {% block subNav %}
    {% endblock %}

    {% block h2 %}
      Letters to the Editor
    {% endblock %}
    
    {% block posts %}
      {% set allEntries = craft.entries.section('letters').limit(perPage).find %}

      <div id="letters-by-date">
      {% for date, entries in allEntries | group("postDate|date('F j, Y')") %}
          <h2 class="date-divider">{{ date }} <span class='comment-count'># Comments</span></h2>
          <div>
          {% for entry in entries %}
              <h3>{{ entry.title }}</h3>
              {{ p.authorLink(entry) }} &mdash; {{ entry.author.city }} {{- p.editLink(entry) -}}<br>
              {{postDate|date('g:i A')}} <br>
              <p>{{ entry.letterContent }}</p>
          {% endfor %}
          </div>
      {% endfor %}
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% set js %}
$(function() {
  $("#letters-by-date").accordion({
    'header': 'h2'
  });
});
{% endset %}

{% includeJs js %}
