{% extends "_common/layout" %}

{% set title = "Letters" %}

{% block main %}
  {% embed "_common/unfiltered_list" %}
    {% block subNav %}
      <h2>Archive</h2>
      <h4>Filter by date</h4>
      <div class="archive">
          <div id="select-letter-date"></div>
          <div class="note">Click date to view previous letters</div>
      </div>
    {% endblock %}

    {% block h2 %}
      Letters
    {% endblock %}
    
    {% block posts %}
      {% if craft.request.segments | length > 1 %}
        {% set year = craft.request.segment(2) %}
        {% set month = craft.request.segment(3) %}
        {% set day = craft.request.segment(4) %}
        {% set ymd = year~'-'~month~'-'~day %}
      {% else %}
        {% set ymd = date() | date('Y-m-d') %}
      {% endif %}
      {% set nextYmd = ymd | date_modify('+1 day') | date('Y-m-d') %}
      {% set entries = craft.entries.section('letters').after(ymd).before(nextYmd).find %}

      <h2 class="date">{{ date(ymd) | date('F j, Y') }}</h2>

      {% if entries %}
        {% for entry in entries %}
          <li>
              <h3>{{ p.titleCase(entry.title) }}</h3>
              <div class="byline">
                {{ p.authorNameOrLink(entry) }} &mdash; {{ entry.author.city }}
                <span class="timestamp">{{ entry.postDate | date('g:i A') }}</span>
              </div>
              <p>{{ entry.letterContent | nl2br }}</p>
          </li>
        {% endfor %}

        <h3 class="join">Join the Conversation</h3>
        <div id="letter-comments">
          {% set disqusId = ymd %}
          {% set disqusTitle = date(ymd) | date('F j, Y') %}
          {% set disqusUrl = siteUrl ~ '/letters/' ~ ymd | replace('-', '/') %}
          {% include "_common/disqus_embed.html" with { identifier: disqusId, title: disqusTitle, url: disqusUrl } only %}

      {% else %}
        No letters found

      {% endif %}
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% set css %}
#select-letter-date {
  font-size: .75em;
}
{% endset %}
{% includeCss css %}
