{% extends "_common/layout" %}

{% set title = "Letters" %}

{% set limit = 3 %}{# TODO set higher after testing #}

{% block content %}
  {% embed "_common/unfiltered_content" %}
    {% block main %}
      <h2>Notices</h2>
      <ul class="posts" id="filtered-content">
      {% for entry in craft.entries.section('letters').limit(limit).find %}
        {{ m.post(entry) }}
      {% endfor %}
      </ul>
      <a href="#" id="load-more-content">Load More Content</a>
    {% endblock %}

    {% block right %}
      {% include "_common/support" %}
    {% endblock %}
  {% endembed %}
{% endblock %}
