{% extends "_common/layout" %}

{% set title = "News Links" %}

{% set limit = 2 %}{# TODO set higher after testing #}

{% block content %}
  {% embed "_common/filtered_content" %}
    {% block main %}
      <h2>Notices</h2>
      <ul class="posts" id="filtered-content">
      {% for entry in craft.entries.section('news').limit(limit).find %}
        {{ macro.entry(entry) }}
      {% endfor %}
      </ul>
      <a href="#" id="load-more-content">Load More Content</a>
    {% endblock %}

    {% block right %}
      {% include "_common/support" %}
    {% endblock %}
  {% endembed %}
{% endblock %}
