{% requireLogin %}

{% extends "_common/layout" %}

{% includeCssFile "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" %}
{% includeCssFile "/css/jquery.fileupload.css" %}

{% block main %}

{% set sourceId = 3 %}
{% set folder = craft.marinpost.s3Folder(sourceId) %}

{% set entry = craft.entries.section('media').id(295).first %}
{% set imageBlock = entry.mediaImages.nth(0) %}
{% set imageId = imageBlock.id %}
{% set image = imageBlock.image.first %}

<h3>change image in media link: {{ entry.title }}</h3>
{% if image %}
  <img src="{{ image.url('list') }}">
{% endif %}

<form method="post" accept-charset="UTF-8">
  {{ getCsrfInput() }}
  <input type="hidden" name="action" value="entries/saveEntry">
  <input type="hidden" name="redirect" value="{{ craft.request.url }}">
  <input type="hidden" name="sectionId" value="6">
  <input type="hidden" name="entryId" value="295">
  <input type="hidden" name="enabled" value="1">

  <fieldset>
    <label for="fields[mediaImages]">Image</label>
    <input type="hidden" name="fields[mediaImages]">
    <input type="hidden" name="fields[mediaImages][{{ imageId }}][enabled]" value="1">
    <input type="hidden" name="fields[mediaImages][{{ imageId }}][type]" value="image">
    <input type="hidden" name="fields[mediaImages][{{ imageId }}][fields][disclaimer]">
    <input type="hidden" name="fields[mediaImages][{{ imageId }}][fields][image]">
    <select id="entry-image" name="fields[mediaImages][{{ imageId }}][fields][image][]">
      <option value=""></option>
    {% if folder %}
      {% for asset in craft.assets.folderId(folder.id) %}
        <option value="{{ asset.id }}" {% if image.id == asset.id %}selected{% endif %}>{{ asset.filename }}</option>
      {% endfor %}
    {% endif %}
    </select>

    <div class="container">  
      <span class="btn btn-success fileinput-button">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Upload file</span>
          <input id="fileupload" type="file" name="file" multiple>
      </span>
      <br>
      <div id="progress" class="progress">
          <div class="progress-bar progress-bar-success"></div>
      </div>
    </div>  

    <label for="fields[mediaImages][{{ imageId }}][fields][by]">Image By</label>
    <input type="text" name="fields[mediaImages][{{ imageId }}][fields][by]" value="{% if imageBlock %}{{ imageBlock.by }}{% endif %}">
    <label for="fields[mediaImages][{{ imageId }}][fields][disclaimer][]">Disclaimer</label>
    <input type="checkbox" name="fields[mediaImages][{{ imageId }}][fields][disclaimer][]" value="Yes I have the right to use this image" {% if imageBlock and imageBlock.disclaimer %}checked{% endif %}>
    Yes I have the right to use this image
  </fieldset>

  {% include "_form/title" %}

  <fieldset>
    {% set primaryLocationId = entry is defined ? f.categoryId(entry, "primaryLocation") : 0 %}
    <label for="primaryLocation">Location</label>
    <select id="primaryLocation" name="fields[primaryLocation][]" class="array">
      <option value=""></option>
    {% set geographicGroup = false %}
    {% for option in craft.categories.group('locations') %}
      {% if not (option.geographicGroup.label == geographicGroup) %}
        {% set geographicGroup = option.geographicGroup.label %}
        <option value="" disabled="disabled"></option>
        <option value="" disabled="disabled">{{ geographicGroup }}</option>
        <option value="" disabled="disabled"></option>
      {% endif %}
      <option value="{{ option.id }}" {%- if option.id == primaryLocationId %}selected{% endif %}>{{ option.title }}</option>
    {% endfor %}
    </select>
  </fieldset>

  <fieldset>
    <label for="primaryTopic">Topic</label>
    {% set primaryTopicId = entry is defined ? f.categoryId(entry, "primaryTopic") : 0 %}
    <select id="primaryTopic" name="fields[primaryTopic][]" class="array">
      <option value=""></option>
    {% for option in craft.categories.group('topics') %}
      <option value="{{ option.id }}" {%- if option.id == primaryTopicId %}selected{% endif %}>{{ option.title }}</option>
    {% endfor %}
    </select>
  </fieldset>

  <label for="mediaLink">Media Link</label>
    {% set media = entry.mediaLink.first %}
    {% set mediaType = media.type %}
    {% set mediaId = media.id %}
    {% set documentUrl = null %}
    {% set documentTitle = null %}

    {% switch media.type %}
      {% case 'video' %}
        {% set videoUrl = media.videoUrl %}
      {% case 'document' %}
        {% set documentUrl = media.documentUrl %}
      {% case 'upload' %}
        {% set documentTitle = media.documentTitle %}
    {% endswitch %}

  <input type="hidden" name="fields[mediaLink]">
  <input type="hidden" name="fields[mediaLink][{{ mediaId }}]">
  <input type="hidden" name="fields[mediaLink][{{ mediaId }}][type]" id="mediaType" value="{{ mediaType }}">

  <input type="radio" name="mediaType" value="video" {%- if mediaType == 'video' %}checked="checked"{% endif -%}>Link to a video
  <input type="radio" name="mediaType" value="document" {%- if mediaType == 'document' %}checked="checked"{% endif -%}>Link to a document
  <input type="radio" name="mediaType" value="upload" {%- if mediaType == 'upload' %}checked="checked"{% endif -%}>Upload a document

  <input type="text" name="fields[mediaLink][{{ mediaId }}][fields][videoUrl]" class="media video" autocomplete="off" value="{{ videoUrl }}" {%- if mediaType != 'video' %}style="display:none;"{% endif -%}>
  <br>

  <label for="linkComments">Link Comments</label>

  <textarea id="linkComments" name="fields[linkComments]" cols="60" rows="8"> {%- if entry is defined %}{{ entry.linkComments }}{% endif -%} </textarea>

  <br>
  <input type="submit">
</form>

<h3>errors</h3>
{{ f.errorList(entry.allErrors) }}
{{ f.errorList(entry.primaryLocation) }}
{{ f.errorList(entry.primaryTopic) }}
{{ f.errorList(entry.mediaLink) }}
{{ f.errorList(entry.allErrors) }}
{{ f.errorList(entry.mediaImages.allErrors) }}
{{ f.errorList(imageBlock.allErrors) }}

{% endblock %}

{% includeJsFile "/js/jquery.ui.widget.js" %}
{% includeJsFile "/js/jquery.iframe-transport.js" %}
{% includeJsFile "/js/jquery.fileupload.js" %}
{% includeJsFile "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" %}
{% includeJsFile "/js/s3.js" %}

{% set js %}
$(function() {
  $('body').s3({
    s3PathPrefix: "{{ craft.marinpost.currentUserId }}",
    s3Policy: "{{ craft.marinpost.s3Policy }}",
    s3Signature: "{{ craft.marinpost.s3Signature }}",
    s3Bucket: "{{ craft.marinpost.s3Bucket }}",
    awsAccessKeyId: "{{ craft.marinpost.awsAccessKeyId }}",
    assetsSourceId: 3,
    selectFilesSelector: 'select#entry-image',
    debug: true,
  });
});
{% endset %}

{% includeJs js %}
