{% requireLogin %}

<!DOCTYPE HTML>  
<html lang="en">  
<head>  
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->  
<meta charset="utf-8">  
<title>jQuery File Upload Demo - Basic version</title>  
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">  
<link rel="stylesheet" href="/css/jquery.fileupload.css">  
</head>  
<body>  
<div class="container">  
    <h1>jQuery File Upload Demo</h1>
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <input id="fileupload" type="file" name="file" multiple>
    </span>
    <br>
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <div id="files" class="files"></div>
</div>  

<h3>(debug) policy</h3>
{{ craft.marinpost.jsonS3Policy }}
<p>
<h3>assets</h3>
{% set sourceId = 3 %}
<ul>
{% for asset in craft.assets.sourceId(sourceId) %}
<li>
  <ul>
    <li>{{ asset.filename }}</li>
    <li>{{ asset.kind }}</li>
    <li>{{ asset.size | filesize }}</li>
    <li>{{ asset.url }}</li>
    <li>{{ asset.source.name }}{{ asset.folder.path }}</li>
  </ul>
</li>
{% endfor %}
</ul>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
<script src="/js/jquery.ui.widget.js"></script>  
<script src="/js/jquery.iframe-transport.js"></script>  
<script src="/js/jquery.fileupload.js"></script>  
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>  
<script>  
$(function () {
    var $progress = $('#progress').find('.progress-bar');
    var url = 'https://{{ craft.marinpost.s3Bucket }}.s3.amazonaws.com/';
    var userId = '{{ currentUser.id }}';

    var s3Key = function(fileName) {
        return userId + '/' + fileName;
    };

    var fileUploadAdd = function (e, data) { // debug
        // default functionality
        if (data.autoUpload || (data.autoUpload !== false && $(this).fileupload('option', 'autoUpload'))) {
            $.each(data.files, function (index, file) {
                console.log('Added file: ' + file.name);
            });

            // default functionality
            data.process().done(function () {
                data.submit();
            });
        }
    }; 

    var fileUploadSubmit = function(e, data) {
        var file = data.files[0];

        data.formData = {
            key: s3Key(file.name),
            acl: 'public-read',
            AWSAccessKeyId: "{{ craft.marinpost.awsAccessKey }}",
            policy: "{{ craft.marinpost.s3Policy }}",
            signature: "{{ craft.marinpost.awsSignature }}",
            // <Code>AccessDenied</Code>
            // <Message>Invalid according to Policy: Extra input fields: content-type</Message>
            // 'Content-Type': file.type,
        };

        console.log('fileUploadSubmit()', data);
        
        // return true;
    };

    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        done: function (e, data) {
            console.log('done()', data);
            $.each(data.files, function (index, file) {
                $('<p/>').text(s3Key(file.name)).appendTo('#files');
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $progress.css('width', progress + '%');
        }
    })
        .bind('fileuploadadd', fileUploadAdd)
        .bind('fileuploadsubmit', fileUploadSubmit)
        .prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>  
</body>  
</html>
