{% set query = craft.request.param('query') | replace('/^\\s+$/', '') %}

{% if query | length %}
  {% set searchTerms = query | split(' ') | filter | join(' OR ') %}
  {% set section = craft.request.param('section') %}

  {% set entries = craft.entries.search(searchTerms).order('score') %}
  {% set entries = section ? entries.section(section) : entries %}

  {% set authorIds = craft.users.search(searchTerms).order('score').ids | default([]) %}
  {% if authorIds %}
    {% set authorEntries = craft.entries.authorId(authorIds) %}
    {% set authorEntries = section ? authorEntries.section(section) : authorEntries %}

    {% if authorEntries %}
      {% set entries = entries.find  | merge(authorEntries.find) %}
    {% endif %}
  {% endif %}
{% endif %}

{% extends "_common/layout" %}

{% set title = "Search" %}

{% block main %}
  {% embed "_common/single" %}
    {% block subNav %}
    {% endblock %}

    {% block typeOfWrapper %}list-wrapper{% endblock %}
    {% block title %}Search Results{% endblock %}
    {% block post %}
      {% if query | length %}
        {% if entries | length %}
          <ul class="posts">
          {% for entry in entries %}
            {{ p.post(entry, true) }}
          {% endfor %}
          </ul>
        {% else %}
          <p>Nothing found for <i>{{ query }}</i>{%- if section %} in {{ section }}{% endif -%}</p>
        {% endif %}
      {% else %}
        {% include "_common/search" %}
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
