{% set query = craft.request.param('query') | replace('/^\\s+$/', '') %}

{% if query | length %}
  {% set searchTerms = query | split(' ') | filter | join(' OR ') %}

  {% set section = craft.request.param('section') %}

  {% set entryIds = craft.mpfilter.search(searchTerms, section) %}
{% endif %}

{% extends "_common/layout" %}

{% set title = "Search" %}

{% block main %}
  {% embed "_common/single" %}
    {% macro checkSection(match) %}
      {% set section = craft.request.param('section') %}
      {{ section == match ? 'checked' : '' }}
    {% endmacro %}
    {% from _self import checkSection %}

    {% block subNav %}
    {% endblock %}

    {% block typeOfWrapper %}list-wrapper{% endblock %}
    {% block title %}Search Results{% endblock %}
    {% block post %}
      <form action="/search" method="GET">
        <fieldset>
          <input type="search" name="query" autocomplete="off" value="{{ query }}">
          <input type="submit" value="Search"><br>
          <input type="radio" name="section" value="" {{ checkSection('') }}> All
          <input type="radio" name="section" value="blog" {{ checkSection('blog')}}> Blogs
          <input type="radio" name="section" value="news" {{ checkSection('news')}}> News
          <input type="radio" name="section" value="notices" {{ checkSection('notices')}}> Notices
          <input type="radio" name="section" value="media" {{ checkSection('media')}}> Media
          <input type="radio" name="section" value="letters" {{ checkSection('letters')}}> LTRs
        </fieldset>
      </form>
      <hr>

      {% if query | length %}
        {% if entryIds | length %}
          <ul class="posts">
          {% for entry in craft.entries.id(entryIds) %}
            {{ p.post(entry, true) }}
          {% endfor %}
          </ul>

        {% else %}
          <p>Nothing found for <i>{{ query }}</i>{%- if section %} in {{ section }}{% endif -%}</p>
        {% endif %}
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
