{% requireLogin %}

{% extends "_common/layout" %}

{% includeCssFile "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" %}
{% includeCssFile "/css/jquery.fileupload.css" %}

{% block main %}

<a href="#" id="test">test</a>

{% endblock %}

{% set js %}
$(function () {

    var doIt = function(filenames) {
        var data = {'sourceid': 3};

        $.each(filenames, function(i, e) {
            var key = 'filenames['+i+']';
            data[key] = e;
        });

        console.log('update index for files', filenames, data);

        $.ajax({
            type: 'POST',
            url: '/actions/marinPost/updatedIndex',
            data: data,
            dataType: 'json'
        }).done(function(data) {
              console.log('update and return index: done', data);
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log('update and return index: fail', textStatus, errorThrown);
        });
    };

    var filenames = ['this', 'that'];

    $('a#test').click(function(e) {
        e.preventDefault();
        doIt(filenames);
    });

});
{% endset %}

{% includeJs js %}
