{% requireLogin %}
{% requirePermission 'accessCp' %}

{% set sourceId = 3 %}

{% macro singularSection(entry) %}
{% spaceless %}
  {% switch entry.section.handle %}
    {% case 'letters' %}
      {% set name = 'letter' %}

    {% case 'notices' %}
      {% set name = 'notice' %}

    {% default %}
      {% set name = entry.section.handle %}

  {% endswitch %}

  {{ name }}
{% endspaceless %}
{% endmacro %}

{% import _self as m %}

<h3>Document Titles</h3>

{% set entries = craft.entries.section('blog', 'notices').find %}

<ol>
{% for entry in entries %}
  {% set section = m.singularSection(entry) %}
  {% set fieldName = section~'Documents' %}
  {% set documents = attribute(entry, fieldName) %}
  {% set block = documents.first %}
  {% set document = block.document.first %}

  {% if block.documentTitle | length %}
    {% set updated = craft.s3direct.updateassetcontent(document.id, 'title', block.documentTitle) %}
  {% endif %}

  <li> [{{ entry.section }}] {{ document.title }} [ {{ document.id }}] document-title:{{ document.title }}, block-title:{{ block.documentTitle }} </li>
{% endfor %}

{# TODO media links #}

</ol>
