{% if not craft.request.isAjax %} {% exit 404 %} {% endif %}
{% spaceless %}

{% set offset = craft.request.param('offset') | default(0)  %}

{% set default = siteDefaults.siteDefault.key('entriesPerPage').first %}
{% set entriesPerPage = default ? default.value : 10 %}
{% set limit = craft.request.param('limit') | default(entriesPerPage)  %}

{% set featured = craft.entries.section('home').first.featuredPost.first %}

{% if featured | length %}
  {# omit featured from list of entries #}
  {% set entries = craft.entries.section('blog', 'media', 'news', 'notices').id('not '~featured.id).offset(offset).limit(limit) %}

{% else %}
  {% set entries = craft.entries.section('blog', 'media', 'news', 'notices').offset(offset).limit(limit) %}

{% endif %}

{% import "_entry/macros" as m %}

{% for entry in entries %}
  {{ m.post(entry, true) }}
{% endfor %}

{% endspaceless %}
