{% if (craft.request.getPath() == '') or (craft.request.getPath() == 'blog') or (craft.request.getPath() == 'notices') or (craft.request.getPath() == 'news') or (craft.request.getPath() == 'letters') or (craft.request.getPath() == 'media')  %}
<div>
    {% set adMatrix = craft.entries.section('adMatrix').first %}
    {% set ads = adMatrix.adEntries %}
    {% if ads|length > 0 %}
        <div class="message" style="border-bottom: none;">{{ n.siteMessage('ad/top') }}</div>
    {% endif %}
    {% if not craft.request.isMobileBrowser(true) %}
        {% for ad in shuffle(ads) %}
            <article>
                <a href="{{ ad.adUrl }}" target="_blank"><img src='{{ ad.adImages[0].url('adImageThumb') }}'/></a>
            </article><br>
        {% endfor %}
    {% else %}
        {% set max = siteDefaults.siteDefault.key('maxAdsOnMobile').first.value %}
        {% set mobileAds = ads|slice(0,max) %}
        <div class="adSlider">
            {% for ad in shuffle(mobileAds) %}        
                <div class="adSlide"><a href="{{ ad.adUrl }}" target="_blank"><img src='{{ ad.adImages[0].url('adImageThumb') }}'/></a></div>
            {% endfor %}
        </div>
        
        {% if mobileAds|length > 0 %}
            <div class="message">{{ n.siteMessage('ad/bottom') }}</div>
        {% endif %}
    {% endif %}
</div>
{% endif %}