{% if (craft.request.getPath() == '') or (craft.request.getPath() == 'blog') or (craft.request.getPath() == 'notices') or (craft.request.getPath() == 'news') or (craft.request.getPath() == 'letters') or (craft.request.getPath() == 'media')  %}
<div class="message">{{ n.siteMessage('ad/top') }}</div>
<div>
    {% set adMatrix = craft.entries.section('adMatrix').first %}
    {% if not craft.request.isMobileBrowser(true) %}
        {% set adEntries = shuffle(adMatrix.adEntries) %}
        {% for adEntry in adEntries %}
            {% set currentDate = "now"|date('d-m-Y') %}
            {% set adStartDate = adEntry.adStartDate|date('d-m-Y') %}
            {% set difference = date( adStartDate ).diff( now ).days %}
            {% set showAd = false %}
            {% switch adEntry.plan %}

                {% case "month" %}
                    {% if difference <= 31 %}
                        {% set showAd = true %}
                    {% endif %}

                {% case "quarter" %}
                    {% if difference <= 93 %}
                        {% set showAd = true %}
                    {% endif %}

                {% case "year" %}
                    {% if difference <= 366 %}
                        {% set showAd = true %}
                    {% endif %}

                {% default %}
                    {% set showAd = false %}

            {% endswitch %}
            {% if showAd %}
            <article>
                <a href="{{ adEntry.adUrl }}" target="_blank"><img src='{{ adEntry.adImages[0].url('adImageThumb') }}'/></a>
            </article><br>
            {% endif %}
            
        {% endfor %}
    {% else %}
    
        {% set max = 5 %}
        {% set adEntries = [] %}
        {% for adEntry in adMatrix.adEntries %}
            {% set currentDate = "now"|date('d-m-Y') %}
            {% set adStartDate = adEntry.adStartDate|date('d-m-Y') %}
            {% set difference = date( adStartDate ).diff( now ).days %}
            {% set showAd = false %}
            {% switch adEntry.plan %}

                {% case "month" %}
                    {% if difference <= 31 %}
                        {% set showAd = true %}
                    {% endif %}

                {% case "quarter" %}
                    {% if difference <= 93 %}
                        {% set showAd = true %}
                    {% endif %}

                {% case "year" %}
                    {% if difference <= 366 %}
                        {% set showAd = true %}
                    {% endif %}

                {% default %}
                    {% set showAd = false %}

            {% endswitch %}
            {% if showAd %}
                {% if max > 0 %}
                    {% set adEntries = adEntries|merge([adEntry]) %}
                {% endif %}
                {% set max = max -1 %}
            {% endif %}
        {% endfor %}
        <ul id="slides">
            {% for adEntry in shuffle(adEntries) %}
                {% if loop.first %}
                    <li class="slide showing"><a href="{{ adEntry.adUrl }}" target="_blank"><img src='{{ adEntry.adImages[0].url('adImageThumb') }}'/></a></li>
                {% else %}
                    <li class="slide"><a href="{{ adEntry.adUrl }}" target="_blank"><img src='{{ adEntry.adImages[0].url('adImageThumb') }}'/></a></li>
                {% endif %}
            {% endfor %}
        </ul>
    <div class="message">{{ n.siteMessage('ad/bottom') }}</div>
    {% endif %}
</div>
{% endif %}