<main class="clearfix">
  <div class="sub-nav">{% block subNav %}
      <div class="filter" id="filters">
<!--         <a href="#"><h3>Save My Settings</h3></a> -->
        <h4>Filters</h4>
        <fieldset class="locations">
          <h5 class="closed">Locations</h5>
          <ul>
            <li><input type="checkbox" class="location all" value="all" checked="checked" id="location-all"/><label for="location-all">All</label></li>

            {% set group = null %}
            {% for location in craft.categories.group('locations') %}
              {% if location.geographicGroup != group %}
                {% set group = location.geographicGroup %}
                    {% if group.label != 'Outside Marin' %}
                <li class="group-label">{{ group.label }}</li>
                    {% endif %}
              {% endif %}
              <li><input type="checkbox" class="location filter" value="{{ location.id }}" id="{{ location.id }}" data-parent="{{ craft.mpfilter.parentLocationId(location) }}" data-children="{{ craft.mpfilter.childLocationIds(location) }}" /><label for="{{ location.id }}">{{ location.title }}</label></li>
            {% endfor %}
          </ul>
        </fieldset>

        <fieldset class="topics">
          <h5 class="closed">Topics</h5>
          <ul>
            <li><input type="checkbox" class="topic all" value="all" checked="checked" id="topics-all"/><label for="topics-all">All</label></li>

            {% for topic in craft.categories.group('topics') %}
              <li><input type="checkbox" class="topic filter" value="{{ topic.id }}" id="{{ topic.id }}" /><label for="{{ topic.id }}">{{ topic.title }}</label></li>
            {% endfor %}
          </ul>
        </fieldset>

        <fieldset class="authors">
          <h5>Contributors</h5>
          <ul>
            <li><input type="checkbox" class="author all" value="all" checked="checked" id="contributors-all"/><label for="contributors-all">All</label></li>

            {% for author in craft.users.group('contributor').order('lastName, firstName') %}
              <li><input type="checkbox" class="author filter" value="{{ author.id }}" id="{{ author.id }}" /><label for="{{ author.id }}">{{ p.nameCase(author.name) }}</label></li>
            {% endfor %}
          </ul>
        </fieldset>
      </div>
{% endblock %}</div>

  <div class="list-wrapper">
    <h2>
      {% block h2 %}
      {% endblock %}
    </h2>
  
    <ul class="posts">
      {% block posts %}
      {% endblock %}
    </ul>
  </div>
</main>

{% set filter = craft.request.query('filter') %}
{% set id = craft.request.query('id') %}

{% set js %}
  $(function() {
    var filter = '{{ filter }}';
    var id = '{{ id }}';
    var fieldset;

    $('ul.posts').filters();

    if (filter.length > 0 && id.length > 0) {
      fieldset = $('#filters fieldset.'+filter);
      fieldset.find('h5').click();
      fieldset.find('li > input[value='+id+']').click();
    }
  });
{% endset %}

{% includeJs js %}

{% include "_common/disqus_count.html" %}
