{% from "_macro/nav" import classActive, navLink %}
{% import "_macro/post" as m %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  {% includeCssFile "/css/normalize.css" %}
  {% includeCssFile "/css/main.css" %}
  {% includeCssFile "/css/rrssb.css" %}
  {% includeCssFile "/css/jquery-ui.min.css" %}
  {% includeCssFile "/css/jquery-ui.structure.min.css" %}
  {% includeCssFile "/css/jquery-ui.theme.min.css" %}
</head>
<body class="{{ craft.request.lastSegment | default('home') }}">
  <header>
    <div class="header-wrapper clearfix">
      <div class="logo"></div>
      <div class="headline-wrapper">
        <h1>The Marin Post</h1>
        <h2>Local Voices: Local Choices</h2>
      </div>
    </div>
  </header>
  
  <section id="mini-menu">
    <ul>
      <li class="show-menu">Main Menu</li>
      <li class="show-search">Search</li>
    {% if currentUser %}
      <li class="account"><a href="{{ url('account/profile') }}">My account</a></li>
      <li class="sign-out"><a href="{{ logoutUrl }}">Log out</a></li>
    {% else %}
      <li class="sign-in"><a href="{{ loginUrl }}">Log in</a></li>
    {% endif %}
      <li id="search">
      <fieldset>
        <input type="search"><br>
        <input type="radio" name="search" value="all" checked > All 
        <input type="radio" name="search" value="all" > Blogs 
        <input type="radio" name="search" value="all" > News 
        <input type="radio" name="search" value="all" > Notices 
        <input type="radio" name="search" value="all" > Media 
        <input type="radio" name="search" value="all" > LTRs 
      </fieldset>
      </li>
    </ul>
  </section>

  <nav>
    <ul>
      <li><a href="{{ siteUrl }}" {{ classActive('') }}>Home</a></li>
      <li>{{ navLink('Blog') }}<li>
      <li>{{ navLink('News') }}<li>
      <li>{{ navLink('Notices') }}<li>
      <li>{{ navLink('Media') }}<li>
      <li>{{ navLink('Surveys') }}<li>
      <li>{{ navLink('Letters') }}<li>
      <li>{{ navLink('About') }}<li>
      <li>{{ navLink('Submit') }}<li>
      <li>{{ navLink('Contact') }}<li>
      <li>{{ navLink('Subscribe') }}<li>
    </ul>
    <ul id="sub-nav">
    {% if currentUser %}
      <li class="account"><a href="{{ url('account/profile') }}">My account</a></li>
      <li class="log-out"><a href="{{ logoutUrl }}">Log out</a></li>
    {% else %}
      <li class="sign-in"><a href="{{ loginUrl }}">Sign in</a></li>
    {% endif %}
      <li><a class="show-search">Search</a></li>
    </ul>
  </nav>

  {% block content %}
  {% endblock %}

  <footer id="footer">
    Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built by <a href="http://www.communityventurepartners.org/">Community Venture Partners</a>
  </footer>
  
  {% includeJsFile "/js/jquery.min.js" first %}
  {% includeJsFile "/js/plugins.js" %}
  {% includeJsFile "/js/main.js" %}
  {% includeJsFile "/js/rrssb.min.js" %}
  {% includeJsFile "/js/modernizr.min.js" %}
  {% includeJsFile "/js/jquery-ui.min.js" %}
  {% includeJsFile "/js/filters.js" %}
  {% includeJsFile "/js/form.js" %}
  {% includeJsFile '/js/tags.js' %}
  
  {% if js is defined %}
    {% includeJs js %}
  {% endif %}
  
  {% include "_common/analytics.js" %}
</body>
</html>
