{% import "_common/macros" as n %}
{% import "_entry/macros" as p %}
{% import "_form/macros" as f %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />
  <link rel="icon" 
      type="image/png" 
      href="http://marinpost.org/img/favicon.ico">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% includeCssFile "/css/normalize.css" %}
  {% includeCssFile "/css/jquery-ui.min.css" %}
  {% includeCssFile "/css/jquery-ui.structure.min.css" %}
  {% includeCssFile "/css/jquery-ui.theme.min.css" %}
  {% includeCssResource "lib/redactor/redactor.css" %}
  {% includeCssResource "/s3direct/css/jquery.fileupload.css" %}
  {% includeCssFile "/css/main.css" %}

<!--[if lt IE 9]>
  <script src="/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<![endif]--> <!-- Modernizr with media queries and HTML5shiv for only IE lt 9 -->
</head>
<body class="{{ craft.request.firstSegment | default('home') }}">
  <header>
    <div class="header-wrapper clearfix">
      <a href="/" class="logo-link">
          <div class="logo"></div>
          <div class="headline-wrapper">
            <h1>The Marin Post</h1>
            <h2>The Voice of the Community</h2>
          </div>
      </a>
    </div>
  </header>

  <section id="mini-menu">
    <ul>
      <li class="show-menu">Main Menu</li>
      <li class="show-search">Search</li>
      <div class="clearfix">
      {% if currentUser %}
        <li class="sign-out"><a href="{{ logoutUrl }}">Log out</a></li>
      {% else %}
        <li class="sign-in"><a href="{{ loginUrl }}">Log in</a></li>
        <li class="sign-up"><a href="{{ url('account/register') }}">Sign up</a></li>
      {% endif %}
      </div>
      <li id="search">
        {% include "_common/search" %}
      </li>
    </ul>
  </section>

  {% include "_common/support" %}

  {% block main %}
  {% endblock %}

  <div class="sidebar">
    {% block sidebar %}
    {% endblock %}
  </div>

  <nav>
    <ul>
      <li><a href="{{ siteUrl }}" {{ n.classActive('') }}>Home</a></li>
      <li>{{ n.segmentLink('Blog') }}</li>
      <li>{{ n.segmentLink('Notices') }}</li>
      <li>{{ n.segmentLink('News') }}</li>
      <li>{{ n.segmentLink('Media') }}</li>
      <li>{{ n.segmentLink('Letters') }}</li>
      <li>{{ n.segmentLink('Surveys') }}</li>
      <li class="submit">
          {{ n.pathLink('Submit', 'submit/blog') }}
        <ul>
          <li>{{ n.pathLInk('Blog', 'submit/blog') }}</li>
          <li>{{ n.pathLInk('Notice', 'submit/notice') }}</li>
          <li>{{ n.pathLInk('News', 'submit/news') }}</li>
          <li>{{ n.pathLInk('Media', 'submit/media') }}</li>
          <li>{{ n.pathLInk('Letter', 'submit/letter') }}</li>
        </ul>
      </li>
      <li>{{ n.segmentLink('About') }}
        <ul>
          <li>{{ n.pathLink('About Us', 'about') }}</li>
          <li>{{ n.pathLink('Staff & Volunteers', 'about/staff') }}</li>
          <li>{{ n.pathLink('Advisors', 'about/advisors') }}</li>
          <li>{{ n.pathLink('Contributors', 'about/contributors') }}</li>
          <li>{{ n.pathLink('Terms of Use', 'about/terms') }}</li>
          <li>{{ n.pathLink('Privacy Policy', 'about/privacy') }}</li>
          <li>{{ n.pathLink('Subscribe', 'about/subscribe') }}</li>
          <li>{{ n.pathLink('Sponsor Us', 'about/sponsor') }}</li>
          <li>{{ n.pathLink('Advertise', 'about/advertise') }}</li>
        </ul>
      </li>
      <li>{{ n.segmentLink('Contact') }}</li>
      {% if currentUser %}
        <li class="bottom-only sign-out "><a href="{{ logoutUrl }}">Log out</a></li>
        <li class="account">
          {{ n.pathLink('My Account', 'account/information') }}
          <ul>
            <li>{{ n.pathLInk('My Account', 'account/information') }}</li>
            <li>{{ n.pathLInk('Email Address', 'account/email') }}</li>
            <li>{{ n.pathLInk('Password', 'account/password') }}</li>
          {% if currentUser.inGroup('contributor') %}
            <li>{{ n.pathLInk('Profile', 'account/profile') }}</li>
          {% endif %}
            <li>{{ n.pathLInk('My Blog', 'account/blog') }}</li>
            <li>{{ n.pathLInk('My Notices', 'account/notices') }}</li>
            <li>{{ n.pathLInk('My News', 'account/news') }}</li>
            <li>{{ n.pathLInk('My Media', 'account/media') }}</li>
            <li>{{ n.pathLInk('My Letters', 'account/letters') }}</li>
            <li>{{ n.pathLInk('My Subscription', 'account/subscription') }}</li>
          </ul>
        </li>
      {% else %}
        <li class="account"><a href="{{ loginUrl }}">My Account</a></li>
        <li class="bottom-only sign-in"><a href="{{ loginUrl }}">Log in</a></li>
        <li class="bottom-only sign-up"><a href="{{ url('account/register') }}">Sign up</a></li>
      {% endif %}
      <li class="bottom-only"><a href="#" class="show-search">Search</a></li>
    </ul>
  </nav>

  <footer class="clearfix" id="footer">
    Copyright {{ now.year }} <a href="http://www.communityventurepartners.org/">Community Venture Partners, Inc.</a> All rights reserved.
  </footer>

  {% includeJsFile "/js/jquery.min.js" first %}
  {% includeJsFile "/js/jquery-ui.min.js" %}
  {% includeJsFile "/js/plugins.js" %}

  {% includeJsResource "lib/redactor/redactor.js" %}
  {% includeJsResource "lib/redactor/plugins/fullscreen.js" %}
  {% includeJsResource "/s3direct/js/jquery.iframe-transport.js" %}
  {% includeJsResource "/s3direct/js/jquery.fileupload.js" %}
  {% includeJsResource "/s3direct/js/jquery.fileupload-process.js" %}
  {% includeJsResource "/s3direct/js/jquery.fileupload-validate.js" %}
  {% includeJsResource "s3direct/js/s3direct.js" %}

  {% includeJsFile "/js/main.js" %}
  {% includeJsFile "/js/filters.js" %}
  {% includeJsFile "/js/letters.js" %}
  {% includeJsFile "/js/form-categories.js" %}
  {% includeJsFile "/js/form-wysiwyg.js" %}
  {% includeJsFile "/js/form-textarea.js" %}
  {% includeJsFile "/js/forms.js" %}
  {% includeJsFile '/js/tags.js' %}
  {% includeJsFile '/js/contact.js' %}
  {% includeJsFile '/js/about.js' %}
  {% includeJsFile '/js/account.js' %}
  {% includeJsFile '/js/home.js' %}

  {# includeJsFile '/js/ga.js' #}
</body>
</html>
