{% import "_common/macros" as n %}
{% import "_entry/macros" as p %}
{% import "_form/macros" as f %}
{% set entriesPerPage = n.siteDefault('entriesPerPage').__toString %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title | default(siteName) }}</title>
  <link rel="home" href="{{ siteUrl }}" />
  <link rel="icon" type="image/png" href="{{ siteUrl }}img/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="The Marin Post" href="{{ siteUrl }}feed.rss" />
  <link rel="alternate" type="text/xml" title="The Marin Post" href="{{ siteUrl }}feed.rss" />
  <link rel="alternate" type="application/atom+xml" title="The Marin Post" href="{{ siteUrl }}feed.rss" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if craft.mpadmin.minimeeEnabled %} {# Minimee requires a local filesystem path #}

    {{ craft.minimee.css([
        '/var/www/marinpost.org/public/css/normalize.css',
        '/var/www/marinpost.org/public/css/jquery-ui.min.css',
        '/var/www/marinpost.org/public/css/jquery-ui.structure.min.css',
        '/var/www/marinpost.org/public/css/jquery-ui.theme.min.css',
        '/var/www/marinpost.org/public/css/slick.css',
        '/var/www/marinpost.org/public/css/slick-theme.css',
        '/var/www/marinpost.org/craft/plugins/s3direct/resources/css/jquery.fileupload.css',
        '/var/www/marinpost.org/craft/plugins/s3direct/resources/css/s3direct.css',
        '/var/www/marinpost.org/public/css/redactor.css',
        '/var/www/marinpost.org/public/css/main.css',
      ])
    }}

  {% else %} {# This must be kept in sync with the IF clause #}

    <link rel="stylesheet" href="{{ siteUrl }}css/normalize.css">
    <link rel="stylesheet" href="{{ siteUrl }}css/jquery-ui.min.css">
    <link rel="stylesheet" href="{{ siteUrl }}css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="{{ siteUrl }}css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="{{ siteUrl }}css/slick.css">
    <link rel="stylesheet" href="{{ siteUrl }}css/slick-theme.css">
    <link rel="stylesheet" href="{{ siteUrl }}cpresources/s3direct/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ siteUrl }}cpresources/s3direct/css/s3direct.css">
    <link rel="stylesheet" href="{{ siteUrl }}css/redactor.css">
    <link rel="stylesheet" href="{{ siteUrl }}css/main.css">

  {% endif %}

<!--[if lt IE 9]>
  <script src="{{ siteUrl }}js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<![endif]--> <!-- Modernizr with media queries and HTML5shiv for only IE lt 9 -->
</head>
<body class="{% block bodyClass %}{{ craft.request.firstSegment | default('home') }}{% endblock %}">
  <header>
    <div class="header-wrapper clearfix">
      <a href="/" class="logo-link">
          <div class="logo"></div>
          <div class="headline-wrapper">
            <h1>The Marin Post</h1>
            <h2>The Voice of the Community</h2>
          </div>
      </a>
    </div>
  </header>

  <nav class="clearfix">
    <span class="close">X</span>
    <ul>
      <li><a href="{{ siteUrl }}" {{ n.classActive('') }}>Home</a></li>
      <li>{{ n.segmentLink('Blogs', 'blog') }}</li>
      <li>{{ n.segmentLink('Notices') }}</li>
      <li>{{ n.segmentLink('News') }}</li>
      <li>{{ n.segmentLink('Media') }}</li>
      <li>{{ n.segmentLink('Letters') }}</li>
      <li>{{ n.segmentLink('Surveys') }}</li>
      <li class="submit">
          <span class="desktop">{{ n.pathLink('Post', 'submit/blog') }}</span>
          <span class="mobile">Post</span>
        <ul>
          <li>{{ n.pathLInk('Blog', 'submit/blog') }}</li>
          <li>{{ n.pathLInk('Notice', 'submit/notice') }}</li>
          <li>{{ n.pathLInk('News', 'submit/news') }}</li>
          <li>{{ n.pathLInk('Media', 'submit/media') }}</li>
          <li>{{ n.pathLInk('Letter', 'submit/letter') }}</li>
        </ul>
      </li>
      <li>
       <span class="desktop">{{ n.segmentLink('About') }}</span>
       <span class="mobile">About</span>
        <ul>
          <li>{{ n.pathLink('About Us', 'about') }}</li>
          <li>{{ n.pathLink('Staff & Volunteers', 'about/staff') }}</li>
          <li>{{ n.pathLink('Contributors', 'about/contributors') }}</li>
          <li>{{ n.pathLink('Guest Writers', 'about/guests') }}</li>
          <li>{{ n.pathLink('Terms of Use', 'about/terms') }}</li>
          <li>{{ n.pathLink('Privacy Policy', 'about/privacy') }}</li>
        {% if not currentUser %}
          <li>{{ n.pathLink('Sign Up', 'account/register') }}</li>
        {% endif %}
          <li>{{ n.pathLink('Subscribe', 'about/subscribe') }}</li>
          <li>{{ n.pathLink('Sponsor Us', 'about/sponsor') }}</li>
          <li>{{ n.pathLink('Advertise', 'about/advertise') }}</li>
        </ul>
      </li>
      <li>{{ n.segmentLink('Contact') }}</li>
      {% if currentUser %}
        <li class="bottom-only sign-out "><a href="{{ logoutUrl }}">Log out</a></li>
        <li class="account">
          <span class="desktop">{{ n.pathLink('My Account', 'account/information') }}</span>
          <span class="mobile">My Account</span>
          <ul>
            <li>{{ n.pathLInk('My Account', 'account/information') }}</li>
            <li>{{ n.pathLInk('Email Address', 'account/email') }}</li>
            <li>{{ n.pathLInk('Password', 'account/password') }}</li>
          {% if currentUser.inGroup('contributor') %}
            <li>{{ n.pathLInk('Profile', 'account/profile') }}</li>
          {% endif %}
            <li>{{ n.pathLInk('My Blog', 'account/blog') }}</li>
            <li>{{ n.pathLInk('My Notices', 'account/notices') }}</li>
            <li>{{ n.pathLInk('My News', 'account/news') }}</li>
            <li>{{ n.pathLInk('My Media', 'account/media') }}</li>
            <li>{{ n.pathLInk('My Letters', 'account/letters') }}</li>
            <li>{{ n.pathLInk('My Images', 'account/images') }}</li>
            <li>{{ n.pathLInk('My Documents', 'account/documents') }}</li> 
            <li>{{ n.pathLInk('My Subscription', 'account/subscription') }}</li>
            <li>{{ n.pathLInk('Delete Account', 'account/delete') }}</li>
          </ul>
        </li>
      {% else %}
        <li class="account"><a href="{{ loginUrl }}">My Account</a></li>
        <li class="bottom-only sign-in"><a href="{{ loginUrl }}">Log in</a></li>
        <li class="bottom-only sign-up"><a href="{{ url('account/register') }}">Sign up</a></li>
      {% endif %}
      <li>{{ n.segmentLink('Donate') }}</li>
      <li class="bottom-only"><a href="#" class="show-search">Search</a></li>
    </ul>
  </nav>

  <section id="mini-menu">
    <ul>
      <li class="show-menu">Menu</li>
      <li class="show-search">Search <img src="/img/search-black.png" alt="search-icon"/></li>
      <div class="clearfix">
      {% if currentUser %}
        <li class="sign-out"><a href="{{ logoutUrl }}">Log out</a></li>
      {% else %}
        <li class="sign-in"><a href="{{ loginUrl }}">Log in</a></li>
        <li class="sign-up"><a href="{{ url('account/register') }}">Sign up</a></li>
      {% endif %}
      </div>
      <li id="search">
        {% include "_common/search" %}
      </li>
    </ul>
  </section>

  {% include "_common/support" %}

  {% block main %}
  {% endblock %}

  <div class="sidebar">
    {% block sidebar %}
    {% endblock %}
  </div>

  <footer class="clearfix" id="footer">
    Copyright {{ now.year }} <a href="https://www.communityventurepartners.org/">Community Venture Partners, Inc.</a> All rights reserved.
  </footer>

  {% if craft.mpadmin.minimeeEnabled %} {# Minimee requires a local filesystem path #}

    {{ craft.minimee.js([
        '/var/www/marinpost.org/public/js/jquery.min.js',
        '/var/www/marinpost.org/public/js/jquery-ui.min.js',
        '/var/www/marinpost.org/public/js/slick.min.js',
        '/var/www/marinpost.org/craft/plugins/s3direct/resources/js/jquery.iframe-transport.js',
        '/var/www/marinpost.org/craft/plugins/s3direct/resources/js/jquery.fileupload.js',
        '/var/www/marinpost.org/craft/plugins/s3direct/resources/js/jquery.fileupload-process.js',
        '/var/www/marinpost.org/craft/plugins/s3direct/resources/js/jquery.fileupload-validate.js',
        '/var/www/marinpost.org/craft/plugins/s3direct/resources/js/s3direct.js',
        '/var/www/marinpost.org/public/js/redactor.js',
        '/var/www/marinpost.org/public/js/redactor/counter.js',
        '/var/www/marinpost.org/public/js/redactor/fontcolor.js',
        '/var/www/marinpost.org/public/js/redactor/fontfamily.js',
        '/var/www/marinpost.org/public/js/redactor/fontsize.js',
        '/var/www/marinpost.org/public/js/redactor/fullscreen.js',
        '/var/www/marinpost.org/public/js/redactor/limiter.js',
        '/var/www/marinpost.org/public/js/redactor/underline.js',
        '/var/www/marinpost.org/public/js/redactor/addimage.js',
        '/var/www/marinpost.org/public/js/console.js',
        '/var/www/marinpost.org/public/js/home.js',
        '/var/www/marinpost.org/public/js/search.js',
        '/var/www/marinpost.org/public/js/about.js',
        '/var/www/marinpost.org/public/js/filters.js',
        '/var/www/marinpost.org/public/js/letters.js',
        '/var/www/marinpost.org/public/js/account.js',
        '/var/www/marinpost.org/public/js/userform.js',
        '/var/www/marinpost.org/public/js/contentform.js',
        '/var/www/marinpost.org/public/js/contact.js',
        '/var/www/marinpost.org/public/js/main.js',
        '/var/www/marinpost.org/public/js/subscription.js',
        '/var/www/marinpost.org/public/js/stripeform.js',
        '/var/www/marinpost.org/public/js/csrf.js',
        '/var/www/marinpost.org/public/js/ga.js',
      ])
    }}

  {% else %} {# This must be kept in sync with the IF clause #}

    <script src="{{ siteUrl }}js/jquery.min.js"></script>
    <script src="{{ siteUrl }}js/jquery-ui.min.js"></script>
    <script src="{{ siteUrl }}js/slick.min.js"></script>
    <script src="{{ siteUrl }}cpresources/s3direct/js/jquery.iframe-transport.js"></script>
    <script src="{{ siteUrl }}cpresources/s3direct/js/jquery.fileupload.js"></script>
    <script src="{{ siteUrl }}cpresources/s3direct/js/jquery.fileupload-process.js"></script>
    <script src="{{ siteUrl }}cpresources/s3direct/js/jquery.fileupload-validate.js"></script>
    <script src="{{ siteUrl }}cpresources/s3direct/js/s3direct.js"></script>
    <script src="{{ siteUrl }}js/redactor.js"></script>
    <script src="{{ siteUrl }}js/redactor/counter.js"></script>
    <script src="{{ siteUrl }}js/redactor/fontcolor.js"></script>
    <script src="{{ siteUrl }}js/redactor/fontfamily.js"></script>
    <script src="{{ siteUrl }}js/redactor/fontsize.js"></script>
    <script src="{{ siteUrl }}js/redactor/fullscreen.js"></script>
    <script src="{{ siteUrl }}js/redactor/limiter.js"></script>
    <script src="{{ siteUrl }}js/redactor/underline.js"></script>
    <script src="{{ siteUrl }}js/redactor/addimage.js"></script>
    <script src="{{ siteUrl }}js/console.js"></script>
    <script src="{{ siteUrl }}js/home.js"></script>
    <script src="{{ siteUrl }}js/search.js"></script>
    <script src="{{ siteUrl }}js/about.js"></script>
    <script src="{{ siteUrl }}js/filters.js"></script>
    <script src="{{ siteUrl }}js/letters.js"></script>
    <script src="{{ siteUrl }}js/account.js"></script>
    <script src="{{ siteUrl }}js/userform.js"></script>
    <script src="{{ siteUrl }}js/contentform.js"></script>
    <script src="{{ siteUrl }}js/contact.js"></script>
    <script src="{{ siteUrl }}js/main.js"></script>
    <script src="{{ siteUrl }}js/subscription.js"></script>
    <script src="{{ siteUrl }}js/stripeform.js"></script>
    <script src="{{ siteUrl }}js/csrf.js"></script>
    <script src="{{ siteUrl }}js/ga.js"></script>
  {% endif %}

  {% block bodyEnd %}
  {% endblock %}

  <script>
    $(function() {
        $(document).csrf({
          csrfTokenName: "{{ craft.config.csrfTokenName|e('js') }}",
          csrfTokenValue: "{{ craft.request.csrfToken|e('js') }}"
        });
    });
  </script>
</body>
</html>
