{% macro classActive(slug, segmentNo) %}
  {% set segmentNo = segmentNo | default(1) %}
  {% set segment = craft.request.segment(segmentNo | default(1)) %}
  {{- segment == slug ? 'class="active"' : null -}}
{% endmacro %}

{% macro segmentLink(name, segmentNo) %}
  {% from _self import classActive %}
  {% set slug = name | lower %}

  {% spaceless %}
    <a href="{{ url(slug) }}" {{ classActive(slug, segmentNo) }}>{{ name }}</a>
  {% endspaceless %}
{% endmacro %}

{% macro pathLink(name, path) %}
  {% set active = path == craft.request.path ? 'class="active"' : null %}

  {% spaceless %}
    <a href="{{ url(path) }}" {{ active }}>{{ name }}</a>
  {% endspaceless %}
{% endmacro %}

{% macro searchSection(section) %}
  {% if not section %}
    {{- 'checked' -}}
  {% else %}
    {% set firstSegment = craft.request.firstSegment %}
    {{- firstSegment == section ? 'checked' : '' -}}
  {% endif %}
{% endmacro %}

{% macro activeLetterDate(url, first) %}
  {% set first = first | default(false) %}

  {% if '/'~craft.request.path == url %}
    class="active"
  {% elseif craft.request.path == "letters" and first %}
    class="active"
  {% endif %}
{% endmacro %}

{% macro arrowLink(path, text) %}
  {% set current = craft.request.path %}

  {% if path == current %}
    <h5 class="active">{{ text }}</h5>
  {% else %}
    <h5><a href="/{{ path }}">{{ text }}</a></h5>
  {% endif %}
{% endmacro %}

{% macro siteMessage(path) %}
  {% set path = path | default(craft.request.path) %}
  {% set message = siteMessages.siteMessages.path(path).first %}
  {{ message ? message.text : null }}
{% endmacro %}
