{% macro classActive(slug, segmentNo) %}
  {% set segmentNo = segmentNo | default(1) %}
  {% set segment = craft.request.segment(segmentNo | default(1)) %}
  {{- segment == slug ? 'class="active"' : null -}}
{% endmacro %}

{% macro segmentLink(name, segmentNo) %}
  {% from _self import classActive %}
  {% set slug = name | lower %}

  {% spaceless %}
    <a href="{{ url(slug) }}" {{ classActive(slug, segmentNo) }}>{{ name }}</a>
  {% endspaceless %}
{% endmacro %}

{% macro pathLink(name, path) %}
  {% set active = path == craft.request.path ? 'class="active"' : null %}

  {% spaceless %}
    <a href="{{ url(path) }}" {{ active }}>{{ name }}</a>
  {% endspaceless %}
{% endmacro %}

{% macro searchSection(section) %}
  {% if not section %}
    {{- 'checked' -}}
  {% else %}
    {% set firstSegment = craft.request.firstSegment %}
    {{- firstSegment == section ? 'checked' : '' -}}
  {% endif %}
{% endmacro %}

{% macro activeLetterDate(url, first) %}
  {% set first = first | default(false) %}

  {% if '/'~craft.request.path == url %}
    class="active"
  {% elseif craft.request.path == "letters" and first %}
    class="active"
  {% endif %}
{% endmacro %}

{% macro arrowLink(path, text) %}
  {% set current = craft.request.path %}

  {% if path == current %}
    <h5 class="active">{{ text }}</h5>
  {% else %}
    <h5><a href="/{{ path }}">{{ text }}</a></h5>
  {% endif %}
{% endmacro %}

{% macro siteMessage(path) %}
  {% set path = path | default(craft.request.path) %}
  {% set message = siteMessages.siteMessage.path(path).first %}
  {{ message ? message.text : null }}
{% endmacro %}

{% macro siteDefault(key) %}
{% spaceless %}
  {% set default = siteDefaults.siteDefault.key(key).first %}
  {{ default ? default.value : null }}
{% endspaceless %}
{% endmacro %}

{% macro prevNext(entry) %}
  {% set locations = craft.request.query('locations') %}
  {% set topics = craft.request.query('topics') %}
  {% set date = craft.request.query('date') %}

  {% if locations or topics or date %}
    {% set url = '/'~craft.request.segment(1)~'?locations='~locations~'&topics='~topics~'&date='~date %}

    <span class="prev-next">
      <a href="{{ url }}">&lt; Back to List</a>
    </span>

  {% else %}
    {% set criteria = { section: entry.section, order: 'postDate' } %}
    {% set prev = entry.getPrev(criteria) %}
    {% set next = entry.getNext(criteria) %}

    {% if prev or next %}
      <span class="prev-next">
        {% if prev %}
          <a href="{{ prev.url }}">&lt; Previous</a>

          {% if next %}
            |
          {% endif %}
        {% endif %}

        {% if next %}
          <a href="{{ next.url }}">Next &gt;</a>
        {% endif %}
      </span>

    {% endif %}
  {% endif %}
{% endmacro %}
