<form action="/search" method="GET">
  <fieldset>
    <input type="search" name="query" autocomplete="off"><br>
    <input type="radio" name="section" value="" {{ n.searchSection('') }}> All
    <input type="radio" name="section" value="blog" {{ n.searchSection('blog') }}> Blogs
    <input type="radio" name="section" value="news" {{ n.searchSection('news') }}> News
    <input type="radio" name="section" value="notices" {{ n.searchSection('notices') }}> Notices
    <input type="radio" name="section" value="media" {{ n.searchSection('media') }}> Media
    <input type="radio" name="section" value="letters" {{ n.searchSection('letters') }}> LTRs
  </fieldset>
</form>
