<div id="share" class="clearfix">
	<ul class="clearfix">
		<li><a href="https://www.facebook.com" target="_blank"><img src="/img/social-facebook-01.png" alt="social-facebook-01" /></a></li>
		<li><a href="http://linkedin.com" target="_blank"><img src="/img/social-linkedin-01.png" alt="social-facebook-01" /></a></li>
		<li><a href="https://twitter.com/share" target="_blank"><img src="/img/social-twitter-01.png" alt="social-facebook-01" /></a></li>
		<li><a href="https://plus.google.com/share" target="_blank"><img src="/img/social-gplus-01.png" alt="social-facebook-01" /></a></li>
		<li><a href="javascript:window.print()"><img src="/img/social-print-01.png" alt="social-facebook-01" /></a></li>
		<li><a href="mailto:"><img src="/img/social-email-01.png" alt="social-facebook-01" /></a></li>
	</ul>
</div>
